.ext-webkit {

  * {

    &:focus-visible {
      outline: auto !important;
      outline-offset: .1em;

      &.x-form-focus {
        outline: none !important;
      }
    }
  }

  .x-form-check-wrap:focus-within:has(:focus-visible) {

    label:before {
      outline: auto !important;
      outline-offset: .1em;
    }
  }
}
