.modx-browser-tree {
  background: $white;
}
.x-window .modx-browser-tree {
  border-right: 1px solid $borderColor;
  border-radius: 0;
  box-shadow: none;
}
.modx-browser-view-ct {
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  font: $fontSmall;
}
.x-window .modx-browser-view-ct {
  border-radius: 0;
  box-shadow: none;
}
.modx-browser-thumb-wrap {
  border: 1px solid transparent;
  float: left;
  margin: 4px 0 4px 4px;
  overflow: hidden;
  padding: 4px;
}
.modx-browser-thumb-wrap.x-view-over {
  border: 1px solid $brandHover;
  padding: 4px;
}
.modx-browser-thumb-wrap.x-view-selected {
  background: $brandSelectedBg;
  border: 1px solid $brandSelectedColor;
  padding: 4px;
}
.modx-browser-thumb-wrap.x-view-selected .modx-browser-thumb {
  background: $white;
}
.modx-browser-thumb-wrap.x-view-selected span {
  color: $brandSelectedColor;
}
  .modx-browser-thumb {
    border: 1px solid $borderColor;
    height: 80px;
    line-height: 80px;
    padding: 5px;
    text-align: center;
    width: 100px;
  }
    .modx-browser-thumb img {
      vertical-align: middle;
    }
  .modx-browser-thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
  }
.modx-browser-list-item {
  padding: 0 5px 0 5px;
}
.modx-browser-list-item.x-view-over > span {
  background: $brandHover;
}
.modx-browser-list-item.x-view-selected > span {
  background: $brandSelectedBg;
  border-bottom: 1px solid $brandSelectedColor;
  color: $brandSelectedColor;
}
  .modx-browser-list-item > span {
    background-position: center left !important;
    border-bottom: 1px solid $borderColor;
    clear: both;
    display: block;
    min-height: 16px;
    padding: 5px 0 5px 20px;
    position: relative;
  }
  .modx-browser-list-item > span:before {
    font-size: 14px;
    position: absolute; left: 2px;
  }
    .modx-browser-list-item > span span {
      display: inline-block;
      font: $fontSmall;
      padding-top: 2px;
    }
    .modx-browser-list-item > span span.file-size,
    .modx-browser-list-item > span span.image-size {
      float: right;
      width: 13%;
    }
.modx-browser-view-ct .loading-indicator {
  background-position: left;
  background-repeat: no-repeat;
  font-size: 11px;
  margin: 10px;
  padding-left: 20px;
}
.modx-browser-details-ct {
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
}
.x-window .modx-browser-details-ct {
  border-left: 1px solid $borderColor;
  border-radius: 0;
  box-shadow: none;
}
.modx-browser-detail-thumb {
  cursor: pointer;
  padding: 5px;
}
  .modx-browser-detail-thumb img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
.modx-browser-details-info {
  border-top: 1px solid $borderColor;
  font: $fontSmall;
  padding: 15px;
  text-align: left;
}
.modx-browser-details-info b {
  color: #555;
  display: block;
  margin-bottom: 2px;
}
.modx-browser-details-info span {
  display: block;
  margin-bottom: 10px;
}
.modx-browser-fullview {
  text-align: center;
}