.modx-browser-rte {
  background: $white;
}

.modx-browser-tree {
  background: $white;
  border-radius: $borderRadius;

  .x-window &,
  .modx-browser-rte & {
    border-right: 1px solid $borderColor;
    border-radius: 0;
    box-shadow: none;
  }
}

.modx-browser-view-ct {
  background: $white;
  border-radius: $borderRadius;
  font: $fontSmall;

  .x-window &,
  .modx-browser-rte & {
    border-radius: 0;
    box-shadow: none;
  }
}

.modx-browser-thumb-wrap {
  border: 1px solid $brandHover;
  background: $white;
  float: left;
  margin: 4px 0 4px 4px;
  overflow: hidden;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

.modx-browser-thumb-wrap .x-view-over {
  border: 1px solid $brandSelectedColor;
  padding: 4px;
}

.modx-browser-thumb-wrap .x-view-selected {
  background: $brandSelectedBg;
  border: 1px solid $brandSelectedColor;
  padding: 4px;
}

.modx-browser-thumb-wrap .x-view-selected .modx-browser-thumb {
  background: $white;
}

.modx-browser-thumb-wrap .x-view-selected span {
  color: $brandSelectedColor;
}

.modx-browser-thumb {
  border: 1px solid $borderColor;
  height: 100px;
  line-height: 100px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.modx-browser-thumb img {
  vertical-align: middle;
  background-color: $silver;
  background-image: url($imgPath + 'modx-theme/transparency-pattern.png');
}

.modx-browser-thumb-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
}

.modx-browser-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: $softGray;

  .details & {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    font-size: 24px;
    overflow: hidden;
  }
}

.modx-browser-list-item {
  padding: 0 5px 0 5px;
}

.modx-browser-list-item .x-view-over>span {
  background: $brandHover;
}

.modx-browser-list-item .x-view-selected>span {
  background: $brandSelectedBg;
  border-bottom: 1px solid $brandSelectedColor;
  color: $brandSelectedColor;
}

.modx-browser-list-item>span {
  background-position: center left !important;
  border-bottom: 1px solid $borderColor;
  clear: both;
  display: block;
  min-height: 16px;
  padding: 5px 0 5px 20px;
  position: relative;
}

.modx-browser-list-item > span:before {
  font-size: 14px;
  position: absolute;
  left: 2px;
}

.modx-browser-list-item > span span {
  display: inline-block;
  font: $fontSmall;
  padding-top: 2px;
}

.modx-browser-list-item > span span.file-size,
.modx-browser-list-item > span span.image-size {
  float: right;
  width: 13%;
}

.modx-browser-view-ct .loading-indicator {
  background-position: left;
  background-repeat: no-repeat;
  font-size: 11px;
  margin: 10px;
  padding-left: 20px;
}

.modx-browser-pathbbar {

  /* yeah, don't blame me that the toolbar is a table */
  table,
  tbody,
  tr,
  td {
    display: block;
  }

  .x-toolbar-left {

    .x-toolbar-left-row {

      /* we need 4 classes to override the !important height of extjs default theme */
      td.x-toolbar-cell {
        position: relative;

        &:before {
          @extend %pseudo-font;

          content: fa-content($fa-var-clipboard);
          font-size: 14px;
          opacity: .6;
          filter: alpha(opacity=60); /* for IE <= 8 */
          position: absolute;
          top: 50%;
          left: 0;
          text-align: center;
          width: 30px;
        }
      }

      .modx-browser-filepath {
        background: transparent;
        box-sizing: border-box;
        border-radius: 0;
        border: 0;
        border-top: 1px solid $lightGray;
        margin: 0 !important;
        padding-left: 30px; /* for the icon */
        width: 100%;
        height: 32px !important;
      }
    }
  }
}

.modx-browser-details-ct {
  background: $white;
  border-radius: $borderRadius;

  .x-window &,
  .modx-browser-rte & {
    border-left: 1px solid $borderColor;
    border-radius: 0;
    box-shadow: none;
  }
}

.modx-browser-detail-thumb {
  color: $black;
  cursor: default;
  padding: 5px;
  position: relative;

  &.preview {
    cursor: pointer;

    &:before {
      @extend %pseudo-font;

      content: fa-content($fa-var-search);
      font-size: 56px;
      margin-top: -28px; /* half of the height to center vertically with top 50% */
      opacity: 0;
      filter: alpha(opacity=0); /* for IE <= 8 */
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      width: 100%;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: opacity .25s;
    }

    &:hover:before {
      opacity: .6;
      filter: alpha(opacity=60); /* for IE <= 8 */
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: $silver;
    background-image: url($imgPath + 'modx-theme/transparency-pattern.png');
  }
}

.modx-browser-details-info {
  border-top: 1px solid $borderColor;
  font: $fontSmall;
  padding: 15px;
  text-align: left;

  b {
    color: $darkestGray;
    display: block;
    margin-bottom: 2px;
  }

  span {
    display: block;
    margin-bottom: 10px;
  }
}

.modx-browser-fullview {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: $silver;
    background-image: url($imgPath + 'modx-theme/transparency-pattern.png');
  }
}
