@import "font-awesome/variables";
@import "font-awesome/mixins";

/* icons for the top button bar */
/* trash */
.x-icon-trash > em > button:before {
  @include icon($trash);
}
/* new resource */
.x-icon-file-alt > em > button:before {
  @include icon($file-alt);
}
/* new weblink */
.x-icon-link > em > button:before {
  @include icon($link);
}
/* new symlink */
.x-icon-copy > em > button:before {
  @include icon($copy);
}
/* new static resource */
.x-icon-file-text-alt > em > button:before {
  @include icon($file-text-alt);
}
/* new template */
.x-icon-columns > em > button:before {
  @include icon($columns);
}
/* new TV */
.x-icon-list-alt > em > button:before {
  @include icon($list-alt);
}
/* new chunk */
.x-icon-th-large > em > button:before {
  @include icon($th-large);
}
/* new snippet */
.x-icon-code > em > button:before {
  @include icon($code);
}
/* new plugin */
.x-icon-gears > em > button:before {
  @include icon($cogs);
}
/* new category */
.x-icon-folder-close > em > button:before {
  @include icon($folder-close);
}
/* alignment overrides */
#modx-leftbar .x-toolbar-ct .x-btn.x-icon-copy > em > button {
  top: 5px;
  left: 2px;
}
#modx-leftbar .x-toolbar-ct .x-btn.x-icon-link > em > button {
  left: 2px;
}
#modx-leftbar .x-toolbar-ct .x-btn {
  border-radius: 15px;
  background: $almostWhite;
  padding: 7px;
  width: 16px;
  height: 16px;
  border: 1px solid $softGrey;
  opacity: .7;
  display: inline-block;
  position: relative;
  
  & > em > button {
    font-size: 15px;
    text-shadow: 0 !important;
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 18px;
    top: 6px;
    left: 3px;
  }

  &:hover {
    opacity: 1;
  }

  span {
    vertical-align: middle;
  }
}
#modx-leftbar #emptifier.x-item-disabled  {
  opacity: .4 !important;
}

/* Action buttons */
.actions {
  bottom: 8px;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.actions li {
  float: left;
  line-height: 0.7;
  margin-right: 2px;
}

.actions button,
.inline-button {
  background: #dcdcdc;
  background: -moz-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #888888;
  cursor: pointer;
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.actions button:hover,
.inline-button:hover {
  background: #e0e0e0;
  background: -moz-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  color: #565550;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#e0e0e0,GradientType=0);
}

.actions button:active,
.inline-button:active {
  background-color: #ffffff;
  background-image: none;
  box-shadow: 0 0 3px #aaaaaa inset;
}

.actions button.orange {
  background: #febb4a;
  background: -moz-linear-gradient(center bottom, #febb4a 0%, #feda71 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: -o-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feda71), color-stop(100%, #febb4a));
  background: -webkit-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  border-color: #f5b74e #e7a93f #dfa138;
  color: #996633;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#feda71,endColorstr=#febb4a,GradientType=0);
  text-shadow: 0 1px 0 #fee1a0;
}

.actions button.orange:hover {
  background: #fec95b;
  background: -moz-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: -o-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fee1a0), color-stop(100%, #fec95b));
  background: -webkit-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fee1a0,endColorstr=#fec95b,GradientType=0);
}

.inline-button.green {
  background: #9fcb57;
  background: -moz-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: -o-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e9a4), color-stop(100%, #9fcb57));
  background: -webkit-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  border: 1px solid #85a948;
  color: #556f14 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d7e9a4,endColorstr=#9fcb57,GradientType=0);
  text-shadow: 0 1px 0 #d7e9a4;
}

.inline-button.green:hover {
  background: #9fcb57;
  background: -moz-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: -o-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6efd1), color-stop(100%, #9fcb57));
  background: -webkit-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6efd1,endColorstr=#9fcb57,GradientType=0);
}