#modx-leftbar .x-toolbar-ct .x-btn-icon,
#modx-leftbar .x-toolbar-ct .x-btn {
  border-radius: 15px;
  background: $almostWhite;
  padding: 0;
  border-color: $softGrey;
  padding: 7px !important;
  opacity: .7;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  text-shadow: 0;

  &:hover {
    opacity: 1;
  }

  span {
    font-size: 14px;
    padding: 2px 10px 0 0;
    vertical-align: middle;
  }
}
#modx-leftbar #emptifier {
  width: auto;

  span {
    font-size: 12px;
    padding: 2px 0 0 6px;
    vertical-align: baseline;
  }
}

/* Action buttons */
.actions {
  bottom: 8px;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.actions li {
  float: left;
  line-height: 0.7;
  margin-right: 2px;
}

.actions button,
.inline-button {
  background: #dcdcdc;
  background: -moz-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #888888;
  cursor: pointer;
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.actions button:hover,
.inline-button:hover {
  background: #e0e0e0;
  background: -moz-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, #e0e0e0 0%, #fcfcfc 100%);
  color: #565550;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#e0e0e0,GradientType=0);
}

.actions button:active,
.inline-button:active {
  background-color: #ffffff;
  background-image: none;
  box-shadow: 0 0 3px #aaaaaa inset;
}

.actions button.orange {
  background: #febb4a;
  background: -moz-linear-gradient(center bottom, #febb4a 0%, #feda71 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: -o-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feda71), color-stop(100%, #febb4a));
  background: -webkit-linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  background: linear-gradient(center bottom, #febb4a 0%, #feda71 100%);
  border-color: #f5b74e #e7a93f #dfa138;
  color: #996633;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#feda71,endColorstr=#febb4a,GradientType=0);
  text-shadow: 0 1px 0 #fee1a0;
}

.actions button.orange:hover {
  background: #fec95b;
  background: -moz-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: -o-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fee1a0), color-stop(100%, #fec95b));
  background: -webkit-linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  background: linear-gradient(center bottom, #fec95b 0%, #fee1a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fee1a0,endColorstr=#fec95b,GradientType=0);
}

.inline-button.green {
  background: #9fcb57;
  background: -moz-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: -o-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e9a4), color-stop(100%, #9fcb57));
  background: -webkit-linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  background: linear-gradient(center bottom, #9fcb57 0%, #d7e9a4 100%);
  border: 1px solid #85a948;
  color: #556f14 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d7e9a4,endColorstr=#9fcb57,GradientType=0);
  text-shadow: 0 1px 0 #d7e9a4;
}

.inline-button.green:hover {
  background: #9fcb57;
  background: -moz-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: -o-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6efd1), color-stop(100%, #9fcb57));
  background: -webkit-linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  background: linear-gradient(center bottom, #9fcb57 0%, #e6efd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6efd1,endColorstr=#9fcb57,GradientType=0);
}