#changelog-tab{
    p{
        margin-bottom: 0.3rem;
    }

    h1{
        color: #515151;
    }

    h2{
        font-weight: 700;
        margin-top: 1rem;
    }

    ul{
        margin-bottom: 1rem;
    }
}
