/* main colors */
$aside: rgb(248,248,248);
$gainsboro: rgb(240,240,240);
$actionable:rgb(251,251,251);
$dropdownBg: #fff;
$dropdownSelectedBg: rgb(225,236,241);
$dropdownTextColor: #444;
$dropdownBorder: #e4e4e4;
$menuBg: #2b3948;
$menuSelectedBg: lighten(#2b3948, 10%);
$menuTextColor: #f2f2f2;
$white: white;
$mainBg: #F2F2F2;
$softGrey: rgb(220, 220, 220);
$darkNeutral:#53595F;
$black: #020608;
$gridsorted: #9FB4C8;
$griddivider: #E4E9EE;
$gridrowalt: #F5F6F9;
$searchresults: rgb(42,57,73);
$searchresultshead: rgb(85,187,231);


$lightBg: $gainsboro;
$darkBg: $darkNeutral;
$mediumBg:$aside;


$labelText:$darkNeutral;
$primaryAction: rgb(88, 165, 152);
$success:#81B548;
$green:$success;
$red:red;

$colorSplash: rgb(54, 151, 205);
$desaturatedSplash:lighten(desaturate($colorSplash,100%),20%);
$desturatedSuccess:lighten(desaturate($success,100%),10%);
$lightSplash:lighten($colorSplash, 42.5%);

/* tree menus */
$treeText: #718DA7;
$tipText: $gainsboro;
$lightSplash:lighten($colorSplash, 42.5%);
$mainText: #444444;
$headerText: #555555;

/* Tree menus */
$iconColor: $treeText;
$unpublished: lighten($treeText, 20%) !important;
$disabled: $unpublished;
$hidden: $unpublished;
$unpubText: italic;
$lockedText: italic;


$deleted: #B42260 !important;
$delTextStyle: normal;
$delTextDeco: line-through;

$treeDivider: rgb(64,64,64);


/* top nav */

/* Top navigation colors */
$navbarBg: $gainsboro;
$navbarHover: $softGrey;
$navbarDrop: $navbarBg;
$navbarText: $white;
$navbarRadius: 2px;
$navbarBorder: #2F4150;
$subnavBg: #2B3948;
$subnavBorder: #3F4850;
$subnavSepBorder: #192B3E;
$subnavTitleColor: #C9D4E1;
$subnavDescriptionColor: #5ABCE5;

/* borders */
$borderColor: #E4E4E4;
$borderShadow: rgba(0, 0, 0, 0.025);
$primaryBorder:rgb(192,192,192);

$shadower: 0 1px 0 $borderShadow, -1px 0 0 $borderShadow, 1px 0 0 $borderShadow;





$tabBg: $white;
$tabStripBg: rgb(245,245,245);
$tabInactiveBg: $navbarBg;
$tabHoverBg: $navbarHover;
$tabText: $colorSplash;
$tabInactiveText: #757575;
$tabHoverText: darken($colorSplash, 20%);

/* text colors and font stacks */
$selected:lighten(desaturate($colorSplash,40%),40%);
$over: rgb(250, 250, 250);

$bodyfonts: 'Helvetica Neue', Helvetica, arial, tahoma, sans-serif;
$altfonts: titilliumregular, $bodyfonts;
$altfontslight: titilliumlight, $bodyfonts;
$headfonts: $bodyfonts;
$codefonts: "Courier New", Courier, monospace;
$tabFont: 14px $bodyfonts;
$buttonfonts: $bodyfonts;
$treePseudoRootFont: normal 14px/35px $headfonts;
$treeNodeFont: normal 13px/22px $bodyfonts;


$buttonColor: $colorSplash;
$regularButtonColor: #707070;
$buttonBackground: $white;
$buttonColorActive: $white;
$buttonColorDisabled: darken($buttonColor, 20%);
$buttonColorPrimary: $white;
$buttonPrimaryBg1: rgb(88, 165, 152);
$buttonPrimaryBg2: rgb(60, 142, 139);
$baseText:   normal 13px/1.4 $bodyfonts;
$fontSmall:  normal 11px $bodyfonts;
$fontMedium: normal 12px $bodyfonts;
$fontNormal: normal 13px $bodyfonts;
$fontNavbar: normal 13px $headfonts;
$fontH2:     normal 25px $headfonts;
$fontH3:       bold 15px $headfonts;

$mobile: new-breakpoint(max-width 640px 4);
$tabletP: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 960px 12);
$tabletL: new-breakpoint(max-width 1024px 12);
$cinema: new-breakpoint(max-width 1400px 12);

$gtMobile: new-breakpoint(min-width 641px 12);
$gtTabletP: new-breakpoint(min-width 769px 12);
$gtTabletL: new-breakpoint(min-width 1025px 12);
$gtDesktop: new-breakpoint(min-width 961px 12);
$gtCinema: new-breakpoint(min-width 1401px 12);

$imgPath: '../images/';
