/* Main colors */
$colorSplash: #234368;
$colorSplashLight: lighten($colorSplash, 50%);
$colorSplashMedium: lighten($colorSplash, 75%);
$colorSplashDark: darken($colorSplash, 20%);
$colorSplashContrast: #FFFFFF; /* needs much more adaption, should be used as text color for elements with $colorSplash background */
$silver: #CCCCCC;
$gallery: #EEEEEE;
$wildSand: #F4F4F4;
$lightestGray: #FBFBFB;
$lighterGray: #F0F0F0;
$lightGray: #E4E4E4;
$softGray: #DCDCDC;
$mediumGray: #999999;
$darkGray: #515151;
$darkestGray: #53595F; /* a blueish dark gray */
$osloGray: #868B8F;
$doveGray: #686868;  ;
$alabastersolid: #FAFAFA;
$tundora: #444444;
$scorpion: #606060;
$mineShaft: #343434;
$alto: #DFDFDF;
$white: #FFF;
$black: darken($colorSplash, 42.5%); /* generate the black from the $colorSplash */
$darkBlack: #000;
$lighterRed: #FFEEEE;
$green: #6CB24A;
$greener: darken($green, 12%);
$lightGreen: lighten($green, 50%);
$lighterGreen: #EFFCF6;
$yellow: #FCE588;
$orange: #F0B429;
$red: #CF1124;
$blue: #3697CD; /* default theme $colorSplash */

/* Status Message */
$statusMessageBg: $green;
$statusMessageText: $white;
$statusMessageIconBg: $white;
$statusMessageIconText: $green;

/* Brand colors */
$brandBg: $white;
$brandHover: $lightGray;
$brandSelectedBg: darken($brandHover, 3%);
$brandSelectedColor: $colorSplash;

/* Backgrounds */
$mainBg: #F2F2F2;
$lightBg: $lighterGray;
$mediumBg: $lighterGray;
$darkBg: $darkestGray;

/* Borders */
$borderColor: $lightGray;
$borderColorHover: $colorSplash;
$borderColorGrayHover: $mediumGray;
$borderColorFocus: darken($colorSplash, 6%);
$borderColorActive: darken($colorSplash, 6%);
$borderColorGrayActive: darken($mediumGray, 6%);
$borderColorDisabled: $borderColor;
$borderRadius: 3px;

/* Shadows */
$boxShadow: 0 4px 6px rgba(0, 0, 0, 0.15);
$boxShadowBig: 0 0 15px 0 rgba(0,0,0,0.2);
$shadowBorder: 0 0 0 1px $borderColor;
$shadowBorderField: 0 0 0 1px $borderColor;
$shadowBorderDark: 0 0 0 1px $softGray;
$shadowBorderHover: 0 0 0 1px $borderColorHover;
$shadowBorderGrayHover: 0 0 0 1px $borderColorGrayHover;
$shadowBorderFocus: 0 0 0 1px $borderColorFocus;
$shadowBorderActive: 0 0 0 1px $borderColorActive;
$shadowBorderGrayActive: 0 0 0 1px $borderColorGrayActive;
$shadowBorderDisabled: 0 0 0 1px $borderColorDisabled;

/* Grids */
$gridsorted: $white;
$griddivider: $white;
$gridrowalt: #F5F6F9;
$gridBorderColor: #E4E9EE;
$gridHeaderTxtColor: #696969;
$gridHeaderBgColor: $white;
$gridHeaderBtnBgColor: $white;
$gridHeaderBtnColor: #77899F;
$gridHeaderBtnBgHoverColor: $white;

/* Form field colors */
$coreFieldBg: $white;
$coreFieldLabelColor: $darkGray;
$coreFieldDescColor: $mediumGray;

/* Buttons */
$buttonBg: $white;
$buttonBgHover: $colorSplash;
$buttonBgActive: darken($colorSplash, 6%);
$buttonBgDisabled: $white;
$buttonColor: $darkGray;
$buttonColorHover: $white;
$buttonColorActive: $white;
$buttonColorDisabled: darken($buttonColor, 20%);
$buttonColorPrimary: $white;
$buttonColorPrimaryHover: $white;
$buttonColorPrimaryActive: $white;
$buttonColorPrimaryDisabled: $white;
$buttonPrimaryBgActive: darken($greener, 12%);

/* Context menus */
$menuBg: $brandBg;
$menuBorder: 1px solid $borderColor;
$menuBorderRadius: $borderRadius;
$menuBoxShadow: $boxShadow;
$menuSelectedBg: $lighterGray;
$menuSelectedColor: $brandBg;
$menuTextColor: $darkGray;
$menuSeparatorColor: $borderColor;

/* ComboBox dropdown menus */
$dropdownBg: $white;
$dropdownSelectedBg: #E1ECF1;
$dropdownTextColor: $darkGray;
$dropdownBorder: $lightGray;

/* Tree menus */
$treeText: $mediumGray;
$tipText: $lighterGray;
$mainText: $black;
$treeHeaderText: $darkGray;
$treeHeaderHeight: 57px;
$treeHeaderBorder: 1px solid #CDCDCD;
$treeHeaderBg: $lightestGray;
$treeBg: $lightestGray;
$treeBgSelected: #D6E7F8;
$treeColor: $darkGray;
$treeColorDesaturated: lighten(desaturate($treeColor,100%), 25%);
$treeColor_2: #728DA7;
$treePseudoRootBg: #F2F2F2;
$treePseudoRootColor: $darkestGray;
$treePseudoRootOverBg: $brandHover;
$treePseudoRootOverColor: $darkestGray;
$treeFolderBg: transparent;
$treeFolderColor: $mediumGray;
$treeItemBg: $white;
$treeItemColor: $mediumGray;

$iconColor: $treeText;
$unpublished: $treeText;

$deactivatedTextColor: lighten($treeColor, 35%); // do not use 50% here - makes base color nearly invisible
$disabledTextColor: $deactivatedTextColor;

$hidden: lighten($treeText, 10%) !important;
$unpubText: italic;
/* locked is already signaled with lock-icon, no need to use other semantic style here
   as italic is used for "unpublished" */
$lockedText: inherit; //italic;

$delTextColor: fade-out(darken(lighten(desaturate($red,50%), 33%), 25%), 0.5) !important;
$delTextStyle: normal;
$delTextDeco: line-through;

$treeDivider: #404040;

$navbarWidth: 80px;
/* Top navigation colors */
$navbarText: $white;
$navbarBorder: rgba(255, 255, 255, .1);
$subnavBg: $white;
$subnavBgHover: $lightGray;
$subnavBorder: $lightGray;
$subnavSepBorder: $subnavBorder;
$subnavTitleColor: $darkGray;
$subnavDescriptionColor: $mediumGray;

$searchResultsBg: $subnavBg;
$searchResultsBgHover: $subnavBgHover;
$searchResultsHeadingColor: $darkestGray;
$searchResultsColor: $subnavTitleColor;

/* Tabs */
$tabStripBg: transparent;
$tabActiveBg: $white;
$tabActiveBgHover: $white;
$tabActiveText: $colorSplash;
$tabInactiveBg: transparent;
$tabInactiveText: $darkestGray;
$tabInactiveBgHover: $lightGray;
$tabInactiveTextHover: $black;
$tabText: $colorSplash;
$tabTextHover: $darkestGray;
$leftbarTabActiveBg: $mainBg;

/* Windows */
$winHeaderBg: $white;
$winHeaderBorderColor: $white;
$winBodyBg: $white;
$winFooterBg: $white;
$winFooterBorderColor: $white;

/* Font stacks */
$bodyfonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$bodyFontSize: 13px;
$headfonts: $bodyfonts;
$codefonts: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$tabFont: 14px $bodyfonts;
$buttonfonts: $bodyfonts;
$treePseudoRootFont: 500 14px/3 $headfonts;
$treeNodeFont: normal 14px/2.25 $bodyfonts;
$baseText:   normal 13px/1.4 $bodyfonts;
$baseTextHeight: 13px * 1.4;
$fontSmall:  normal 11px $bodyfonts;
$fontMedium: normal 12px $bodyfonts;
$fontNormal: normal $bodyFontSize $bodyfonts;
$fontNavbar: normal $bodyFontSize $headfonts;
$fontH2:     normal 25px $headfonts;
$fontH3:     bold 15px $headfonts;

/* Responsive breakpoints */
$mobile:  (media: "screen and (max-width: 640px)", columns: 4);
$tabletP: (media: "screen and (max-width: 768px)", columns: 12);
$desktop: (media: "screen and (max-width: 960px)", columns: 12);
$tabletL: (media: "screen and (max-width: 1024px)", columns: 12);
$cinema:  (media: "screen and (max-width: 1400px)", columns: 12);

$gtMobile:  (media: "screen and (min-width: 641px)", columns: 12);
$gtTabletP: (media: "screen and (min-width: 769px)", columns: 12);
$gtDesktop: (media: "screen and (min-width: 961px)", columns: 12);
$gtTabletL: (media: "screen and (min-width: 1025px)", columns: 12);
$gtCinema:  (media: "screen and (min-width: 1401px)", columns: 12);

/* Path for background-images */
$imgPath: '../images/';
