/* Brand colors */
$brandBg: #ffffff;
$brandHover: #e8f0f8;
$brandSelectedBg: darken($brandHover, 3%);
$brandSelectedColor: #3697cd;
$brandText: #757575;

/* Core colors */
$coreFieldBg: #fbfbfb;

/* main colors */
$aside: #f8f8f8;
$gainsboro: #f0f0f0;
$actionable: #fbfbfb;
$dropdownBg: #ffffff;
$dropdownSelectedBg: #e1ecf1;
$dropdownTextColor: #444444;
$dropdownBorder: #e4e4e4;

/* Context menu */
$menuBg: $brandBg;
$menuBorder: 1px solid #bbb;
$menuBorderRadius: 3px;
$menuBoxShadow: 0 0 5px rgba(0, 0, 0, 0.25);
$menuSelectedBg: #30759c;
$menuSelectedColor: $brandBg;
$menuTextColor: #555555;
$menuSeparatorColor: #cccccc;

$white: #ffffff;
$mainBg: #F2F2F2;
$softGrey: #dcdcdc;
$darkNeutral:#53595F;
$black: #020608;
$gridsorted: #9FB4C8;
$griddivider: #E4E9EE;
$gridrowalt: #F5F6F9;
$searchresults: #2a3949;
$searchresultshead: #55bbe7;

$lightBg: $gainsboro;
$darkBg: $darkNeutral;
$mediumBg: $aside;


$labelText: $darkNeutral;
$primaryAction: #58a598;
$success: #81B548;
$green: $success;
$red: #FF0000;

$colorSplash: #3697cd;
$desaturatedSplash: lighten(desaturate($colorSplash,100%), 20%);
$desturatedSuccess: lighten(desaturate($success,100%), 10%);
$lightSplash: lighten($colorSplash, 42.5%);

/* tree menus */
$treeText: #718DA7;
$tipText: $gainsboro;
$lightSplash: lighten($colorSplash, 42.5%);
$mainText: $black;
$headerText: #555555;
$treeColor: #556C88;
$treeColor_2: #728DA7;
$treePseudoRootBg: $lightBg;
$treePseudoRootColor: #447996;
$treePseudoRootOverBg: $lightBg; /* $brandHover; */
$treePseudoRootOverColor: #447996; /* #1A7FB8; */

/* Tree menus */
$iconColor: $treeText;
$unpublished: lighten($treeText, 10%) !important;
$disabled: $unpublished;
$hidden: $unpublished;
$unpubText: italic;
$lockedText: italic;


$deleted: #B42260 !important;
$delTextStyle: normal;
$delTextDeco: line-through;

$treeDivider: #404040;


/* top nav */

/* Top navigation colors */
$navbarBg: $gainsboro;
$navbarHover: $softGrey;
$navbarDrop: $navbarBg;
$navbarText: $white;
$navbarRadius: 2px;
$navbarBorder: #2F4150;
$subnavBg: #2B3948;
$subnavBorder: #3F4850;
$subnavSepBorder: #192B3E;
$subnavTitleColor: #C9D4E1;
$subnavDescriptionColor: #5ABCE5;

/* borders */
$borderColor: #E4E4E4;
$borderColorFocus: $colorSplash;
$borderColorActive: $colorSplash;
$borderRadius: 3px;
$borderShadow: #E4E4E4;
$primaryBorder:  #C0C0C0;

$shadower: 0 1px 0 $borderColor, -1px 0 0 $borderColor, 1px 0 0 $borderColor;
$shadowBorder: 0 0 0 1px $borderColor;
$shadowBorderDark: 0 0 0 1px $primaryBorder;
$shadowBorderFocus: 0 0 0 1px $borderColorFocus;
$shadowBorderActive: 0 0 0 1px $borderColorActive;





$tabBg: $white;
$tabStripBg: transparent;
$tabInactiveBg: $navbarBg;
$tabHoverBg: $navbarHover;
$tabText: $colorSplash;
$tabInactiveText: $colorSplash;
$tabHoverText: darken($colorSplash, 20%);
$tabActiveText: #1A7FB8;

/* text colors and font stacks */
$selected: lighten(desaturate($colorSplash,40%),40%);
$over: #fafafa;

$bodyfonts: 'Helvetica Neue', Helvetica, arial, tahoma, sans-serif;
$bodyFontSize: 13px;
$altfonts: titilliumregular, $bodyfonts;
$altfontslight: titilliumlight, $bodyfonts;
$headfonts: $bodyfonts;
$codefonts: "Courier New", Courier, monospace;
$tabFont: 14px $bodyfonts;
$buttonfonts: $bodyfonts;
$treePseudoRootFont: normal 14px/35px $headfonts;
$treeNodeFont: normal 13px/22px $bodyfonts;

$buttonColor: $treeColor;
$buttonHoverColor: $brandSelectedColor;
$regularButtonColor: #707070;
$buttonBackground: $white;
$buttonColorActive: $white;
$buttonColorDisabled: darken($buttonColor, 20%);
$buttonColorPrimary: $white;
$buttonPrimaryBg1: #32AB9A;
$buttonPrimaryBg2: #00948E;
$baseText:   normal 13px/1.4 $bodyfonts;
$fontSmall:  normal 11px $bodyfonts;
$fontMedium: normal 12px $bodyfonts;
$fontNormal: normal $bodyFontSize $bodyfonts;
$fontNavbar: normal $bodyFontSize $headfonts;
$fontH2:     normal 25px $headfonts;
$fontH3:       bold 15px $headfonts;

$mobile: new-breakpoint(max-width 640px 4);
$tabletP: new-breakpoint(max-width 768px 12);
$desktop: new-breakpoint(max-width 960px 12);
$tabletL: new-breakpoint(max-width 1024px 12);
$cinema: new-breakpoint(max-width 1400px 12);

$gtMobile: new-breakpoint(min-width 641px 12);
$gtTabletP: new-breakpoint(min-width 769px 12);
$gtTabletL: new-breakpoint(min-width 1025px 12);
$gtDesktop: new-breakpoint(min-width 961px 12);
$gtCinema: new-breakpoint(min-width 1401px 12);

$imgPath: '../images/';
