$softGrey: rgb(220, 220, 220);
$almostWhite: rgb(240, 240, 240);
$dropdownBg: $almostWhite;



/* Hightlight Color:
   use this for tab top borders, etc. … anywhere some personality is needed */
$colorSplash: rgb(93,152,197);
$primaryAction: rgb(158,189,94);
$lightBg: rgb(242,242,242);
$mediumBg: rgb(204,204,204);
$mediumDkBg: rgb(153,153,153);
$darkBg: rgb(51,51,51);
$darkestBg: rgb(0,0,0);

$mainText: #444444;
$headerText: rgb(51,51,51);
$labelText: rgb(102,102,102);
$divider: $labelText;
$triggerBorder: $lightBg;

/* Tree menus */
$treeText: rgb(153,153,153);
$tipText: $almostWhite;
$iconColor: $treeText;
$unpublished: rgb(102,102,102) !important;
$unpubText: italic;
$hidden: $unpublished;
$treeDivider: rgb(64,64,64);

/* Top navigation colors */
$navbarBg: $lightBg;
$navbarHover: white;
$navbarDrop: $navbarBg;
$navbarText: rgb(51,51,51);
$navbarRadius: 2px;

$borderColor: rgb(222, 222, 222);
$borderShadow: rgba(0, 0, 0, 0.025);

$mainBg: white;
$tabBg: rgb(242,242,242);
$tabInactiveBg: $mediumBg;
$tabHoverBg: $lightBg;
$tabText: $headerText;
$tabInactiveText: white;
$tabHoverText: $labelText;

$baseText: normal 13px / 1.4 Arial, Helvetica, sans-serif;
$fontSmall: normal 11px arial, helvetica, tahoma, sans-serif;
$fontMedium: normal 12px arial, helvetica, tahoma, sans-serif;
$fontNormal: normal 13px arial, helvetica, tahoma, sans-serif;
$fontH3: bold 15px Helvetica, Tahoma, Arial, Helvetica, sans-serif;

$shadower: 0 1px 0 $borderShadow, -1px 0 0 $borderShadow, 1px 0 0 $borderShadow;