/* main colors */
$aside: rgb(248,248,248);
$gainsboro: rgb(240, 240, 240);
$dropdownBg: $gainsboro;
$white: white;
$mainBg: rgb(234, 234, 234);
$softGrey: rgb(220, 220, 220);
$darkNeutral: #53595F;
$black: #020608;

$lightBg: $gainsboro;
$darkBg: $darkNeutral;
$mediumBg: $softGrey;


$black:#020608;
$lightBg:$gainsboro;
$darkNeutral:#53595F;
$labelText:$darkNeutral;
$mediumBg:$aside;
$primaryAction:#0f90c3;
$success:#81B548;
$green:$success;
$red:red;
$actionable:rgb(251,251,251);

$colorSplash: $primaryAction;
$desaturatedSplash:lighten(desaturate($primaryAction,100%),20%);
$desturatedSuccess:lighten(desaturate($success,100%),10%);
$lightSplash:lighten($colorSplash, 42.5%);

/* tree menus */
$treeText: #444;
$tipText: $gainsboro;
$lightSplash:lighten($colorSplash, 42.5%);
$mainText: #444444;
$headerText: #555555;

/* Tree menus */
$treeText: #444444;
$tipText: $gainsboro;
$iconColor: $treeText;
$unpublished: lighten($treeText, 30%) !important;
$disabled: $unpublished;
$hidden: $unpublished;
$unpubText: italic;
$lockedText: italic;


$deleted: red !important;
$delTextStyle: normal;
$delTextDeco: line-through;

$treeDivider: rgb(64,64,64);


/* top nav */

/* Top navigation colors */
$navbarBg: $aside;
$navbarHover: $gainsboro;
$navbarDrop: $navbarBg;
$navbarText: #222;
$navbarRadius: 2px;

/* borders */
$borderColor: rgb(203, 203, 203);
$borderShadow: rgba(0, 0, 0, 0.025);
$primaryBorder:rgb(192,192,192);

$shadower: 0 1px 0 $borderShadow, -1px 0 0 $borderShadow, 1px 0 0 $borderShadow;

/* tabs */
$borderColor: rgb(216,216,216);
$borderShadow: rgba(0, 0, 0, 0.025);
$primaryBorder:rgb(192,192,192);

$mainBg: $white;

$tabBg: $white;
$tabInactiveBg: $navbarHover;
$tabHoverBg: $navbarHover;
$tabText: #333;
$tabInactiveText: $tabText;
$tabHoverText: darken($colorSplash, 20%);

/* text colors and font stacks */
$labelText: $darkNeutral;
$mainText: #444;
$headerText: #555;
$shadower: 0 1px 0 $borderShadow, -1px 0 0 $borderShadow, 1px 0 0 $borderShadow;
$selected:lighten(desaturate($colorSplash,45%),50%);

$bodyfonts: arial, helvetica, tahoma sans-serif;
$headfonts: $bodyfonts;
$codefonts: "Courier New", Courier, monospace;
$buttonfonts: $bodyfonts;
$baseText:   normal 13px/1.4 $bodyfonts;
$fontSmall:  normal 11px $bodyfonts;
$fontMedium: normal 12px $bodyfonts;
$fontNormal: normal 13px $bodyfonts;
$fontH2:     normal 25px $headfonts;
$fontH3:       bold 15px $headfonts;
