/* from index */

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.modx-form .x-form-text,
.modx-form .x-form-textarea {
  font-size: 14px;
}

.modx-form .x-form-text {
  height: 20px !important;
  padding: 5px;
}

.modx-form .x-form-item label {
  color: #505050;
  font-size: 14px;
}

.x-form-check-wrap {
  height: auto !important;
}

.x-form-check-wrap .x-form-cb-label {
  color: #777;
  font-weight: normal;
}

.inline-form {
  border: 0 none;
  padding: 15px 15px 0;
}
.inline-form label {
  color: #777777;
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}
.inline-form input[type=text], .inline-form textarea {
  background-color: $coreFieldBg;
  background-image: none;
  border-radius: $borderRadius;
  border: 1px solid #CCCCCC;
  position: relative;
  width: 97%;
}
.inline-form input[type=text] {
  font-size: 13px;
  height: 20px !important;
  padding: 5px;
}

.x-form-field {
  font: $baseText;
}

textarea.x-form-field,
.x-form-textarea {
  display: block; /* make the field description (below) stick to the bottom correctly */
  /*font-family: $codefonts;*/
  padding: 5px; /* override standard extjs theme */
}

/* #ta, /* main resource content without RTE */
/* #modx-chunk-snippet, /* chunk code */
/* #modx-snippet-snippet, /* snippet code */
/* #modx-plugin-plugincode, /* plugin code */
/* #modx-template-content, /* template code */
/* #modx-file-content, /* file code / content */
/* #modx-error-log-content, /* error log content */
.modx-code-content { /* general class that could be applied to any form field that should display code font */
  font-family: $codefonts;
}

.x-form-text, /* this screws up clear cache modal #shame */
textarea.x-form-field,
.x-form-textarea {
  background-color: $coreFieldBg;
  background-image: none;
  border-radius: $borderRadius;
  border: 1px solid $borderColor;
  position: relative;
}

.x-form-select-one {
  background-color: #fff;
  border-color: #c5c5c5;
}

.x-form-check-wrap,
.x-form-check-wrap label,
.x-form-checkbox {
  cursor: pointer;
}

.x-form-checkbox {
  margin: 0 2px;
}

.x-form-checkbox:focus {
  outline-offset: 1px;
  outline: 1px solid rgba(100, 140, 50, 1) !important;
}

.x-form-check-group-label {
  border-bottom: 1px solid #d0d0d0;
  color: #434343;
}

.x-form-radio {
  margin-left: 1px;
}

.x-editor .x-form-check-wrap {
  background-color: #fff;
}

/* fix combo on grid editor bug */
.x-grid-editor .x-form-field-wrap {
  background: #f6f2f7 url($imgPath + 'modx-theme/form/combo-bck.png') repeat-x scroll 0px 100%;
}

.x-grid-editor .x-form-field-wrap input {
  background-color: transparent !important;
}

.x-grid-editor .x-form-field-wrap img {
  background-color: white;
  background-image: url($imgPath + 'modx-theme/form/trigger.png');
}

.x-form-field-wrap {
  background: $coreFieldBg;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;

  .x-form-text {
    border: 0;
  }
  .x-form-trigger {
    background: url($imgPath + 'modx-theme/form/trigger.png') no-repeat left center;
    border: 0;
    height: 30px !important; /* override default extjs theme */
    width: 32px;

    &.x-form-trigger-over {

    }
    &.x-form-trigger-click {

    }
  }
  &.x-datetime-wrap {
    border: 0;
  }
}

.x-small-editor .x-form-field-wrap {
  background: $gainsboro;
  border-radius: $borderRadius;
}

.x-small-editor .x-form-field-wrap .x-form-trigger {
  border: 0 none !important;
  right: -3px;
  height: 24px !important; /* override the overriding rule ^^*/
  width: 32px;
}

.x-small-editor .x-form-field-wrap .x-form-trigger-over {
  background-color: #f3f3f3;
  background-position: right;
}

.x-small-editor .x-form-field-wrap .x-form-arrow-trigger {
  background: url($imgPath + 'modx-theme/form/trigger.png') no-repeat scroll left center transparent;
}

.x-small-editor .x-form-field-wrap .x-form-trigger.x-form-trigger-over {
  background-position: center center;
}

.x-small-editor .x-form-field-wrap .x-form-trigger.x-form-trigger-click {
  background-position: right center;
}

.x-form-field-wrap .x-form-date-trigger, .x-small-editor .x-form-field-wrap .x-form-date-trigger {
  background-image: url($imgPath + 'modx-theme/form/calendar.png');
}

.x-form-field-wrap .x-form-clear-trigger {
  background-image: url($imgPath + 'modx-theme/form/clear-trigger.gif');
}

.x-form-field-wrap .x-form-search-trigger {
  background-image: url($imgPath + 'modx-theme/form/search-trigger.gif');
}

.x-viewport .x-trigger-wrap-focus,
.x-viewport input.x-form-focus,
.x-viewport textarea.x-form-focus,
.x-viewport .x-form-textarea.x-form-focus {
  /*border-radius: 0;*/
  /*outline-offset: 0;*/
  /*outline: 1px solid #ddd !important; /* #shame */
  /*box-shadow: $shadowBorderFocus;*/
  border-color: $borderColorFocus;
}

/*.x-viewport .x-trigger-wrap-focus .x-form-focus {
  outline: none !important;
}*/

.x-datetime-wrap {
  background: none;
}

.x-form-invalid, textarea.x-form-invalid {
  border-color: $red !important;
}

.ext-strict .x-small-editor .x-form-text {
  border-radius: $borderRadius;
  height: 20px !important;
}

.ext-gecko .x-form-text, .ext-ie8 .x-form-text {
  padding: 5px;
}

.ext-safari .x-form-invalid {
  background-color: #fee;
  border-color: #ff7870;
}

.x-form-inner-invalid, textarea.x-form-inner-invalid {
  background-color: #fff;
  background-image: url($imgPath + 'modx-theme/grid/invalid_line.gif');
}

.x-form-grow-sizer {
  font: $fontSmall;
}

.x-form-invalid-msg {
  /*background-image: url($imgPath + 'modx-theme/shared/warning.gif');*/
  color: #c0272b;
  font: $fontSmall;
  margin-top: 2px;
  position: relative;
	&:before {
		@extend %pseudo-font;
		content: $fa-var-exclamation-triangle; /* : "\f071" */
		position: absolute;
		top: 3px;
		left: 3px;
		color: inherit;
	}
}

.x-form-empty-field {
  color: gray;
}

.x-grid3 {
  .x-small-editor {
    .x-form-text,
    .x-form-field-wrap {
      font: $fontSmall;
      margin-top: 7px;
      padding: 2px 5px 2px 5px;

      .x-form-text {
        margin: 0;
        padding: 0;
      }
    }

    .x-form-text {
      /*margin-top: 7px;*/
    }

    .x-form-field-wrap {
      overflow: hidden;
    }
  }
}
/*.x-grid3 .x-small-editor .x-form-text, .x-grid3 .x-small-editor .x-form-field-wrap {
  font: $fontSmall;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
}

.x-grid3 .x-small-editor .x-form-field-wrap {
  overflow: hidden;
}*/

/*.x-grid3 .x-small-editor .x-form-field-wrap .x-form-text {
  margin-top: 7px;
}*/

/*.ext-safari .x-small-editor .x-form-field {
  font: $baseText;
}*/

.x-form-invalid-icon {
  background-image: url($imgPath + 'modx-theme/form/exclamation.gif');
}

.x-fieldset {
  border-color: #C5C5C5;
}

.x-fieldset legend {
  color: #434343;
  font: $fontSmall;
  font-weight: bold;
}

.ext-gecko .x-window-body .x-form-item {
  overflow: hidden;
}
.x-form-item-label {
  color: $coreFieldLabelColor;
  font-weight: bold;
}

.x-form fieldset {
  border: 1px solid #dedede;
}
.x-form fieldset legend {
  color: #606060;
  font: $fontSmall;
  font-weight: bold;
}
.x-fieldset-body {
  font-size: 12px;
}

/* issue #5505 */
.x-form-text {
  min-height: 20px;
  padding: 5px;
}
.form-with-labels .x-form-label-top .x-form-element {
  padding: 0;
}
.form-with-labels .x-form-label-top .x-form-item label.x-form-item-label {
  color: $coreFieldLabelColor;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  display: block;
  padding: 7px 5px 4px 0;
}
.form-with-labels .desc-under,
.x-window .desc-under {
  color: $coreFieldLabelColor;
  display: block;
  font-size: 11px;
  font-style: italic;
  margin: -8px 0 16px;
}
.form-with-labels .desc-under.desc-checkbox,
.x-window .desc-under.desc-checkbox {
  margin: -2px 0 4px;
}
.form-with-labels label[for="modx-element-property-preprocess"].desc-under {
  margin: -2px 0 0 0;
}
.form-with-labels .desc-under .warning,
.x-window {
  -moz-box-shadow: 0 0 5px #A0A0A0;
  -o-box-shadow: 0 0 5px #A0A0A0;
  -webkit-box-shadow: 0 0 5px #A0A0A0;
  border-radius: $borderRadius;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 5px #A0A0A0;
  overflow: hidden;
  padding: 0;
}
.x-window .desc-under .warning {
  color: #df8d00;
}


.x-combo-list {
  background-color: $dropdownBg;
  border-color: $dropdownBorder;
  border-radius: 0 0 $borderRadius $borderRadius;
}
.x-combo-list-inner {
  background-color: $dropdownBg;
}
.x-combo-list-hd {
  background-image: url($imgPath + 'modx-theme/layout/panel-title-light-bg.gif');
  border-bottom-color: #bcbcbc;
  color: #464646;
}
.x-resizable-pinned .x-combo-list-inner {
  border-bottom-color: transparent;
}
.x-combo-list-item {
  border: none;
  padding: 5px;
  color: $dropdownTextColor;
}
.x-combo-list .x-combo-selected {
  background-color: $dropdownSelectedBg;
  border: 0 none !important;
}
.x-combo-list .x-toolbar {
  border-top-color: #bcbcbc;
}
.x-combo-list-small {
  font: $fontSmall;
}

