/* from index */

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.modx-form .x-form-text,
.modx-form .x-form-textarea {
  font-size: 14px;
}

.modx-form .x-form-text {
  height: 20px !important;
  padding: 5px;
}

.modx-form .x-form-item label {
  color: #505050;
  font-size: 14px;
}

.x-form-check-wrap {
  height: auto !important;
}

.x-form-check-wrap .x-form-cb-label {
  color: #777;
  font-weight: normal;
}

.inline-form {
  border: 0 none;
  padding: 15px 15px 0;
}
.inline-form label {
  color: #777777;
  display: block;
  font-weight: bold;
  margin-bottom: 2px;
}
.inline-form input[type=text], .inline-form textarea {
  background-color: #fbfbfb;
  background-image: none;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  position: relative;
  width: 97%;
}
.inline-form input[type=text] {
  font-size: 13px;
  height: 20px !important;
  padding: 5px;
}

.x-form-field {
  font: $baseText;
}

textarea.x-form-field, 
.x-form-textarea {
  font-family: $codefonts;
}

.x-form-text, /* this screws up clear cache modal #shame */
textarea.x-form-field, 
.x-form-textarea {
  background-color: #fbfbfb;
  background-image: none;
  border-radius: 2px;
  border: 1px solid $borderColor;
  position: relative;
}

.x-form-select-one {
  background-color: #fff;
  border-color: #c5c5c5;
}

.x-form-check-wrap, 
.x-form-check-wrap label, 
.x-form-checkbox {
  cursor: pointer;
}

.x-form-checkbox {
  margin: 0 2px;
}

.x-form-checkbox:focus {
  outline-offset: 1px;
  outline: 1px solid rgba(100, 140, 50, 1) !important;
}

.x-form-check-group-label {
  border-bottom: 1px solid #d0d0d0;
  color: #434343;
}

.x-form-radio {
  margin-left: 1px;
}

.x-editor .x-form-check-wrap {
  background-color: #fff;
}

.ext-strict .x-form-field-trigger-wrap .x-form-text, .ext-strict .x-small-editor .x-form-field-trigger-wrap .x-form-text {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0 none;
  color: #606060;
  font-weight: bold;
  height: 20px !important;
  padding: 6px !important;
  text-shadow: 1px -1px 0 #fff;
}

.x-small-editor .x-form-field-wrap .x-form-trigger, .x-form-field-wrap .x-form-trigger {
  background-image: url(../images/modx-theme/form/trigger.png);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #C5C5C5 !important;
  border-left: 0 none;
}

/* fix combo on grid editor bug */
.x-grid-editor .x-form-field-wrap {
  background: #f6f2f7 url(../images/modx-theme/form/combo-bck.png) repeat-x scroll 0px 100%;
}

.x-grid-editor .x-form-field-wrap input {
  background-color: transparent !important;
}

.x-grid-editor .x-form-field-wrap img {
  background-color: white;
  background-image: url(../images/modx-theme/form/trigger.png);
}

.x-form-field-trigger-wrap {
  border-color: #D0D0D0 #CCCCCC #BEBEBE;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  margin-right: 1px;
}

.x-form-field-trigger-wrap .x-form-text {
  background-color: transparent;
  border: 0 none;
}

.x-form-field-wrap {
  background: $actionable;
  border-radius: 2px;
}

.x-form-field-wrap .x-form-trigger {
  background-position: left center;
  background-repeat: no-repeat;
  border: 0 none !important;
  height: 30px;
  width: 32px;
}

.x-form-field-wrap .x-form-trigger-over {
  background-position: right;
}

.x-form-field-wrap .x-form-arrow-trigger {
  background: url("../images/modx-theme/form/trigger.png") no-repeat scroll left center transparent;
}

.x-form-field-wrap .x-form-trigger.x-form-trigger-over {
  background-position: center center;
}

.x-form-field-wrap .x-form-trigger.x-form-trigger-click {
  background-position: right center;
}

.x-small-editor .x-form-field-wrap {
  background: $gainsboro;
  border-radius: 2px;
}

.x-small-editor .x-form-field-wrap .x-form-trigger {
  border: 0 none !important;
  height: 32px;
  width: 32px;
}

.x-small-editor .x-form-field-wrap .x-form-trigger-over {
  background-color: #f3f3f3;
  background-position: right;
}

.x-small-editor .x-form-field-wrap .x-form-arrow-trigger {
  background: url("../images/modx-theme/form/trigger.png") no-repeat scroll left center transparent;
}

.x-small-editor .x-form-field-wrap .x-form-trigger.x-form-trigger-over {
  background-position: center center;
}

.x-small-editor .x-form-field-wrap .x-form-trigger.x-form-trigger-click {
  background-position: right center;
}

.x-form-field-wrap .x-form-date-trigger, .x-small-editor .x-form-field-wrap .x-form-date-trigger {
  background-image: url(../images/modx-theme/form/calendar.png);
}

.x-form-field-wrap .x-form-clear-trigger {
  background-image: url(../images/modx-theme/form/clear-trigger.gif);
}

.x-form-field-wrap .x-form-search-trigger {
  background-image: url(../images/modx-theme/form/search-trigger.gif);
}

.x-viewport .x-trigger-wrap-focus, .x-viewport input.x-form-focus, .x-viewport textarea.x-form-focus, .x-viewport .x-form-textarea.x-form-focus {
  border-radius: 0;
  outline-offset: 0;
  outline: 2px solid #ddd !important; /* #shame */
}

.x-viewport .x-trigger-wrap-focus .x-form-focus {
  outline: none !important;
}

.x-datetime-wrap {
  background: none;
}

.x-form-invalid, textarea.x-form-invalid {
  border-color: $red !important;
}

.ext-strict .x-small-editor .x-form-text {
  border-radius: 2px;
  height: 20px !important;
}

.ext-gecko .x-form-text, .ext-ie8 .x-form-text {
  padding: 5px;
}

.ext-safari .x-form-invalid {
  background-color: #fee;
  border-color: #ff7870;
}

.x-form-inner-invalid, textarea.x-form-inner-invalid {
  background-color: #fff;
  background-image: url(../images/modx-theme/grid/invalid_line.gif);
}

.x-form-grow-sizer {
  font: $fontSmall;
}

.x-form-invalid-msg {
  /*background-image: url(../images/modx-theme/shared/warning.gif);*/
  color: #c0272b;
  font: $fontSmall;
  margin-top:2px;
  position:relative;
	&:before {
		@extend %pseudo-font;
		content:$warning-sign; /* : "\f071" */
		position: absolute;
		top:3px;
		left:3px;
		color:inherit;
	}
}

.x-form-empty-field {
  color: gray;
}

.x-grid3 .x-small-editor .x-form-text, .x-grid3 .x-small-editor .x-form-field-wrap {
  font: $fontSmall;
  margin-top: 5px;
}

.x-grid3 .x-small-editor .x-form-field-wrap {
  overflow: hidden;
}

.x-grid3 .x-small-editor .x-form-field-wrap .x-form-text {
  margin-top: 0;
}

.ext-safari .x-small-editor .x-form-field {
  font: $baseText;
}

.x-form-invalid-icon {
  background-image: url(../images/modx-theme/form/exclamation.gif);
}

.x-fieldset {
  border-color: #C5C5C5;
}

.x-fieldset legend {
  color: #434343;
  font: $fontSmall;
  font-weight: bold;
}

.ext-gecko .x-window-body .x-form-item {
  overflow: hidden;
}
.x-form-item-label {
  color: #777;
  font-weight: bold;
}

.x-form fieldset {
  border: 1px solid #dedede;
}
.x-form fieldset legend {
  color: #606060;
  font: $fontSmall;
  font-weight: bold;
}
.x-fieldset-body {
  font-size: 12px;
}

/* issue #5505 */
.x-form-text {
  min-height: 20px;
  padding: 5px;
}
.form-with-labels .x-form-label-top .x-form-element {
  padding: 0;
}
.form-with-labels .x-form-label-top .x-form-item label.x-form-item-label {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
}
.form-with-labels .x-form-label-top .x-form-item label.x-form-item-label {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.form-with-labels .desc-under,
.x-window .desc-under {
  color: #aaaaaa;
  display: block;
  font-size: 11px;
  font-style: italic;
  margin: -8px 0 16px;
}
.form-with-labels .desc-under.desc-checkbox,
.x-window .desc-under.desc-checkbox {
  margin: -2px 0 4px;
}
.form-with-labels .desc-under .warning,
.x-window {
  -moz-box-shadow: 0 0 5px #A0A0A0;
  -o-box-shadow: 0 0 5px #A0A0A0;
  -webkit-box-shadow: 0 0 5px #A0A0A0;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 5px #A0A0A0;
  overflow: hidden;
  padding: 0;
}

