.nobg .x-panel-body {
  background: transparent;
  padding-right: 1.5em;
}

/* Thanks to Christian Seele for the inspiration! 
   http://chsmedien.com/blog/2013/02/customize-your-modx-dashboard */
#managerbuttons {
  margin-bottom: 1em;
  overflow: hidden;
  width: 100%;
}

#managerbuttons ul {
  display: table;
  width: 100%;
}

#managerbuttons ul li {
  padding: 0 .66em 0 .66em;
  display: table-cell;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 1px;
  }

  a {
    @include linear-gradient(top, white, whitesmoke);
    display: block;
    border-radius: 3px;
    border: 1px solid $borderColor;
    box-shadow: 0 1px 0 $borderShadow;
    color: #53595f;
    /* MODX 2.x.x Manager Button Styles */
    font: bold 11px tahoma, verdana, helvetica, sans-serif;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    span {
      display: block;
      line-height: 1.4;

      &.headline {
        font-size: 12px;
      }
      &.subline {
        font-weight: normal;
      }
      &.icon {
        display: block;
        margin: 0 auto;
        padding: 0 0 10px;
        wdith: auto;
      }
    }
  }
}

#managerbuttons ul li a:hover span.icon {
  color: $colorSplash;
}

#helpBanner,
#contactus {
  @include box-sizing;
  background: #fff;
  border: 1px solid $borderColor;
  box-shadow: 0 1px 0 $borderShadow;
  margin: 0.75em 0 1.75em;
  padding: 18px;
  width: 100%;
  h3 {
    margin: 0 0 1em;
  }
}

#helpBanner {
  margin-top: 1.5em;
  min-height: 112px;
  #helpLogo {
    float: right;
    height: 76px;
    margin-right: 1em;
    width: 200px;
  }
}

#contactus {
  @include box-sizing;
  float: left;
  width: 60%;
  form {
    display: inline;
  }
  input[type=email] {
    @include box-sizing;
    font-size: 1.1em;
    margin-right: 4px;
    padding: 0.4em;
    width: 70%;
  }
  input[type=submit] {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
    padding: 6px 10px;
  }
  p {
    color: lighten($mainText, 15%);
    margin: 1em 0;
  }
  form + p {
    margin: 2em 0 0;
  }
}

#contactus a {
  color: $mainText;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    i {
      text-decoration: none;
    }
  }
  i {
    margin: 0 8px -6px 0;
  }
}

#adblock {
  @include box-sizing;
  background: $softGrey;
  float: left;
  margin: 1em 0 0 2%;
  min-height: 300px;
  padding: 1em;
  width: 38%;
}

#aboutMODX {
  clear: both;
  padding: 1em 3em;
  p {
    line-height: 1.6;
    margin: 0 0 1em;
  }
  a {
    color: $colorSplash;
    margin: -2px -4px;
    padding: 2px 4px;
    &:hover {
      background-color: $colorSplash;
      color: #fff;
      text-decoration: none;
    }
  }
}