#modx-leftbar {
  background-color: $mainBg;
}

#modx-leftbar-tabpanel {
  margin: inherit 6px !important;
}

.x-tree-root-ct {
  @include border-radius(0);
  padding: 0 !important;
  overflow: hidden;
}

.x-tree-root-node {
  margin: 0;
}

.x-tree-root-node > .x-tree-node > .x-tree-node-ct {
  padding: 0;
  margin: 0 !important;
  margin-left: -7px !important;
}

.tree-pseudoroot-node {
  background-color: darken($navbarHover,2%);
  padding: 0 .4em;
  line-height: 2;
  border-bottom: 1px solid $borderColor;
  font-weight: bold;

   > .icon-large {
    font-weight: normal;
  }


  > /* elbow icon */
  .x-tree-ec-icon {
    float: right;
    margin-top: 2px;
  }

  .modx-tree-node-tool-ct {
  //  display: none;

    .x-btn {
      margin-left: 2px;
    }
  }

  &:hover .modx-tree-node-tool-ct {
    display: block;
  }

}

.x-btn-fontawesome {
  display: inline;
  padding: 6px;
  text-align:center;
  border: 0;
  background: none;
  opacity: 0.2;

  i {
    font-style: normal;
  }

  button {
    display:none;
  }
  &:hover { opacity: 1 !important}
}

.tree-pseudoroot-node:hover .x-btn-fontawesome { opacity: 0.65; }
