#modx-leftbar {
  background-color: $mainBg;
}

#modx-leftbar-tabpanel {
  margin: inherit 6px !important;
}

/* tree menu splitter */
.x-layout-split {
  background: $mainBg;
  border-width: 0 0 0 1px;
  border: 1px solid $borderColor;
  width: 8px;
  z-index: 0;
  .x-layout-mini {
    left: -6px;
  }
}

.x-layout-split:hover {
  background: $navbarHover;
  box-shadow: 2px 0 2px $borderShadow;
}


.x-btn-fontawesome {
  background: none;
  border: 0;
  display: inline;
  opacity: 0.2;
  padding: 6px;
  text-align: center;
  i {
    font-style: normal;
  }
  button {
    display: none;
  }
  &:hover {
    opacity: 1 !important;
  }
}

