.x-panel {
    border:0 none;
}
.x-panel-bwrap {
  overflow: visible;
}
.x-tab-header-panel-plain {
	background: inherit;
}
.x-panel-body,
.x-panel-mc .x-panel-body,
.x-panel-body-noheader {
  border-width: 0 !important;
  overflow: visible;
  background: $lightBg;
  border: none;	
}
.x-panel-noborder {
  border: none;
}

.x-panel-body-noheader .x-grid3 {

}

.x-panel-bbar .x-toolbar {
  background-color: transparent;
  border: 0 none;
}
.x-panel-tbar-noheader .x-toolbar, 
.x-panel-mc .x-panel-tbar .x-toolbar {
  border: 0 none;
}
.x-panel-tbar .x-toolbar {
  background-color: transparent;
  border: 0 none;
  padding: 5px 4px;
}
.x-panel-mc .x-panel-tbar .x-toolbar {
  background-image: none;
}
.x-panel-tbar-noheader .x-toolbar {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 5px 5px 5px 3px;
}
.x-panel-mc .x-panel-tbar .x-toolbar {
  background-color: #F5F5F5;
  border-bottom: 0 none;
  padding: 5px 0;
}
.x-grid-panel .x-panel-body {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E4E4E4;
  border-top: 1px solid #FAFAFA;
  border: 0 none;
}
.x-grid-panel .x-panel-body-noheader {
  background-color: transparent;
  border: 0 none;
  padding: 0 !important;
}
.x-panel-tl .x-panel-header {
  color: #6A6A6A;
  font: bold 12px arial,tahoma,verdana,sans-serif;
  text-shadow: 0 1px 0 #FAFAFA;
}
.x-panel-tl .x-panel-icon, .x-window-tl .x-panel-icon {
  background-position: 0 8px;
}
.x-panel-tc {
  background-image: none;
}
.x-panel-tl, 
.x-panel-tr, 
.x-panel-bl,  
.x-panel-br {
  background-image: none;
  border-bottom-color: #DFDFDF;
}
.x-panel-bc {
  background-image: none;
}
.x-panel-tc {
  background-color: #F5F5F5;
}
.x-panel-tl {
  border-color: #E3E3E3 #E3E3E3;
  border-style: solid solid none;
  border-width: 1px 1px 0;
}
.x-panel-tr {}

/*ADDONS*/

.x-panel-tl .x-panel-header {
  border-bottom: 1px solid #E4E4E4;
  padding: 10px 0;
}
.x-panel-bc .x-panel-footer {
  padding-bottom: 0;
}
.x-panel-btns {
  background-color: transparent;
  border-top: 1px solid #FAFAFA;
}
.x-panel-mc {
  background-color: #F5F5F5;
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #FAFAFA;
  padding: 10px 5px;
}
.x-panel-tl, 
.x-panel-ml, 
.x-panel-bl {
  background-color: #F5F5F5;
  padding-left: 8px;
}
.x-panel-ml, 
.x-panel-mr {
  background-image: none;
}
.x-panel-bl {
  border-color: #E3E3E3 #E3E3E3;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding-bottom: 8px;
}
.x-panel-ml {
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
}
.x-panel-mr {
  padding-right: 8px;
}
.x-panel-tr,
.x-panel-mr ,
.x-panel-br {
  background-color: #f7f7f7;
}


.x-window-proxy {
  background-color: #dcdcdc;
  border-color: #d0d0d0;
}

.x-window h2 {
  border-bottom: 1px solid #D6DFC3;
  color: #5e5e5e;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 11px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #FFFFFF;
}
.x-window .x-panel-tl,
.x-window .x-panel-ml,
.x-window .x-panel-bl,
.x-window .x-panel-mc,
.x-window .x-panel-tr,
.x-window .x-panel-mr,
.x-window .x-panel-br {
  background-color: $mainBg;
}
.x-window .x-form-item label.x-form-item-label {
  padding: 0;
}
.x-window .x-form-label-top .x-form-element {
  padding-top: 0;
}
.x-window .x-form-cb-label {
  color: #707070;
  font-weight: bold;
}
.x-window .x-panel-mc {
  border: 0 none;
}
.x-window .x-panel-ml {
  border: 0 none;
}
.x-window .x-panel-bl.x-panel-nofooter,
.x-window .x-panel-tl {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 0;
}
.x-window .x-window-plain .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-plain .x-window-mc {
  background-color: #f5f5f5;
  border-color: 0 none !important;
}
.x-window-plain .x-window-body {
  border: 0 none;
}
.x-window-body {
  background-color: white;
  border-bottom: 1px solid #D0D0D0;
  border-top: 1px solid #F7F7F7;
}
.x-window-dlg .x-window-body {
  background: none repeat scroll 0 0 #F4F4F4 !important;
  padding: 15px 15px 5px;
}
.x-window .x-window-bc .x-panel-btns {
  background: $mainBg;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #ffffff;
  padding: 8px;
}
.x-window-dlg .x-window-bc .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-bc .x-window-footer {
  margin-bottom: 0;
}
.x-window .x-window-proxy {
  background-color: #dcdcdc;
  border-color: #dfdfdf;
}
.x-window .x-window-tl {
  background-color: #ffffff;
  background-image: none;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-window-tl .x-window-header {
  background: $mediumBg;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #5e5e5e;
  margin-top: 0;
  padding: 8px;
  text-align: center;
}
.x-window .x-window-bl {
  background-color: #ffffff;
  background-image: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-panel-nofooter {
  background-color: #f7f8fa;
  background: #dfdfdf;
  background: linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #ffffff;
}
.x-window .x-window-header-text {
  color: #666666;
}
.x-window .x-window-dlg .ext-mb-text {
  font-size: 12px;
}
.x-window .x-window-dlg .x-window-header-text {
  font-size: 14px;
}
.x-window .x-window-dlg .x-window-body {
  padding: 15px;
}
.x-window .x-window-dlg .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-tc,
.x-window .x-window-bc {
  background-image: none;
}
.x-window .x-window-tr,
.x-window .x-window-br,
.x-window .x-window-mr {
  background-image: none;
  padding-right: 0;
}
.x-window .x-window-tl,
.x-window .x-window-ml {
  background-image: none;
  padding-left: 0;
}
.x-window .x-window-mc {
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 0 none;
}
.x-window .x-window-maximized .x-window-tc {
  background-color: #ffffff;
}
.x-window .x-window-bbar .x-toolbar,
.x-window .x-window-bbar-noborder .x-toolbar {
  background: #d5dade;
  background: linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 0 none;
  border-top: 1px solid #d4d9df;
  padding: 8px;
}
.x-window .x-dlg-mask {
  background-color: #cccccc;
}
.x-window-maximized .x-window-tc {
  padding-left: 0;
  padding-right: 0;
}