/* Main MODX Manager navbar */
#modx-navbar {
  background: $navbarBg;
  border-width: 0 0 1px;
  border-bottom: 1px solid $borderColor;
  box-shadow: 0 2px 0 $borderShadow;
  height: 100%;
  position: relative;
  z-index: 10;
}

#modx-user-menu {
  float: right;
  margin-right: 15px;
}

#modx-navbar {
  font-weight: bold;
  font: $fontNormal;
}

#modx-topnav {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#modx-navbar li,
#modx-navbar a {
  background: transparent;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

#modx-navbar li:hover {
  z-index: 10000;
}

#modx-navbar a {
  color: $navbarText;
  cursor: pointer;
  display: block;
  line-height: 43px;
  padding: 0 15px;
  text-decoration: none; 
}

#modx-topnav li.top > a {
  cursor: default;
}

#modx-topnav > li.top > a, #modx-user-menu > li.top > a {
  border-left:1px solid transparent; 
  border-right:1px solid transparent;
}

#modx-topnav > li.top:hover > a, #modx-user-menu > li.top:hover > a {
  border-left-color:$borderColor;
  border-right-color:$borderColor;
  background: $white;
  padding-bottom: 1px;
  z-index: 10001;
}

#modx-navbar li:hover a {
  background-color: $white;
  &:hover.modx-help {
    color: $colorSplash;
  }
}

#modx-navbar #limenu-admin ul.modx-subnav,
#modx-navbar #limenu-user ul.modx-subnav {
  left: auto;
  right: 0;
}

#modx-navbar ul.modx-subnav {
  display: none;
  float: left;
  left: 0;
  line-height: 1.1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 43px;
  z-index: 10000;
}

#modx-navbar ul.modx-subnav, #modx-navbar ul.modx-subsubnav {
  border-radius: 0 0 $navbarRadius $navbarRadius;
  border-top: none;
  border: 1px solid $borderColor;
  box-shadow: $shadower;
}

#modx-navbar #modx-home-dashboard {
  @include retina-image("../images/modx-logo", 32px 33px);
  background-position:center center;
  background-repeat:no-repeat;
  width: 50px;
}
#user-avatar img {
  border-radius: 3px;
  margin: 6px 7px 0 0;
  line-height: 18px; 
  display: block;
  float: left;
}
#user-username {
}

#modx-navbar #modx-home-dashboard a {
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 100%;
}

#modx-navbar #modx-home-dashboard:hover a {
  background-color: transparent;
}

#modx-navbar #modx-home-dashboard:hover {
  /*background-color: $navbarHover;*/
}

#modx-navbar li:hover ul.modx-subnav {
  display: block;
}

#modx-navbar ul.modx-subnav li {
  background: $white;
  border-bottom: 1px solid $navbarHover;
  clear: both;
  margin: 0;
  padding: 0;
}

/*
#modx-navbar ul.modx-subnav li:first-child a {
  @include background(linear-gradient($navbarHover, $navbarDrop) top repeat);
}
*/

#modx-navbar ul.modx-subnav li a {
  background-color: $white;
  float: left;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 8px 15px;
  text-shadow: none;
  width: 240px;
}

/*
#modx-navbar ul.modx-subnav li a {
  border-top:1px solid $navbarDrop;
  border-bottom:1px solid $navbarDrop;	
}
*/

#modx-navbar ul.modx-subnav li {
  a:hover {
    background: $gainsboro;
    border-top-color:$borderColor;
    border-bottom-color:$borderColor;
  }
  &:first-child a {
    border-top-width:0;
  }
  &:last-child a {
    border-bottom-width:0;
  }
}

#modx-navbar ul.modx-subnav li a span {
  display: block;
  float: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 6px;
  width: 100%;
}

#modx-navbar ul.modx-subnav ul {
  display: none;
  left: 270px;
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 2px;
  z-index: 24;
}

#modx-navbar ul.modx-subnav ul li:first-child,
#modx-navbar ul.modx-subnav ul li:first-child a {
  border-radius: 0 2px 0 0;
}

#modx-navbar ul.modx-subnav ul li:last-child,
#modx-navbar ul.modx-subnav ul li:last-child a {
  border-radius: 0 0 2px 0;
}

#modx-navbar ul.modx-subnav ul ul li:last-child,
#modx-navbar ul.modx-subnav ul ul li:last-child a {
  border-radius: 0 0 2px 2px;
}

#modx-navbar ul.modx-subnav li:hover ul ul,
#modx-navbar ul.modx-subnav ul li:hover ul ul,
#modx-navbar ul.modx-subnav ul ul li:hover ul ul {
  display: none;
}

#modx-navbar ul.modx-subnav li:hover ul,
#modx-navbar ul.modx-subnav ul li:hover ul,
#modx-navbar ul.modx-subnav ul ul li:hover ul,
#modx-navbar ul.modx-subnav ul ul ul li:hover ul {
  display: block;
}

.ext-ie7 #modx-header {
  position: relative;
  z-index: 10;
}