/* top area around the tab strip */
.x-tab-panel-noborder {
  border: 1px solid #E2E3DE;
  margin: 20px 0 20px;
  overflow: visible;

  /* background behind a button bar */
  .x-tab-panel-body-noborder {
    background-color: $white;
    border-radius: $borderRadius;
  }
}

/* main tabs */
.x-tab-panel-header,
.x-tab-panel-footer {
  border: 0;
  position: relative;
}

.x-tab-panel-header ul.x-tab-strip-top {
  /*border-bottom-color: $white;*/
  border: 0; /* prevent overflowing border, add to .x-tab-strip-wrap if necessary */
  margin: 0; /* was -1px */
  width: auto; /* commented out bc it prevents tabs from triggering the scroll functionality */
  background-color: $tabStripBg !important;
  position: relative;
  top: 1px;
}

.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {
  background-color: #fff;
  border: none;
  height: 0;
  /*margin: -2px 0 0 0; /* was -2px 0 0 -1px */
}

.x-tab-panel-header,
.x-tab-strip {
  /*padding-left: 1px;*/
  padding-left: 0;
}

.x-tab-panel-bwrap {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  overflow: visible; /* prevent cutoff box-shadow */
}

.x-tab-strip li {
  color: $tabInactiveText;
  cursor: pointer;
  font: $tabFont;
  line-height: 2.2;
  margin: 1px 0 1px 2px;
  padding: 0 12px;
  position: relative;
  z-index: 5;

  &:hover {
    color: $tabHoverText;
  }

  &.x-tab-strip-active {
    color: $tabActiveText;
    background-color: #fff;
    box-shadow: 0 -3px 0 $colorSplash, -1px 0 0 transparent;
    cursor: default;
    margin: 0 0 0 2px;
    padding-bottom: 2px;

    .vertical-tabs-header & {
      border-radius: 0;
    }

    /* For the box shadow around the tab */
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -3px;
      right: 0;
      bottom: 1px;
      left: 0;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      z-index: -1;
      border-radius: $borderRadius;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 90%;
      right: 0;
      bottom: -4px;
      left: 0;
      background: #fff
    }
  }
  &.x-tab-edge {
    height: 0;
    visibility: hidden; /* display none makes the tab scroll buttons appear somehow */
  }
}

.x-tab-strip-wrap,
.x-tab-panel-header,
.x-tab-panel {
  overflow: visible;
  border: none;
}

.x-tab-strip-closable {
  padding-right: 15px !important;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
  right: 8px;
  top: 11px;
  background-image: url($imgPath + 'modx-theme/tabs/tab-close.gif');
}

ul.x-tab-strip-top li:first-child {
  /*margin-left: -1px*/;
  margin-left: 0;
}

ul.x-tab-strip-bottom {
  background-color: #f4f4f4;
  border-top-color: #dfdfdf;

  & .x-tab-right {
    background-image: url($imgPath + 'modx-theme/tabs/tab-btm-inactive-right-bg.gif');

    & .x-tab-right {
      background-image: url($imgPath + 'modx-theme/tabs/tab-btm-right-bg.gif');
    }
    & .x-tab-left {
      background-image: url($imgPath + 'modx-theme/tabs/tab-btm-left-bg.gif');
    }
  }

  & .x-tab-left {
    background-image: url($imgPath + 'modx-theme/tabs/tab-btm-inactive-left-bg.gif');
  }

}

.x-tab-panel-body {
  background-color: $white;
  border: none;
}

.x-tab-panel-body-top {
  border-top: 0 none;
}

.x-tab-panel-body-bottom {
  border-bottom: 0 none;
}

.x-tab-scroller-left {
  background-image: url($imgPath + 'modx-theme/tabs/scroll-left.gif');
  border-bottom-color: #dfdfdf;
}

.x-tab-scroller-left-over {
  background-position: 0 0;
}

.x-tab-scroller-left-disabled {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background-position: -18px 0;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.x-tab-scroller-right {
  background-image: url($imgPath + 'modx-theme/tabs/scroll-right.gif');
  border-bottom-color: #dfdfdf;
}

.x-tab-panel-bbar .x-toolbar,
.x-tab-panel-tbar .x-toolbar {
  border-color: #dfdfdf;
}

.x-tab-panel-body-noborder .x-panel-body-noheader:first-child {
  border-top: 0 none;
}

.x-tab-panel-bbar-noborder .x-toolbar {
  border-top-color: transparent;
}

.x-tab-panel-tbar-noborder .x-toolbar {
  border-bottom-color: transparent;
}

/* vertical tabs */
.vertical-tabs-panel {
  background: $white;
  margin: 0; /* remove top and bottom margin */
  overflow: hidden; /* dirty hack to make vertical tabs container stretch to bottom */

  &.wrapped {
    border: 1px solid $borderColor;
  }

  .vertical-tabs-header {
    background: $coreFieldBg !important; /* ovverride extjs default theme */
    border-right: 1px solid $borderColor !important; /* ovverride extjs default theme */
    float: left;
    margin-bottom: -10000px; /* dirty hack to make vertical tabs container stretch to bottom */
    padding-bottom: 10000px !important; /* dirty hack to make vertical tabs container stretch to bottom */
    width: 169px !important; /* aligns the vertical tabs with the TVs tab left edge, will not work that nicely with non-english langs */

    .x-tab-strip-wrap {
      display: inline-block;
      line-height: 0;
      width: auto !important; // Overrides extjs inline width

      ul.x-tab-strip {
        border: 0; /* overrides extjs default theme */
        display: inline-block;
        top: 0; /* overrides extjs default theme style of 1px */

        > li {
          border-bottom: 1px solid $borderColor;
          color: $coreFieldLabelColor;
          float: none;
          line-height: 1;
          margin: 0; /* override default extjs theme value of 2px */
          overflow: hidden;
          padding: 10px 15px 10px 15px;
          transition: all 0.3s;
          white-space: nowrap;

          &:hover {
            background: $white;
          }
          &.x-tab-strip-active {
            background: $white;
            border-color: $borderColorHover;
            box-shadow: none; /* removes the active tab strip on top */
            color: $tabActiveText;
            width: 169px; /* make the active li 1px more wide to cover the containers right border */
          }
          &.x-tab-edge {
            height: 0;
            visibility: hidden; /* display none makes the tab scroll buttons appear somehow */

            .x-tab-strip-text {
              display: none; /* prevent 4px high space at the end of the tab strip */
            }
          }
        }
      }
    }
    /* the "categories" text */
    h4 {
      background: $white;
      /*border-right: 1px solid $borderColor;*/
      border-bottom: 1px solid $borderColor;
      color: $darkNeutral;
      font-size: 16px;
      padding: 15px 0 15px 15px;
    }
    .x-tab-strip-spacer {
      display: none; /* added by extjs */
    }
  }

  /* this is the area where the TV form fields are displayed */
  .x-tab-panel-bwrap {
    box-shadow: none;

    .x-tab-panel-body {
      width: auto !important; // Overrides extjs inline width
    }

    .vertical-tabs-body {
      padding: 20px 30px 20px 25px;
    }
  }
}

.tvs-wrapper {
  &.below-content {
    border-radius: $borderRadius;
    margin-top: 20px;

    .vertical-tabs-panel {
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
    }
  }
}


.window-vtabs {
  .x-panel-mr {
    padding-right: 0px;
  }
  .vertical-tabs-panel {
    width: 100% !important;
    margin: 0px;
  }
}
