@import "font-awesome/variables";
@import "font-awesome/mixins";

#modx-leftbar {
  /* the main container + bg behind the tabs */
  & .x-tab-panel-noborder {
    margin: 26px 10px 26px 26px;
  }
  /* the toolbars just below the tabs */
  & .x-panel-tbar {
    padding: 0;
  }
  & .x-toolbar {
    padding: 4px 5px 2px 0;
  }
  /* root box containing a context or category */
  & .x-tree-root-ct {
    padding: 6px;
  }
  /* just the actual nodes */
  & .x-tree .x-panel-body {
    backgroud: $white;
  }
  
  .x-tab-panel-bwrap {
    border-radius: $borderRadius 0 $borderRadius $borderRadius;
	  position: relative;
	  z-index: 1;

    .x-tab-panel-body-noborder {
      border-radius: $borderRadius 0 $borderRadius $borderRadius;
      background-color: $white;
    }
  }
}

#modx-resource-tree-tbar .x-toolbar-left .x-btn.tree-new-resource,
#modx-tree-element .x-toolbar-left .x-btn.tree-new-template {
  margin-left: 16px;
}

#modx-leftbar-tabpanel {
}

/* tree menu splitter / tree expander */
.x-layout-split,
#modx-leftbar-tabs-xcollapsed {
  overflow: visible;
  width: 8px;
  z-index: 2; /* make it stay higher than the tree itself to cover the box shadow */

  &:hover {
    background: $softGray;

    .x-layout-mini {
      opacity: 1;
      filter: alpha(opacity=100); /* for IE <= 8 */
    }
  }

  .x-layout-mini {
    background-color: #fff;
    box-shadow: $boxShadow;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 0 $borderRadius $borderRadius 0;
    left: -9px;
    top: 68px;
    width: 11px; /* to have left and right 3px equal space from the arrow which is 5px */
    height: 41px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* for IE <= 8 */
    transition: all 0.25s;

    &:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid $treeColor;
      position: absolute;
      content: ' ';
      right: 4px;
      top: 16px;
    }

    &:hover:after {
      border-right-color: $colorSplash;
    }

    /* Firefox & IE adjustments */
    .ext-gecko3 &,
    .ext-ie & {
      height: 40px;
      top: 69px;
    }
  }
}

/* style for the collapsed tree expander */
#modx-leftbar-tabs-xcollapsed {
  .x-layout-mini {
    left: 0;

    &:after {
      border-right: 0;
      border-left: 5px solid $treeColor;
    }

    &:hover:after {
      border-left-color: $colorSplash;
    }
  }
}

.modx-tree {
  padding: 0;
  #modx-file-tree & {
    &:first-child {
      padding-top: 4px;
    }
    .tree-pseudoroot-node {
      /* why was this here? this prevents the spacing between the nodes/sources in the filetree */
      /*margin-top: 0;
      margin-bottom: 0;*/
    }
  }
}

/* icons */
.x-tree-arrows .x-tree-elbow-plus,
.x-tree-arrows .x-tree-elbow-minus,
.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus {
  background: none;
}
.x-tree-arrows .x-tree-elbow-plus:before,
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-plus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  background: transparent 0 0;
  display: inline-block;
  width: 10px;
  padding-left: 6px;
  margin: 0 0 0 -16px;
}
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @extend %pseudo-font;
  content:$fa-var-caret-down;
  padding-left: 4px;
  width: 12px;
}

/* icons for the various tree elements */
.tree-context:before {
  @extend %pseudo-font;
  content:$fa-var-globe;
}
.x-tree-node-expanded .tree-folder:before {
  @extend %pseudo-font;
  content:$fa-var-folder-open;
}
.x-tree-node-collapsed .tree-folder:before {
  @extend %pseudo-font;
  content:$fa-var-folder;
}
.x-tree-node .locked-resource:before {
  @extend %pseudo-font;
  content:$fa-var-lock;
}
.tree-resource:before {
  @extend %pseudo-font;
  content:$fa-var-file-o;
}
.tree-static-resource:before {
  @extend %pseudo-font;
  content:$fa-var-file-text-o;
}
.tree-weblink:before {
  @extend %pseudo-font;
  content:$fa-var-link;
}
.tree-symlink:before {
  @extend %pseudo-font;
  content:$fa-var-files-o;
}

/* tree states */
.x-tree-node-el {
  color: $treeColor;
  font: $treeNodeFont;
  padding-left: 6px;

  .x-btn {
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .icon {
    display: inline-block;
    width: 1em;

    font-size: 1.15em;
    line-height: (3em / 4);
    vertical-align: -15%;
  }

  /* For legacy icons */
  background-repeat: no-repeat;
  background-position: 5px;
}

.x-tree-node-el a span {
  line-height: 1.7; /* back to 18px */
  padding-left: 7px;

  & span {
    padding-left: 0;
  }
}

.unpublished,
.unpublished a span {
  color: $unpublished;
  font-style: $unpubText;

  i.icon,
  i.icon-large {
      color: $unpublished;
      font-style: normal;
  }
}
.hidemenu,
.hidemenu a span {
  color: $hidden;
  font-style: normal;

  &.unpublished,
  &.unpublished a span {
    font-style: $unpubText;
  }

  i.icon,
  i.icon-large {
      color: $hidden;
      font-style: normal;
  }
}
.deleted {
  color: $delTextColor;

  i.icon,
  i.icon-large {
      color: $delTextColor;
      font-style: normal;
  }

  a span {
    color: $delTextColor;
    text-decoration: $delTextDeco;
    font-style: $delTextStyle;
  }
}

.element-node-disabled a span {
  color: $disabled;
}
.x-tree-node .x-tree-node-disabled a span {
  color: lighten($treeColor, 50%);
}

.element-node-locked a span {
  font-style: $lockedText;
}

.x-tree-node {
	position:relative;
}

.modx-tree-node-tool-ct {
	position:absolute;
	top:0;
	right:6px;
    bottom:0;
    line-height:1.8;
}

.x-tree-root-ct {
  border-radius: 0;
  overflow: hidden;
  padding: 0 !important;
}

.tree-pseudoroot-node.x-tree-node-el {
  background-color: $treePseudoRootBg;
  font: $treePseudoRootFont;
  position:relative;
  padding: 0 0 0 4px;
  margin-top: 2px;
  margin-bottom: 2px;

  a span {
    color: $treePseudoRootColor;
  }

  > .icon {
    font-weight: normal;
    color: $treePseudoRootColor;
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
  }

  .modx-tree-node-tool-ct {
    line-height: 35px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* for IE <= 8 */
    .x-btn {
      margin-left: 2px;
    }
  }
  &.x-tree-node-expanded, &.x-tree-node-expanded span, &.x-tree-node-expanded > .icon {
    color: $treePseudoRootOverColor;
    background-color: $treePseudoRootOverBg;
  }
  &.x-tree-node-over {
    background-color: $treePseudoRootOverBg;
    color: $treePseudoRootOverColor;
  }
  + .x-tree-node-ct, + div > .x-tree-node-ct {
    padding: 5px 0;
    overflow-x: auto;
    &:empty {
      padding: 0;
    }
  }
  &:hover .modx-tree-node-tool-ct {
    opacity: 1;
    filter: alpha(opacity=100); /* for IE <= 8 */
  }
}


.x-tree-elbow, .x-tree-elbow-end {
  display: inline-block;

  #modx-leftbar-tabpanel & {
    /*display: inline;*/
  }
}

/* miscellaneous tree styles */
.x-tree-node-el .x-tree-node-icon {
  display: inline-block;
}
.x-tree-node-loading .x-tree-node-icon {
  background-image: url($imgPath + 'modx-theme/tree/loading.gif') !important;
}
.x-tree-node-loading a span {
  color: #444444;
  font-style: italic;
}
.ext-ie .x-tree-node-el input {
  height: 15px;
  width: 15px;
}

/* accordion header row icons */
#modx-leftbar .icon,
.x-tree-node /*.modx-tree-node-tool-ct*/ .icon {
  background: none;
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 3px;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=80); /* for IE <= 8 */

  i {
    font-style: normal;
  }

  button {
    display: none;
  }
}

.x-tree-node-ct .x-tree-node .icon {
	position: relative;
	top: -1px;
	left: 1px;
}



/* drag and drop styles */
.x-tree-node a,
.x-dd-drag-ghost a,
.x-tree-node a span,
.x-dd-drag-ghost a span {
  color: $treeColor;
}
.x-tree-node div.x-tree-drag-insert-below {
  border-bottom-color: #686868;
}
.x-tree-node div.x-tree-drag-insert-above {
  border-top-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top-color: #686868;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: $brandHover;
  border-color: $borderColor;
}
.x-tree-node .x-tree-node-over {
  background-color: $brandHover;
}
.x-tree-node .x-tree-expanded {
  color: $brandSelectedColor;
  background-color: $brandHover;
  a {
    color: $brandSelectedColor;
    span {
      color: $brandSelectedColor;
    }
  }
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-add.gif');
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-over.gif');
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-under.gif');
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-between.gif');
}


/* legacy icons */
@mixin legacy-tree-icon {
  background-repeat: no-repeat !important;

  // Set the background position to center
  background-position: center !important;
  // .. unless the icon is applied to the actual tree node (e.g. Gallery addon), in which case it needs
  // .. to be in the top left a bit.
  &.x-tree-node-el {
    background-position: 5px 5px !important;
  }
  min-width: 16px;
  min-height: 16px;
  vertical-align: middle;

  // Hides the font awesome icon
  &:before {
    content: ' ';
  }
}
.icon-rss:before {
  @extend %pseudo-font;
  content: $fa-var-rss;
}
.icon-cal:before,
.icon-ical:before,
.icon-ics:before,
.icon-vcs:before {
  @extend %pseudo-font;
  content: $fa-var-calendar;
}
.icon-db:before,
.icon-sql:before {
  @extend %pseudo-font;
  content: $fa-var-database;
}
.icon-zip:before,
.icon-tar:before,
.icon-tgz:before,
.icon-gz:before,
.icon-bz2:before,
.icon-rar:before,
.icon-7z:before,
.icon-dmg:before,
.icon-iso:before {
  @extend %pseudo-font;
  content: $fa-var-file-archive-o;
}
.icon-bk:before,
.icon-bak:before,
.icon-backup:before {
  @extend %pseudo-font;
  content: $fa-var-history;
}
.icon-jpg:before,
.icon-jpeg:before,
.icon-gif:before,
.icon-png:before,
.icon-bmp:before,
.icon-tiff:before,
.icon-svg:before {
  @extend %pseudo-font;
  content: $fa-var-file-image-o;
}
.icon-bat:before,
.icon-scr:before,
.icon-sh:before {
  @extend %pseudo-font;
  content: $fa-var-terminal;
}
.icon-txt:before,
.icon-log:before {
  @extend %pseudo-font;
  content: $fa-var-file-text-o;
}
.icon-aac:before,
.icon-mp3:before,
.icon-ogg:before,
.icon-wma:before,
.icon-m4a:before,
.icon-flac:before,
.icon-wav:before,
.icon-aif:before,
.icon-aiff:before {
  @extend %pseudo-font;
  content: $fa-var-file-audio-o;
}
.icon-avi:before,
.icon-mpg:before,
.icon-mpeg:before,
.icon-mov:before,
.icon-mp4:before,
.icon-m4v:before,
.icon-3gp:before,
.icon-flv:before,
.icon-fla:before,
.icon-swf:before,
.icon-wmv:before {
  @extend %pseudo-font;
  content: $fa-var-file-video-o;
}
.icon-access:before,
.icon-htaccess:before {
  @extend %pseudo-font;
  content: $fa-var-lock;
}
.icon-php:before,
.icon-cfm:before,
.icon-rb:before,
.icon-as:before,
.icon-java:before,
.icon-jar:before {
  @extend %pseudo-font;
  content: $fa-var-file-code-o;
}
.icon-doc:before,
.icon-docx:before {
  @extend %pseudo-font;
  content: $fa-var-file-word-o;
}
.icon-csv:before,
.icon-xls:before,
.icon-xlsx:before {
  @extend %pseudo-font;
  content: $fa-var-file-excel-o;
}
.icon-ppt:before,
.icon-pptx:before {
  @extend %pseudo-font;
  content: $fa-var-file-powerpoint-o;
}
.icon-pdf:before {
  @extend %pseudo-font;
  content: $fa-var-file-pdf-o;
}
.icon-html:before,
.icon-htm:before,
.icon-xml:before {
  @extend %pseudo-font;
  content: $fa-var-file-code-o;
}
.icon-js:before,
.icon-coffee:before {
  @extend %pseudo-font;
  content: $fa-var-file-code-o;
}
.icon-css:before,
.icon-scss:before,
.icon-less:before,
.icon-styl:before {
  @extend %pseudo-font;
  content: $fa-var-file-code-o;
}


.icon-action {
  background-image: url($imgPath + 'restyle/icons/application_osx_terminal.png') !important;
  @include legacy-tree-icon;
}
.icon-namespace {
  background-image: url($imgPath + 'restyle/icons/computer.png') !important;
  @include legacy-tree-icon;
}
/*.icon-propertyset {
  background-image: url($imgPath + 'restyle/icons/property-set.png') !important;
  @extend %hide-font-icon;
}*/
/*.icon-resourcegroup {
  background: url($imgPath + 'restyle/icons/application_cascade.png') no-repeat left top !important;
  @extend %hide-font-icon;
}*/
.icon-list-new {
  background-image: url($imgPath + 'restyle/icons/layout_add.png') !important;
  @include legacy-tree-icon;
}
.icon-mark-active {
  background-image: url($imgPath + 'restyle/icons/layout_edit.png') !important;
  @include legacy-tree-icon;
}
.icon-mark-complete {
  background-image: url($imgPath + 'restyle/icons/layout_header.png') !important;
  @include legacy-tree-icon;
}
.icon-package {
  background-image: url($imgPath + 'restyle/icons/package.png') !important;
  padding-right: 5px !important;
  @include legacy-tree-icon;
}
.icon-locked {
  background-image: url($imgPath + 'restyle/icons/lock_edit.png') !important;
  @include legacy-tree-icon;
}
.icon-lock {
  /*background-image: url($imgPath + 'restyle/icons/lock.png') !important;
  @include legacy-tree-icon;*/
  @extend %pseudo-font;
  content: $fa-var-lock;
}
#modx-resource-tree-panel .x-accordion-hd {
  background-position: 0 0;
}
#modx-element-tree-panel .x-accordion-hd {
  background-position: 0 -32px;
}
#modx-file-tree-panel .x-accordion-hd {
  background-position: 0 -64px;
}
#modx-static-page-settings .x-accordion-hd {
  background-position: 0 -96px;
}

/*
.x-tree .x-panel-body {
  background-color:#fff;
  border:1px solid #E4E4E4;
}*/
.x-tree-node-el .x-tree-node-icon {
  display: inline-block;
}
.x-tree-node-loading .x-tree-node-icon {
  background-image: url($imgPath + 'modx-theme/tree/loading.gif') !important;
}
.x-tree-node-loading a span {
  color: #444444;
  font-style: italic;
}
.ext-ie .x-tree-node-el input {
  height: 15px;
  width: 15px;
}
.x-tree-root-ct {
  border-radius: 0;
  overflow: hidden;
  padding: 0 !important;
}

.x-tree-root-node {
  margin: 0;
}


.x-tree-arrows .x-tree-elbow-plus,
.x-tree-arrows .x-tree-elbow-minus,
.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus {
  background: none;
}
.x-tree-arrows .x-tree-elbow-plus:before,
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-plus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @extend %pseudo-font;
  content:$fa-var-caret-right;
  background: transparent 0 0;
  display: inline-block;
  width: 10px;
  padding-left: 6px;
  margin: 0;
}
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @extend %pseudo-font;
  content:$fa-var-caret-down;
  padding-left: 4px;
  width: 12px;
}

/* icons for the various tree elements */
.tree-context:before {
  @extend %pseudo-font;
  content:$fa-var-globe;
}
.x-tree-node-expanded .tree-folder:before {
  @extend %pseudo-font;
  content:$fa-var-folder-open;
}
.tree-folder:before {
  @extend %pseudo-font;
  content:$fa-var-folder;
}
.tree-resource:before {
  @extend %pseudo-font;
  content:$fa-var-file;
}
.tree-static-resource:before {
  @extend %pseudo-font;
  content:$fa-var-file-text-o;
}
.tree-weblink:before {
  @extend %pseudo-font;
  content:$fa-var-link;
}
.tree-symlink:before {
  @extend %pseudo-font;
  content:$fa-var-files-o;
}

.x-tree-node {
  color: $treeColor;
}
.x-tree-node a, .x-dd-drag-ghost a {
  color: $treeColor;
}
.x-tree-node a span, .x-dd-drag-ghost a span {
  color: $treeColor;
}
.x-tree-node .x-tree-node-disabled a span {
  color: lighten($treeColor, 50%);
}
.x-tree-node div.x-tree-drag-insert-below {
  border-bottom-color: #686868;
}
.x-tree-node div.x-tree-drag-insert-above {
  border-top-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top-color: #686868;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: #ddd;
  border-color: $borderColor;
}
.x-tree-node .x-tree-node-over {
  background-color: $brandHover;
}
.x-tree-node .x-tree-selected {
  background-color: $brandHover;
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-add.gif');
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-over.gif');
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-under.gif');
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url($imgPath + 'modx-theme/tree/drop-between.gif');
}
