.x-tab-panel-noborder {

}
#modx-leftbar .x-tab-panel-noborder .x-tab-panel-body-noborder {
  background-color: #fff;
  background-color: $darkBg;
  border: none;
  margin: 0 0 20px;
  margin: 3px 0 0;
  overflow: visible;
}

ul.x-tab-strip-top {
  width: auto;
}

/* the wrapper for every context */
#modx-leftbar ul.x-tree-root-ct {
  padding: 6px;
  background: $darkBg;
}
.tree-pseudoroot-node {
  background: $darkBg;
  border-top: 1px solid $treeDivider;
}

/* leftbar tabs 
#modx-leftbar .x-tree .x-panel-body {
  background: $darkBg;
}

#modx-leftbar .x-tab-panel-body {
  background-color: transparent;
}

#modx-leftbar .x-toolbar {
  border-bottom: 0;
  padding: 4px 5px 5px;
}

.modx-leftbar .x-tree-root-ct {
  background-color: $darkestBg;
}*/

/* main styles for the various tree states */
.x-tree-node-el {
  border-bottom: 1px solid $treeDivider;
  line-height: 2;
}

.x-tree-node-el a span {
  line-height: 2;
  padding-left: 7px;
}

.x-tree-node-el a span span {
  padding-left: 0;
}

.unpublished,
.unpublished a span {
  color: $unpublished;
  font-style: $unpubTextStyle;
}

.hidemenu a span {
  color: $hidden;
}

.deleted {
  color: $deleted;
}

.deleted a span {
  color: $deleted;
  text-decoration: $delTextDeco;
  font-style: $delTextStyle;
}

.element-node-disabled a span {
  color: gray !important;
}

.element-node-locked a span {
  font-style: italic;
}

.x-tree .x-panel-body {
  /*background-color:#fff;*/
  /*border:1px solid #E4E4E4;*/
}
.x-tree-node-el .x-tree-node-icon {
  display: inline-block;
}
.x-tree-node-expanded .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/folder-open.gif);
}
.x-tree-node-leaf .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/leaf.gif);
}
.x-tree-node-collapsed .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/folder.gif);
}
.x-tree-node-loading .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/loading.gif) !important;
}
.x-tree-node .x-tree-node-inline-icon {
  background-image: none;
}
.x-tree-node-loading a span {
  color: #444444;
  font-style: italic;
}
.ext-ie .x-tree-node-el input {
  height: 15px;
  width: 15px;
}

.x-tree-node,
.x-tree-node a, 
.x-dd-drag-ghost a,
.x-tree-node a span, 
.x-dd-drag-ghost a span {
  color: $treeText;
}
.x-tree-node .x-tree-node-disabled a span {
  color: lighten($treeText, 50%);
}
.x-tree-node .x-tree-node-over {
  background-color: $lightBg;
}
#modx-leftbar .x-tree-selected,
#modx-leftbar .x-tree-selected a span,
#modx-leftbar .x-tree-selected.unpublished,
#modx-leftbar .x-tree-selected.unpublished a span  {
  background-color: $colorSplash;
  color: #fff !important;
}



.x-tree-lines .x-tree-elbow {
  background-image: url(../images/modx-theme/tree/elbow.gif);
}
.x-tree-lines .x-tree-elbow-plus {
  background-image: url(../images/modx-theme/tree/elbow-plus.gif);
}
.x-tree-lines .x-tree-elbow-minus {
  background-image: url(../images/modx-theme/tree/elbow-minus.gif);
}
.x-tree-lines .x-tree-elbow-end {
  background-image: url(../images/modx-theme/tree/elbow-end.gif);
}
.x-tree-lines .x-tree-elbow-end-plus {
  background-image: url(../images/modx-theme/tree/elbow-end-plus.gif);
}
.x-tree-lines .x-tree-elbow-end-minus {
  background-image: url(../images/modx-theme/tree/elbow-end-minus.gif);
}
.x-tree-lines .x-tree-elbow-line {
  background-image: url(../images/modx-theme/tree/elbow-line.gif);
}
.x-tree-no-lines .x-tree-elbow-plus {
  background-image: url(../images/modx-theme/tree/elbow-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-minus {
  background-image: url(../images/modx-theme/tree/elbow-minus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end-plus {
  background-image: url(../images/modx-theme/tree/elbow-end-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end-minus {
  background-image: url(../images/modx-theme/tree/elbow-end-minus-nl.gif);
}
.x-tree-arrows .x-tree-elbow-plus {
  background-image: url(../images/modx-theme/tree/arrows2.gif);
}
.x-tree-arrows .x-tree-elbow-minus {
  background-image: url(../images/modx-theme/tree/arrows2.gif);
}
.x-tree-arrows .x-tree-elbow-end-plus {
  background-image: url(../images/modx-theme/tree/arrows2.gif);
}
.x-tree-arrows .x-tree-elbow-end-minus {
  background-image: url(../images/modx-theme/tree/arrows2.gif);
}

/* drag and drop between nodes */
.x-tree-node div.x-tree-drag-insert-below {
  border-bottom-color: #686868;
}
.x-tree-node div.x-tree-drag-insert-above {
  border-top-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top-color: #686868;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: #ddd;
  border-color: $borderColor;
}

.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-add.gif);
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-over.gif);
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-under.gif);
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-between.gif);
}


/* tree menu splitter */
.x-layout-split {
  background: white;
  border-width: 0 0 0 1px;
  border: 1px solid $borderColor;
  width: 8px;
  z-index: 0;
  .x-layout-mini {
    left: 3px;
  }
}

.x-layout-split:hover {
  background: $lightBg;
  box-shadow: 2px 0 2px $borderShadow;
}