.x-tab-panel-noborder {
    border: 1px solid #E2E3DE;
    margin: 20px 0 10px;
    background-color: rgb(240,240,240);
    overflow: visible;
}

#modx-leftbar .x-tab-panel-noborder .x-tab-panel-body-noborder {
    background-color: #fff;
}
ul.x-tab-strip-top {
    margin: -1px;
    width: auto;
}

#modx-leftbar .x-tab-panel-noborder 
{
    margin: 15px 10px 10px;
}

#modx-leftbar .x-tree-root-ct {
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    padding: 6px;
}

/* leftbar tabs */
#modx-leftbar .x-tree .x-panel-body {
    background: #fff;
}
#modx-leftbar .x-tab-panel-body {
    background-color: transparent;
}
#modx-leftbar .x-toolbar {
    border-bottom: 0;
    padding:4px 5px 5px;
}
.modx-leftbar .x-tree-root-ct {
    border-radius:inherit inherit 3px 3px;
    background-color: #eee;
}

/* icons */
.icon-resource {background-image:url(../images/restyle/icons/page_white.png) !important;}

.icon-folder {background-image:url(../images/restyle/icons/folder_page_white.png) !important;}
.icon-haschildren {background-image:url(../images/restyle/icons/folder.png) !important;}

.icon-chunk { background-image:url(../images/restyle/icons/chunk.png) !important; }
.icon-plugin { background-image:url(../images/restyle/icons/plugin.png) !important; }
.icon-snippet { background-image:url(../images/restyle/icons/snippet.png) !important; }
.icon-template { background-image:url(../images/restyle/icons/template.png) !important; }
.icon-tv, .icon-templatevar { background-image:url(../images/restyle/icons/tv.png) !important; }

.icon-context { background-image:url(../images/restyle/icons/context.png) !important; }

.icon-symlink { background-image:url(../images/restyle/icons/page_white_copy.png) !important; }
.icon-weblink { background-image:url(../images/restyle/icons/page_white_link.png) !important; }
.icon-staticresource { background-image:url(../images/restyle/icons/page_white_gear.png) !important; }

.icon-menu { background-image:url(../images/restyle/icons/resources.png) !important; }
.icon-action { background-image:url(../images/restyle/icons/application_osx_terminal.png) !important; }
.icon-namespace { background-image:url(../images/restyle/icons/computer.png) !important; }
.icon-propertyset { background-image:url(../images/restyle/icons/property-set.png) !important; }

/*.icon-file { background-image:url(../images/restyle/icons/disk.png) !important; }*/
.icon-rss { background-image:url(../images/restyle/icons/feed.png) !important; }
.icon-cal { background-image:url(../images/restyle/icons/calendar.png) !important; }
.icon-sql { background-image:url(../images/restyle/icons/database_table.png) !important; }
.icon-db { background-image:url(../images/restyle/icons/database.png) !important; }
.icon-java, .icon-jar { background-image:url(../images/restyle/icons/cup.png) !important; }
.icon-css { background-image:url(../images/restyle/icons/css.png) !important; }
.icon-zip, .icon-tar, .icon-tgz, .icon-gz { background-image:url(../images/restyle/icons/compress.png) !important; }
.icon-jpg, .icon-jpeg, .icon-gif, .icon-png, .icon-bmp, .icon-tiff { background-image:url(../images/restyle/icons/picture.png) !important; }
.icon-bat, .icon-scr { background-image:url(../images/restyle/icons/application_osx_terminal.png) !important; }
.icon-log { background-image:url(../images/restyle/icons/computer.png) !important; }
.icon-html, .icon-htm { background-image:url(../images/restyle/icons/html_valid.png) !important; }
.icon-avi, .icon-mpg, .icon-mov { background-image:url(../images/restyle/icons/film.png) !important; }
.icon-rb { background-image:url(../images/restyle/icons/ruby.png) !important; }
.icon-doc { background-image:url(../images/restyle/icons/page_white_word.png) !important; }
.icon-ppt { background-image:url(../images/restyle/icons/page_white_powerpoint.png) !important; }
.icon-access, .icon-htaccess { background-image:url(../images/restyle/icons/lock.png) !important; }
.icon-php { background-image:url(../images/restyle/icons/page_white_php.png) !important; }
.icon-flv, .icon-swf { background-image:url(../images/restyle/icons/page_white_flash.png) !important; }
.icon-xls { background-image:url(../images/restyle/icons/page_white_excel.png) !important; }
.icon-cfm { background-image:url(../images/restyle/icons/page_white_coldfusion.png) !important; }
.icon-pdf { background-image:url(../images/restyle/icons/page_white_acrobat.png) !important; }
.icon-js { background-image:url(../images/restyle/icons/javascript.png) !important; }

.icon-group { background-image:url(../images/restyle/icons/group.png) !important; }
.icon-user { background-image:url(../images/restyle/icons/user.png) !important; }
.icon-resourcegroup { background-image:url(../images/restyle/icons/application_cascade.png) !important; }

.icon-list-new { background-image:url(../images/restyle/icons/layout_add.png) !important; }
.icon-mark-active { background-image:url(../images/restyle/icons/layout_edit.png) !important; }
.icon-mark-complete { background-image:url(../images/restyle/icons/layout_header.png) !important; }

.icon-package { background-image:url(../images/restyle/icons/package.png) !important; padding-right: 5px !important; }

.icon-locked { background-image:url(../images/restyle/icons/lock_edit.png) !important; }
.icon-lock { background-image:url(../images/restyle/icons/lock.png) !important; }

/* main styles for the various tree states */
.x-tree-node-el a span {
    padding-left: 7px;
    line-height: 2;
}
.x-tree-node-el a span span {
    padding-left: 0;
}

.unpublished,
.unpublished a span { 
    font-style: $unpubText;
    color: $unpublished;
}
.hidemenu a span { 
    color: $hidden; 
}
.deleted { color: red !important; }
.deleted a span {
    color: #CC3333 !important;
    text-decoration: line-through !important;
}
.element-node-disabled a span { 
    color: gray !important; 
}
.element-node-locked a span { 
    font-style: italic; 
}



#modx-resource-tree-panel .x-accordion-hd {
    background-position: 0 0;
}
#modx-element-tree-panel .x-accordion-hd {
    background-position: 0 -32px;
}
#modx-file-tree-panel .x-accordion-hd {
    background-position: 0 -64px;
}
#modx-static-page-settings .x-accordion-hd {
    background-position: 0 -96px;
}


/* tree menu splitter */
.x-layout-split {
    width: 8px;
    z-index: 0;
    background: $mainBg;
    border: 1px solid $borderColor;
    border-width: 0 0 0 1px;

  .x-layout-mini {
    left: -6px;
  }
}
.x-layout-split:hover 
{
    background: $navbarHover;
    box-shadow:2px 0 2px $borderShadow;
}