@import "font-awesome/variables";
@import "font-awesome/mixins";

#modx-leftbar {
  /* the main container + bg behind the tabs */
  & .x-tab-panel-noborder {
    margin: 15px 10px 10px;
    background: $gainsboro;
  }
  /* the toolbars just below the tabs */
  & .x-toolbar {
    padding: 4px 5px 5px;
  }
  /* root box contaiing a context or category */ 
  & .x-tree-root-ct { 
    padding: 6px;
  }
  /* just the actual nodes */
  & .x-tree .x-panel-body {
    backgroud: $white;
  }
}

#modx-leftbar-tabpanel {
  border:1px solid $borderColor;
  box-shadow: 0 0 0 3px $gainsboro;
}

/* tree menu splitter */
.x-layout-split {
  background: $white;
  border: solid $borderColor;
  border-width: 0 1px;
  width: 8px;
  z-index: 0;

  &:hover {
    background: $navbarHover;
    box-shadow: 2px 0 2px $borderShadow;
  }
  .x-layout-mini {
    left: -6px;
  }
}

/* icons */
.x-tree-arrows .x-tree-elbow-plus,
.x-tree-arrows .x-tree-elbow-minus,
.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus {
  background: none;
}
.x-tree-arrows .x-tree-elbow-plus:before,
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-plus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @include icon($caret-right);
  background: transparent 0 0;
  display: inline-block;
  width: 10px;
  padding-left: 6px;
  margin: 0 0 0 -16px;
}
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @include icon($caret-down);
  padding-left: 4px;
  width: 12px;
}

/* icons for the various tree elements */
.tree-context:before {
  @include icon($globe);
}
.x-tree-node-expanded .tree-folder:before {
  @include icon($folder-open);
}
.x-tree-node-collapsed .tree-folder:before {
  @include icon($folder-close);
}
.tree-resource:before {
  @include icon($file-alt);
}
.tree-static-resource:before {
  @include icon($file-text-alt);
}
.tree-weblink:before {
  @include icon($link);
}
.tree-symlink:before {
  @include icon($copy);
}

/* tree states */
.x-tree-node {
  color: $treeText;
  font: $fontSmall;
}

.x-tree-node-el a span {
  line-height: 1.7; /* back to 18px */
  padding-left: 7px;

  & span {
    padding-left: 0;
  }
}

.unpublished,
.unpublished a span {
  color: $unpublished;
  font-style: $unpubText;
}
.hidemenu a span {
  color: $hidden;
}
.deleted {
  color: $deleted;
}
.deleted a span {
  color: $deleted;
  text-decoration: $delTextDeco;
  font-style: $delTextStyle;
}
.element-node-disabled a span {
  color: $disabled;
}
.x-tree-node .x-tree-node-disabled a span {
  color: lighten($treeText, 50%);
}

.element-node-locked a span {
  font-style: $lockedText;
}

.x-tree-node {
	position:relative;
}

.modx-tree-node-tool-ct {
	position:absolute;
	top:0;
	right:0;
    bottom:0;
    line-height:1.8;
}


.x-tree-root-ct {
  border-radius: 0;
  overflow: hidden;
  padding: 0 !important;
}

.x-tree-root-node {
  margin: 0;
}

.tree-pseudoroot-node {
  background-color: darken($navbarHover, 2%);
  border-bottom: 1px solid $borderColor;
  font-weight: bold;
  line-height: 1;
  padding: 0 .4em 0 16px;
  position:relative;
  > .icon-large {
    font-weight: normal;
  }

  .modx-tree-node-tool-ct .x-btn {
      margin-left: 2px;
  }
}

.x-tree-node-el  {
  height:18px;
  max-height:18px;
}

/* miscellaneous tree styles */
.x-tree-node-el .x-tree-node-icon {
  display: inline-block;
}
.x-tree-node-loading .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/loading.gif) !important;
}
.x-tree-node-loading a span {
  color: #444444;
  font-style: italic;
}
.ext-ie .x-tree-node-el input {
  height: 15px;
  width: 15px;
}



/* drag and drop styles */
.x-tree-node a, 
.x-dd-drag-ghost a,
.x-tree-node a span, 
.x-dd-drag-ghost a span {
  color: $treeText;
}
.x-tree-node div.x-tree-drag-insert-below {
  border-bottom-color: #686868;
}
.x-tree-node div.x-tree-drag-insert-above {
  border-top-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top-color: #686868;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: $selected;
  border-color: $borderColor;
}
.x-tree-node .x-tree-node-over {
  background-color: $selected;
}
.x-tree-node .x-tree-selected {
  background-color: $selected;
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-add.gif);
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-over.gif);
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-under.gif);
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-between.gif);
}



/* legacy icons */
.icon-rss {
  background-image: url(../images/restyle/icons/feed.png) !important;
}
.icon-cal {
  background-image: url(../images/restyle/icons/calendar.png) !important;
}
.icon-sql {
  background-image: url(../images/restyle/icons/database_table.png) !important;
}
.icon-db {
  background-image: url(../images/restyle/icons/database.png) !important;
}
.icon-java, .icon-jar {
  background-image: url(../images/restyle/icons/cup.png) !important;
}
.icon-css {
  background-image: url(../images/restyle/icons/css.png) !important;
}
.icon-zip, .icon-tar, .icon-tgz, .icon-gz {
  background-image: url(../images/restyle/icons/compress.png) !important;
}
.icon-jpg, .icon-jpeg, .icon-gif, .icon-png, .icon-bmp, .icon-tiff {
  background-image: url(../images/restyle/icons/picture.png) !important;
}
.icon-bat, .icon-scr {
  background-image: url(../images/restyle/icons/application_osx_terminal.png) !important;
}
.icon-log {
  background-image: url(../images/restyle/icons/computer.png) !important;
}
.icon-html, .icon-htm {
  background-image: url(../images/restyle/icons/html_valid.png) !important;
}
.icon-avi, .icon-mpg, .icon-mov {
  background-image: url(../images/restyle/icons/film.png) !important;
}
.icon-rb {
  background-image: url(../images/restyle/icons/ruby.png) !important;
}
.icon-doc {
  background-image: url(../images/restyle/icons/page_white_word.png) !important;
}
.icon-ppt {
  background-image: url(../images/restyle/icons/page_white_powerpoint.png) !important;
}
.icon-access, .icon-htaccess {
  background-image: url(../images/restyle/icons/lock.png) !important;
}
.icon-php {
  background-image: url(../images/restyle/icons/page_white_php.png) !important;
}
.icon-flv, .icon-swf {
  background-image: url(../images/restyle/icons/page_white_flash.png) !important;
}
.icon-xls {
  background-image: url(../images/restyle/icons/page_white_excel.png) !important;
}
.icon-cfm {
  background-image: url(../images/restyle/icons/page_white_coldfusion.png) !important;
}
.icon-pdf {
  background-image: url(../images/restyle/icons/page_white_acrobat.png) !important;
}
.icon-js {
  background-image: url(../images/restyle/icons/javascript.png) !important;
}


.icon-action {
  background-image: url(../images/restyle/icons/application_osx_terminal.png) !important;
}
.icon-namespace {
  background-image: url(../images/restyle/icons/computer.png) !important;
}
/*.icon-propertyset {
  background-image: url(../images/restyle/icons/property-set.png) !important;
}*/
/*.icon-resourcegroup {
  background: url(../images/restyle/icons/application_cascade.png) no-repeat left top !important;
}*/
.icon-list-new {
  background-image: url(../images/restyle/icons/layout_add.png) !important;
}
.icon-mark-active {
  background-image: url(../images/restyle/icons/layout_edit.png) !important;
}
.icon-mark-complete {
  background-image: url(../images/restyle/icons/layout_header.png) !important;
}
.icon-package {
  background-image: url(../images/restyle/icons/package.png) !important;
  padding-right: 5px !important;
}
.icon-locked {
  background-image: url(../images/restyle/icons/lock_edit.png) !important;
}
.icon-lock {
  background-image: url(../images/restyle/icons/lock.png) !important;
}
#modx-resource-tree-panel .x-accordion-hd {
  background-position: 0 0;
}
#modx-element-tree-panel .x-accordion-hd {
  background-position: 0 -32px;
}
#modx-file-tree-panel .x-accordion-hd {
  background-position: 0 -64px;
}
#modx-static-page-settings .x-accordion-hd {
  background-position: 0 -96px;
}

/*
.x-tree .x-panel-body {
  background-color:#fff;
  border:1px solid #E4E4E4;
}*/
.x-tree-node-el .x-tree-node-icon {
  display: inline-block;
}
.x-tree-node-loading .x-tree-node-icon {
  background-image: url(../images/modx-theme/tree/loading.gif) !important;
}
.x-tree-node-loading a span {
  color: #444444;
  font-style: italic;
}
.ext-ie .x-tree-node-el input {
  height: 15px;
  width: 15px;
}
.x-tree-root-ct {
  border-radius: 0;
  overflow: hidden;
  padding: 0 !important;
}

.x-tree-root-node {
  margin: 0;
}

.x-tree-root-node > .x-tree-node > .x-tree-node-ct {
  margin-left: -7px !important;
  margin: 0 !important;
  padding: 0;
}

.x-tree-arrows .x-tree-elbow-plus,
.x-tree-arrows .x-tree-elbow-minus,
.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus {
  background: none;
}
.x-tree-arrows .x-tree-elbow-plus:before,
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-plus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @include icon($caret-right);
  background: transparent 0 0;
  display: inline-block;
  width: 10px;
  padding-left: 6px;
  margin: 0 0 0 -16px;
}
.x-tree-arrows .x-tree-elbow-minus:before,
.x-tree-arrows .x-tree-elbow-end-minus:before {
  @include icon($caret-down);
  padding-left: 4px;
  width: 12px;
}

/* icons for the various tree elements */
.tree-context:before {
  @include icon($globe);
}
.x-tree-node-expanded .tree-folder:before {
  @include icon($folder-open);
}
.x-tree-node-collapsed .tree-folder:before {
  @include icon($folder-close);
}
.tree-resource:before {
  @include icon($file-alt);
}
.tree-static-resource:before {
  @include icon($file-text-alt);
}
.tree-weblink:before {
  @include icon($link);
}
.tree-symlink:before {
  @include icon($copy);
}

.x-tree-node {
  color: $treeText;
}
.x-tree-node a, .x-dd-drag-ghost a {
  color: $treeText;
}
.x-tree-node a span, .x-dd-drag-ghost a span {
  color: $treeText;
}
.x-tree-node .x-tree-node-disabled a span {
  color: lighten($treeText, 50%);
}
.x-tree-node div.x-tree-drag-insert-below {
  border-bottom-color: #686868;
}
.x-tree-node div.x-tree-drag-insert-above {
  border-top-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a {
  border-bottom-color: #686868;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a {
  border-top-color: #686868;
}
.x-tree-node .x-tree-drag-append a span {
  background-color: #ddd;
  border-color: $borderColor;
}
.x-tree-node .x-tree-node-over {
  background-color: $selected;
}
.x-tree-node .x-tree-selected {
  background-color: $selected;
}
.x-tree-drop-ok-append .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-add.gif);
}
.x-tree-drop-ok-above .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-over.gif);
}
.x-tree-drop-ok-below .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-under.gif);
}
.x-tree-drop-ok-between .x-dd-drop-icon {
  background-image: url(../images/modx-theme/tree/drop-between.gif);
}
