/* MODX MANAGER SEARCH */
#modx-navbar #modx-manager-search { /* #shame */
  padding: 11px 8px 5px 10px;
  height: 38px;
  min-width:120px;
  @include media($gtDesktop) {
  min-width:194px; 
  }
  > {
      .x-form-field-trigger-wrap {
          @include media($desktop) {
              max-width:120px !important;
          }
      }
  }
  .x-form-text {
    background: none; /* prevent white searchfield background */
  }
}

#modx-navbar #modx-manager-search:hover { /* #shame */
  background: none;
}

#modx-manager-search .x-form-trigger {
  color: rgba(255,255,255,.25);
  cursor: default;
  height: 16px;
  right: 0;
  border-radius: 0;
  border: none;
  padding: 9px 5px;
  width: 17px;
  background-image: none;
}

#modx-manager-search .x-form-field-wrap {
  background: rgba(0,0,0,0.25);
  border:0;
  border-radius: $borderRadius;
  overflow:hidden;
  color: #565353;
  font-size: 12px;
  outline: none !important;
  text-shadow: none;
  box-shadow: rgba(0,0,0,0.05) 0 0 3px 0 inset;
}

#modx-manager-search .x-form-field-trigger-wrap {
  border-width: 0;
  height: auto;
  background-image: none;

  .x-form-text {
    text-shadow: none;
    font-weight: normal;
    color: #C9D3E0;
    letter-spacing: 0;
  }
  .x-form-empty-field {
    color: rgba(90, 106, 121, 1);
  }
}

#modx-manager-search .x-form-field-wrap:hover,
#modx-manager-search .x-trigger-wrap-focus {
  /*@include transition(background-color, 360ms, ease-in);
  @include transition-delay(0);
  background: $gainsboro;*/
  background-color: rgba(0,0,0,.5);
}

#modx-uberbar {
  margin-right: 20px;
}

.modx-manager-search-results {
  @include box-sizing(border-box);
  background: transparent;
  border-radius: 0 0 2px 2px;
  border: $borderColor;
  box-shadow: $shadower;
  height: auto !important;
  position: relative;
  width: 450px !important;
}
.modx-manager-search-results:before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 12px;
  border: 8px solid transparent;
  border-bottom: 8px solid $searchresults;
}
.modx-manager-search-results .x-combo-list-inner {
  background: $searchresults;
  width: 100% !important;
  border-top:none;
  @include box-sizing(border-box);
  overflow: scroll;
  margin-top: 9px;
}

.modx-manager-search-results .section {
  //background-color: #f9f9f9;
  border-left: 1px solid darken($searchresults,7%);
  font-size: 13px;
  margin-left: 116px;
  position: relative;
}

.modx-manager-search-results .x-combo-selected h3 {
  left: 0;
}

.modx-manager-search-results h3,
.modx-manager-search-results p {
  line-height: 17px;
  margin: 0;
  padding: 4px 8px;
}

.modx-manager-search-results p {
  color: #C9D3E0;
}

.modx-manager-search-results h3 {
  color: $searchresultshead;
  font-size: 13px;
  font-weight: normal;
  left: -116px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 95px;
}

.modx-manager-search-results a {
  cursor: pointer;
  display: inline-block;
  padding-left: 18px;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.modx-manager-search-results i {
  color: $colorSplash;
  left: 0;
  position: absolute;
  top: 2px;
}

.modx-manager-search-results em {
  font-style: normal;
  opacity: 0.5;
}

.modx-manager-search-results .x-combo-selected h3,
.modx-manager-search-results .x-combo-selected p,
.modx-manager-search-results .x-combo-selected i {
  color: #fff;
}

.modx-manager-search-results .x-combo-selected p {
  border-left-color: transparent;
}

.modx-manager-search-results .x-combo-selected {
  border: none;
  color: #fff !important;
  background-color: #3e5268;
  margin-left: 0;
  z-index: 10;
}

.modx-manager-search-results .icon-user {
  background-image: none !important;
}
