/* MODX MANAGER SEARCH */
#modx-manager-search-icon{
  a{
    padding-left: 0;
    @include media($desktop) {
      padding-left:10px; padding-right: 10px;
    }
  }
  .icon-search { color: rgba(255,255,255,.25); }
  .icon-square { color: rgba(0,0,0,0.25); }
  :hover{
    .icon{ transition: color 0.25s; }
    .icon-search { color: rgba(255,255,255,1); }
    .icon-square { color: rgba(0,0,0,0.5); }
  }
}

#modx-manager-search {
  padding: 10px 10px 5px;
  height: 38px;
  min-width: 255px;

  visibility: hidden;
  background: $searchResultsBg;
  border: 1px solid $subnavBorder;
  border-top: 0;
  position: absolute;
  top: 55px;
  left: 26px;
  
  &.visible {
  	visibility: visible;
  }
  
  @include media($mobile) {
	  padding-right:25px;
	  top:auto;
	  left:0;
	  right:0;
	  min-width:0;
	  &.visible {
	  	position: relative;
	  }
  }
  
  .x-form-field-wrap {
	  @include media($mobile) {
		  width:auto !important;
		  @include display(flex);
		  #modx-uberbar {
			  @include flex-grow(1);
		  }
		  .x-form-arrow-trigger {
			  position:relative;
			  top:auto;
			  &:before {
				  position: relative;
				  margin-top:0;
				  top:auto;
				  line-height:30px;
			  }
		  }
	  }
  }

  /* up arrow connecting modx-manager-search-icon to the search field */
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: 235px;
    @include media($desktop) {
      left: 60px;
    }
    @include media($mobile) {
        left:15px;
    }
    border: 11px solid transparent;
    border-bottom: 11px solid $searchResultsBg;
  }

  /*@include media($gtDesktop) {
    min-width:255px;
  }

  > {
    .x-form-field-trigger-wrap {
      @include media($desktop) {
        max-width:260px !important;
      }
    }
  }*/
  .x-form-text {
    background: none; /* prevent white searchfield background */
	@include media($mobile) {
		width:auto !important;
	}
  }
}

#modx-manager-search .x-form-field-wrap {
  background: rgba(0,0,0,0.25);
  background-image: none;
  border: 1px solid transparent; /* make sure the search field has the same dimensions as other input fields */
  border-radius: $borderRadius;
  box-shadow: rgba(0,0,0,0.1) 0 0 3px 0 inset;
  /*overflow: hidden;*/ /* prevents .x-form-trigger box-shadow from overlapping the transparent border */
  color: #565353;
  font-size: 12px;
  /*height: auto;*/ /* no need for this */
  outline: none !important;
  /*text-shadow: none;*/ /* there are no text-shadow styles anymore */

  .x-form-text {
    color: #C9D3E0;
    letter-spacing: 0;
    text-shadow: none;
    font-weight: normal;
  }
  .x-form-empty-field {
    /*color: rgba(90, 106, 121, 1);*/
    color: #6a747a;
  }

  &.x-trigger-wrap-focus,
  &:hover {
    /*@include transition(background-color, 360ms, ease-in);
    @include transition-delay(0);
    background: $lighterGray;*/
    background-color: rgba(0,0,0,0.5);
  }

  .x-form-trigger {
    color: rgba(255,255,255,.25);
    transition: color 0.25s;
    margin: 0;
    /* the following styles are already provided by the default combobox .x-form-trigger styles */
    /*cursor: default;
    height: 16px;
    right: 0;
    border-radius: 0;
    border: none;
    padding: 9px 5px;
    width: 17px;
    background-image: none;*/

    &:before {
      content: $fa-var-chevron-right;
    }

    &.x-form-trigger-over,
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}

/* this is an .x-combo-list element with special styles */
.modx-manager-search-results {
  background: $subnavBorder;
  border-radius: $borderRadius;
  border: 1px solid $subnavBorder;
  /*@include box-sizing(border-box);*/ /* has no effect */
  position: relative;
  width: 457px !important; height: auto !important;
  z-index: 15 !important; /* show beneath subnav and modals */

  @include media($mobile) {
	  left:0 !important;
  }
  .loading-indicator{
    background: none;
    color: $searchResultsColor;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;

    &:before {
      @extend %pseudo-font;
      @extend .#{$fa-css-prefix}-spin;
      content: $fa-var-spinner;
      margin-right: 5px;
    }
  }

  .x-combo-list-inner {
    background: $searchResultsBg;
    border: 0;
    /*@include box-sizing(border-box);*/ /* has no effect */
    margin: 12px 0 0;
    overflow: auto;
    width: 100% !important;
	@include media($mobile) {
		height:auto !important;
		line-height:4em;
		.section {
			> * {
				padding-top:1em;
				padding-bottom:1em;
			}
		}
	}
  }

    .section {
      /*background-color: #f9f9f9;*/
      border-left: 1px solid darken($searchResultsBg,7%);
      font-size: 13px;
      margin-left: 116px;
      position: relative;
      width: auto; /* change to 100% to enable scrollable overflow */
    }

      h3,
      .x-combo-list-item {
        color: $searchResultsColor;
        line-height: 17px;
        margin: 0;
        padding: 4px 8px;
      }

      h3 {
        color: $searchResultsHeadingColor;
        font-size: 13px;
        font-weight: normal;
        left: -116px;
        position: absolute;
        text-align: right;
        top: 0;
        width: 95px;
      }

        a {
          cursor: pointer;
          display: inline-block;
          padding-left: 18px;
          position: relative;
          color: inherit;
          text-decoration: none;
        }

          i {
            color: $colorSplash;
            left: 0;
            position: absolute;
            top: 2px;
          }

          em {
            font-style: normal;
            opacity: 0.5;
            filter: alpha(opacity=50); /* for IE <= 8 */
          }

      /* we need the parent selector to override default combobox styles */
      .x-combo-list-item {
        overflow: visible;
        white-space: normal; /* allow wrapping for longer entries */

        a:hover { color:#fff }
        &.x-combo-selected,
        &:hover {
          border: 0;
          color: #fff !important;
          background-color: $searchResultsBgHover;
          margin-left: 0;
          z-index: 10;

          h3,
          p,
          i {
            color: #fff;
          }

          h3 {
            left: 0;
          }

          p {
            border-left-color: transparent;
          }
        }
      }

  .icon-user {
    background-image: none !important;
  }
} /* .modx-manager-search-results */

/* these styles were sassified above */
/*.modx-manager-search-results:before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 12px;
  border: 8px solid transparent;
  border-bottom: 8px solid $searchResultsBg;
}*/
/*.modx-manager-search-results .x-combo-list-inner {
  background: $searchResultsBg;
  width: 100% !important;
  border-top:none;
  @include box-sizing(border-box);
  overflow: scroll;
  margin-top: 9px;
}*/

/*.modx-manager-search-results .section {
  //background-color: #f9f9f9;
  border-left: 1px solid darken($searchResultsBg,7%);
  font-size: 13px;
  margin-left: 116px;
  position: relative;
}*/

/*.modx-manager-search-results .x-combo-selected h3 {
  left: 0;
}*/

/*.modx-manager-search-results h3,
.modx-manager-search-results p {
  line-height: 17px;
  margin: 0;
  padding: 4px 8px;
}*/

/*.modx-manager-search-results p {
  color: #C9D3E0;
}*/

/*.modx-manager-search-results h3 {
  color: $searchResultsHeadingColor;
  font-size: 13px;
  font-weight: normal;
  left: -116px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 95px;
}*/

/*.modx-manager-search-results a {
  cursor: pointer;
  display: inline-block;
  padding-left: 18px;
  position: relative;
  color: inherit;
  text-decoration: none;
}*/

/*.modx-manager-search-results i {
  color: $colorSplash;
  left: 0;
  position: absolute;
  top: 2px;
}*/

/*.modx-manager-search-results em {
  font-style: normal;
  opacity: 0.5;
  filter: alpha(opacity=50); /* for IE <= 8 /
}*/

/*.modx-manager-search-results .x-combo-selected h3,
.modx-manager-search-results .x-combo-selected p,
.modx-manager-search-results .x-combo-selected i {
  color: #fff;
}*/

/*.modx-manager-search-results .x-combo-selected p {
  border-left-color: transparent;
}*/

/*.modx-manager-search-results .x-combo-selected {
  border: none;
  color: #fff !important;
  background-color: #3e5268;
  margin-left: 0;
  z-index: 10;
}*/

/*.modx-manager-search-results .icon-user {
  background-image: none !important;
}*/
