.x-window {
  box-shadow: $boxShadowWindow;
  border-radius: $borderRadius;
  overflow: visible; /* prevent box-shadow from tabs and panel being cut off */

  /* the window header bar */
  .x-window-tl,
  .x-window-tr {
    padding: 0;
  }
  .x-window-tc {
    z-index: 1;

    .x-window-header {
      background-color: $coreFieldBg;
      border-bottom: 1px solid $softGrey;
      border-radius: $borderRadius $borderRadius 0 0;
      color: $darkNeutral;
      font: $fontNavbar;
      font-weight: bold;
      padding: 8px;
      text-align: center;
      z-index: 3;
    }
  }

  /* the window content wrapper */
  .x-window-bwrap {
    overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
    z-index: 2;

    /* the window main container */
    .x-window-ml,
    .x-window-mr {
      padding: 0;
    }

    .x-window-mc {
      background-color: $mainBg;
      border: 0;
      padding: 15px;
      z-index: 2;

      .x-panel-ml,
      .x-panel-mr,
      .x-panel-mc,
      .x-panel-tl,
      .x-panel-bl {
        background: transparent;
        border: 0;
        padding: 0;
      }

      .x-window-body {
        overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
      }
    }

    .x-panel-bwrap {
      background: $white;
      box-shadow: $boxShadow;
      border-radius: $borderRadius;
      overflow-y: scroll; /* make the content area of normal windows scrollable */
      padding: 10px;

      .x-panel-bwrap {
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        overflow: visible;
        padding: 0;
      }

      .desc-under {
        color: #aaaaaa;
        display: block;
        font-size: 11px;
        font-style: italic;
        margin: -8px 0 16px;

        &.desc-checkbox {
          margin: -2px 0 4px;
        }

        .warning {
          color: #df8d00;
        }
      }
    }

    &.x-window-with-tabs {
      .x-panel-bwrap {
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        overflow: visible;
        padding: 0;
      } 
    }


    form.x-panel-body:first-of-type {
      overflow: visible !important; /* prevent box-shadow from tabs and panel being cut off */
    }

    /* the window tab strip if available */
    .modx-tabs {
      /*overflow-y: scroll;*/

      .x-tab-panel-header {


        .x-tab-strip-wrap {
          padding-top: 3px; /* account for the 3px boxshadow for active tabs */

          .x-tab-strip {
            border: 0; /* override extjs default theme of 1px solid white */
          }
        }
      }
    }

    /* the window form / content container */
    .x-tab-panel-bwrap {
    background: $white;
    box-shadow: $boxShadow;

      .x-tab-panel-body {
        overflow-y: scroll; /* tabs stay, content scrolls */

        .modx-panel {
          /*overflow-y: scroll; /* tabs stay, content scrolls */

          .tab-panel-wrapper {

          }
        }
      }
    }

    .x-column-inner {
      /* prevent second col with fields to have excessive margin on the right */
      > .x-column {
        margin: 0;

        &:first-of-type {
          margin-right: 10px;
        }
        /*&:last-of-type*/ /* somehow doesn't work */
        &:nth-child(2) {
          margin-left: 10px;
        }
      }
    }

    /* The window bottom container */
    .x-window-bl,
    .x-window-br {
      padding: 0;
    }
    .x-window-bc {
      z-index: 1;

      .x-window-footer {
        background-color: $coreFieldBg;
        border-top: 1px solid $softGrey;
        border-radius: 0 0 3px 3px; /* TODO: replace with $borderRadius when merged */
        box-sizing: border-box; /* don't count padding in width: 100%; */
        width: 100% !important; /* override fixed width set by extjs */

        .x-toolbar-right-row {
          td {
            &:last-of-type {
              .x-btn {
                @extend %primary-button
              }
            }
          }
        }
      }
    } /* .x-window-bc */
  } /* .x-window-bwrap */
} /* .x-window */

/*.ext-gecko .x-window-body .x-form-item {
  overflow: hidden;
}

.x-window-tl .x-panel-icon {
  background-position: 0 8px;
}

.x-window-dlg .x-msg-box-wait {
  background-image: url($imgPath + 'modx-theme/grid/loading.gif');
}
.x-window-dlg .ext-mb-info {
  background-image: url($imgPath + 'modx-theme/window/icon-info.gif');
}
.x-window-dlg .ext-mb-warning {
  background-image: url($imgPath + 'modx-theme/window/icon-warning.gif');
}
.x-window-dlg .ext-mb-question {
  background-image: url($imgPath + 'modx-theme/window/icon-question.gif');
}
.x-window-dlg .ext-mb-error {
  background-image: url($imgPath + 'modx-theme/window/icon-error.gif');
}

.x-window-proxy {
  background-color: #dcdcdc;
  border-color: #d0d0d0;
}

.x-panel-ghost .x-window-tl {
  border-bottom-color: #d0d0d0;
}

body.x-body-masked .x-window-plain .x-window-mc {
  background-color: #e2e2e2;
}
.x-window h2 {
  border-bottom: 1px solid #D6DFC3;
  color: #5e5e5e;
  font: $fontH3;
  font-size: 18px;
  margin: 0 0 11px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px #FFFFFF;
}
.x-window .x-panel-tl,
.x-window .x-panel-ml,
.x-window .x-panel-bl,
.x-window .x-panel-mc,
.x-window .x-panel-tr,
.x-window .x-panel-mr,
.x-window .x-panel-br {
  background-color: $aside;
}

.x-window .x-tab-strip {
	margin-left:0;
}
.x-window .x-form-item label.x-form-item-label {
  padding: 0;
}
.x-window .x-form-label-top .x-form-element {
  padding-top: 0;
}
.x-window .x-form-cb-label {
  color: #707070;
  font-weight: bold;
}
.x-window .x-panel-mc {
  border: 0 none;
}
.x-window .x-panel-ml {
  border: 0 none;
}
.x-window .x-panel-bl.x-panel-nofooter,
.x-window .x-panel-tl {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 0;
}
.x-window .x-window-plain .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-plain .x-window-mc {
  background-color: #f5f5f5;
  border-color: 0 none !important;
}
.x-window-plain .x-window-body {
  border: 0 none;
}
.x-window-body {
  background-color: white;
  border-bottom: 1px solid #D0D0D0;
  border-top: 1px solid #F7F7F7;
}
.x-window-dlg .x-window-body {
  background: none repeat scroll 0 0 #F4F4F4 !important;
  padding: 15px 15px 5px;
}
.x-window .x-window-bc .x-panel-btns {
  background-color: #f7f8fa;
  background: #dfdfdf;
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: -o-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4,endColorstr=#dfdfdf,GradientType=0);
  padding: 8px;
}
.x-window-dlg .x-window-bc .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-bc .x-window-footer {
  margin-bottom: 0;
}
.x-window .x-window-proxy {
  background-color: #dcdcdc;
  border-color: #dfdfdf;
}
.x-window .x-window-tl {
  background-color: #ffffff;
  background-image: none;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-window-tl .x-window-header {
  background: #d0d0d0;
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: -o-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  border-bottom: 1px solid #ababab;
  border-radius: 3px 3px 0 0;
  color: #5e5e5e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee,endColorstr=#d0d0d0,GradientType=0);
  margin-top: 0;
  padding: 8px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
}
.x-window .x-window-bl {
  background-color: #ffffff;
  background-image: none;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-panel-nofooter {
  background-color: #f7f8fa;
  background: #dfdfdf;
  background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: -o-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  background: linear-gradient(center bottom, #dfdfdf 0%, #f4f4f4 100%);
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4,endColorstr=#dfdfdf,GradientType=0);
}
.x-window .x-window-header-text {
  color: #666666;
}
.x-window .x-window-dlg .ext-mb-text {
  font-size: 12px;
}
.x-window .x-window-dlg .x-window-header-text {
  font-size: 14px;
}
.x-window .x-window-dlg .x-window-body {
  padding: 15px;
}
.x-window .x-window-dlg .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-tc,
.x-window .x-window-bc {
  background-image: none;
}
.x-window .x-window-tr,
.x-window .x-window-br,
.x-window .x-window-mr {
  background-image: none;
  padding-right: 0;
}
.x-window .x-window-tl,
.x-window .x-window-ml {
  background-image: none;
  padding-left: 0;
}
.x-window .x-window-mc {
  background-color: #ffffff;
  border-radius: 0 0  3px 3px;
  border: 0 none;
}
.x-window .x-window-maximized .x-window-tc {
  background-color: #ffffff;
}
.x-window .x-window-bbar .x-toolbar,
.x-window .x-window-bbar-noborder .x-toolbar {
  background-color: #f7f8fa;
  background: #d5dade;
  background: -moz-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: -o-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eff0f4), color-stop(100%, #d5dade));
  background: -webkit-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff0f4,endColorstr=#d5dade,GradientType=0);
  border-radius: 0 0 3px 3px;
  border-bottom: 0 none;
  border-top: 1px solid #d4d9df;
  padding: 8px;
}
.x-window .x-dlg-mask {
  background-color: #cccccc;
}
.x-window-maximized .x-window-tc {
  padding-left: 0;
  padding-right: 0;
}*/