.x-window {
  box-shadow: $boxShadowBig;
  border-radius: $borderRadius;
  opacity: 0;
  filter: alpha(opacity=0); /* for IE <= 8 */
  overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
  -webkit-backface-visibility: hidden; /* prevent flickering during animation */
  transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  transform: scale(1) translate3d(0, 0, 0);

  /* the following 3 classes are responsible for the CSS3 window animations */
  &.anim-ready {
    transform: scale(0.7) translate3d(0, 0, 0);
  }

  &.zoom-in {
    opacity: 1;
    filter: alpha(opacity=100); /* for IE <= 8 */
    transform: scale(1) translate3d(0, 0, 0);
  }

  &.zoom-out {
    transform: scale(1.3) translate3d(0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0); /* for IE <= 8 */
  }

  /* Make sure MODx.msg windows are displayed in IE8 */
  .ext-ie8 & {
    &.x-window-dlg {
      filter: alpha(opacity=100); /* for IE <= 8 */
    }
  }

  /* the window header bar */
  .x-window-tl,
  .x-window-tr {
    padding: 0;
  }

  .x-window-tc {
    z-index: 1;

    .x-window-header {
      background-color: $winHeaderBg;
      border-bottom: 1px solid $winHeaderBorderColor;
      border-radius: $borderRadius $borderRadius 0 0;
      color: $darkGray;
      font: $fontNavbar;
      font-weight: bold;
      padding: 8px;
      text-align: center;
      /*z-index: 3;*/
    }
  }

  /* styles for a collapsed window */
  &.x-panel-collapsed {

    .x-window-tl {
      border-bottom: 1px solid $softGray;
    }

    .x-window-header {
      border-radius: $borderRadius;
    }
  }

  /* the window content wrapper */
  .x-window-bwrap {
    /*background: $white;*/
    overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
    /*z-index: 2;*/

    /* the window main container */
    .x-window-ml,
    .x-window-mr {
      padding: 0;
    }

    .x-window-mc {
      /*background-color: $mainBg;*/
      border: 0;
      /*padding: 15px;*/
      padding: 0;
      /*z-index: 2;*/

      .x-panel-ml,
      .x-panel-mr,
      .x-panel-mc,
      .x-panel-tl,
      .x-panel-bl {
        background: transparent;
        border: 0;
        padding: 0;
      }
    }
  }

  /* .x-window-bwrap */

  .x-window-body {
    background-color: $winBodyBg !important; /* override extjs default theme transparent !important style from .x-window-plain */
    border: 0; /* override extjs default theme border for .x-window-plain */
    /*overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
    overflow-y: auto;
    padding: 15px;
  }

  &.modx-window {
    .x-window-body {
      padding-top: 0;
    }

    &.modx-console,
    &.modx-alert,
    &.modx-confirm {
      .x-window-body {
        padding-top: 15px;
      }
    }
  }

  .x-panel-bwrap {
    background: $winBodyBg;
    /*box-shadow: $boxShadow;*/
    /*border-radius: $borderRadius;*/
    /*overflow-y: auto; /* make the content area of normal windows scrollable, fix always visible scrollbars with auto */
    /*padding: 10px;*/
    padding: 0;

    /* inner panel body wraps */
    .x-panel-bwrap {
      background: transparent;
      box-shadow: none;
      /*border-radius: 0;*/
      overflow: visible;
      padding: 0;
    }
  }

  /* .x-panel-bwrap */

  .x-window-with-tabs {

    .x-window-body {
      background-color: $lightestGray !important; /* override !important rule from above */
      overflow: visible; /* prevent box-shadow from tabs and panel being cut off */
    }

    .x-panel-bwrap {
      background: transparent;
      box-shadow: none;
      /*border-radius: 0;*/
      overflow: visible;
      padding: 0;
    }
  }

  form.x-panel-body:first-of-type {
    overflow: visible !important; /* prevent box-shadow from tabs and panel being cut off */
  }

  /* the window tab strip if available */
  .modx-tabs {
    /*overflow-y: scroll;*/

    .x-tab-panel-header {
      .x-tab-strip-wrap {
        padding-top: 3px; /* account for the 3px boxshadow for active tabs */

        .x-tab-strip {
          border: 0; /* override extjs default theme of 1px solid white */
        }
      }
    }
  }

  /* the window form / content container */
  .x-tab-panel-bwrap {
    background: $white;
    box-shadow: $boxShadow;
    /*padding: 10px 10px 6px 10px; /* take account for the 4px padding at the bottom of the last x-form-item */
    padding: 10px;

    .x-tab-panel-body {
      overflow-y: auto; /* tabs stay, content scrolls, but only show when necessary */

      .modx-panel {
        /*overflow-y: scroll; /* tabs stay, content scrolls */

        .x-panel-bwrap {
          padding: 0;
        }
      }
    }
  }

  /* The window bottom container */
  .x-window-bl,
  .x-window-br {
    padding: 0;
  }

  .x-window-bc {
    /*z-index: 1;*/

    .x-window-footer {
      background-color: $winFooterBg;
      border-top: 1px solid $winFooterBorderColor;
      border-radius: 0 0 $borderRadius $borderRadius;
      box-sizing: border-box; /* don't count padding in width: 100%; */
      padding: 5px; /* make sure the padding also stays when maximized */
      width: 100% !important; /* override fixed width set by extjs */
    }
  }

  &.x-window-maximized {
    margin: 0;

    .x-window-tc {
      padding: 0;
    }

    .x-window-mc {
      padding: 0;
    }
  }

  /* the console window */
  &.modx-console {

    /*.x-window-body {
      background-color: $white;
      padding: 0;

      .x-panel-bwrap {
        box-shadow: none;
      }
    }*/

    .modx-console-text {
      background-color: $white;
      border: none;
      font: 12px $codefonts;
      height: auto !important; /* override extjs default theme */
      /*padding: 8px;*/
    }

    .debug {
      color: $gray;
    }

    .success {
      color: $green;
    }

    .warn {
      color: $blue;
    }

    .error {
      color: $red;
    }
  }
}

/* .x-window */

/* the progress bar (ex. saving a resource), usually in a window too */
.x-progress-wrap {
  border: 1px solid $colorSplash;

  .x-progress-inner {
    background-color: $colorSplashLight;
  }

  .x-progress-bar {
    background-color: $colorSplash;
    border: 0;
  }

  .x-progress-text {
    color: $colorSplashContrast;
    font-size: 11px;
    font-weight: bold;
  }

  .x-progress-text-back {
    color: $darkGray;
  }
}

/* the window modal mask, but also the mask that covers a grid when reloading for example */
.ext-el-mask {
  background-color: $white;
  opacity: 0;
  filter: alpha(opacity=0); /* for IE <= 8 */
  transition: opacity .25s;
  /*z-index: 10;*/ /* this is handeled by extjs and set to 9000 on show */

  &.fade-in {
    opacity: .5;
    filter: alpha(opacity=50); /* for IE <= 8 */
  }

  .x-masked & {
    opacity: .5;
    filter: alpha(opacity=50); /* for IE <= 8 */
    z-index: 9; /* extjs standard is 100, 10 prevents overlapping the topnav dropdowns */
  }
}

.ext-mb-icon {
  display: inline-block;
  float: left;
  position: relative;
  width: 40px !important; /* override extjs default theme style */

  &:before {
    @extend %pseudo-font;

    color: $blue;
    content: '';
    font-size: 32px;
    margin-top: -14px; /* half of the height to center vertically with top 50% */
    position: absolute;
    top: 50%;
    right: 0;
    text-align: left;
    width: 100%;
  }

  &.ext-mb-info {
    &:before {
      color: $blue;
      content: fa-content($fa-var-info-circle);
    }
  }

  &.ext-mb-question {
    &:before {
      color: $blue;
      content: fa-content($fa-var-question-circle);
    }
  }

  &.ext-mb-warning {
    &:before {
      color: $orange;
      content: fa-content($fa-var-exclamation-triangle);
    }
  }

  &.ext-mb-error {
    &:before {
      color: $red;
      content: fa-content($fa-var-times-circle);
    }
  }
}

.ext-mb-content {
  display: block;
  /*float: left;*/
  /*margin-left: 40px !important; /* override extjs default theme style */
  margin-left: 0 !important;
}

/* this is the little box showing if a grid is locked, refreshing etc. */
.ext-el-mask-msg {
  background-color: $white;
  border: 1px solid $softGray;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: 5px;
  z-index: 10; /* the mask has 9, prevents overlapping the topnav dropdowns */
}

.ext-el-mask-msg div {
  background-color: transparent;
  border: 0;
  color: $darkGray;
  cursor: default; /* no need to show a wait cursor here */
  font: $fontSmall;
}

.ext-el-mask-msg .modx-lockmask div {
  color: $red;
}

/* the loading indicator when refreshing a grid or component */
.x-mask-loading div {
  background-image: url($imgPath + 'modx-theme/grid/loading.gif');
}

/*.ext-gecko .x-window-body .x-form-item {
  overflow: hidden;
}

.x-window-tl .x-panel-icon {
  background-position: 0 8px;
}

.x-window-dlg .x-msg-box-wait {
  background-image: url($imgPath + 'modx-theme/grid/loading.gif');
}
.x-window-dlg .ext-mb-info {
  background-image: url($imgPath + 'modx-theme/window/icon-info.gif');
}
.x-window-dlg .ext-mb-warning {
  background-image: url($imgPath + 'modx-theme/window/icon-warning.gif');
}
.x-window-dlg .ext-mb-question {
  background-image: url($imgPath + 'modx-theme/window/icon-question.gif');
}
.x-window-dlg .ext-mb-error {
  background-image: url($imgPath + 'modx-theme/window/icon-error.gif');
}

.x-window-proxy {
  background-color: #dcdcdc;
  border-color: #d0d0d0;
}

.x-panel-ghost .x-window-tl {
  border-bottom-color: #d0d0d0;
}

body.x-body-masked .x-window-plain .x-window-mc {
  background-color: #e2e2e2;
}
.x-window h2 {
  border-bottom: 1px solid #D6DFC3;
  color: #5e5e5e;
  font: $fontH3;
  font-size: 18px;
  margin: 0 0 11px;
  padding: 8px 15px;
  text-shadow: 0 1px 1px $white;
}
.x-window .x-panel-tl,
.x-window .x-panel-ml,
.x-window .x-panel-bl,
.x-window .x-panel-mc,
.x-window .x-panel-tr,
.x-window .x-panel-mr,
.x-window .x-panel-br {
  background-color: $lighterGray;
}

.x-window .x-tab-strip {
	margin-left:0;
}
.x-window .x-form-item label.x-form-item-label {
  padding: 0;
}
.x-window .x-form-label-top .x-form-element {
  padding-top: 0;
}
.x-window .x-form-cb-label {
  color: #707070;
  font-weight: bold;
}
.x-window .x-panel-mc {
  border: 0 none;
}
.x-window .x-panel-ml {
  border: 0 none;
}
.x-window .x-panel-bl.x-panel-nofooter,
.x-window .x-panel-tl {
  background-color: transparent;
  background-image: none;
  border: 0 none;
  padding: 0;
}
.x-window .x-window-plain .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-plain .x-window-mc {
  background-color: #f5f5f5;
  border-color: 0 none !important;
}
.x-window-plain .x-window-body {
  border: 0 none;
}
.x-window-body {
  background-color: white;
  border-bottom: 1px solid #D0D0D0;
  border-top: 1px solid #F7F7F7;
}
.x-window-dlg .x-window-body {
  background: none repeat scroll 0 0 $wildSand !important;
  padding: 15px 15px 5px;
}
.x-window .x-window-bc .x-panel-btns {
  background-color: #f7f8fa;
  background: $alto;
  background: -moz-linear-gradient(center bottom, $alto 0%, $wildSand 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: -o-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $wildSand), color-stop(100%, $alto));
  background: -webkit-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  border-bottom: 1px solid $alto;
  border-top: 1px solid $white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$wildSand,endColorstr=$alto,GradientType=0);
  padding: 8px;
}
.x-window-dlg .x-window-bc .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-bc .x-window-footer {
  margin-bottom: 0;
}
.x-window .x-window-proxy {
  background-color: #dcdcdc;
  border-color: $alto;
}
.x-window .x-window-tl {
  background-color: $white;
  background-image: none;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-window-tl .x-window-header {
  background: #d0d0d0;
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: -o-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  background: linear-gradient(center bottom, #d0d0d0 0%, #eeeeee 100%);
  border-bottom: 1px solid #ababab;
  border-radius: 3px 3px 0 0;
  color: #5e5e5e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee,endColorstr=#d0d0d0,GradientType=0);
  margin-top: 0;
  padding: 8px;
  text-align: center;
  text-shadow: 0 1px 0 $white;
}
.x-window .x-window-bl {
  background-color: $white;
  background-image: none;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  padding-left: 0;
}
.x-window .x-panel-nofooter {
  background-color: #f7f8fa;
  background: $alto;
  background: -moz-linear-gradient(center bottom, $alto 0%, $wildSand 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: -o-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $wildSand), color-stop(100%, $alto));
  background: -webkit-linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  background: linear-gradient(center bottom, $alto 0%, $wildSand 100%);
  border-bottom: 1px solid $alto;
  border-top: 1px solid $white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$wildSand,endColorstr=$alto,GradientType=0);
}
.x-window .x-window-header-text {
  color: #666666;
}
.x-window .x-window-dlg .ext-mb-text {
  font-size: 12px;
}
.x-window .x-window-dlg .x-window-header-text {
  font-size: 14px;
}
.x-window .x-window-dlg .x-window-body {
  padding: 15px;
}
.x-window .x-window-dlg .x-panel-btns {
  border-top: 0 none;
}
.x-window .x-window-tc,
.x-window .x-window-bc {
  background-image: none;
}
.x-window .x-window-tr,
.x-window .x-window-br,
.x-window .x-window-mr {
  background-image: none;
  padding-right: 0;
}
.x-window .x-window-tl,
.x-window .x-window-ml {
  background-image: none;
  padding-left: 0;
}
.x-window .x-window-mc {
  background-color: $white;
  border-radius: 0 0  3px 3px;
  border: 0 none;
}
.x-window .x-window-maximized .x-window-tc {
  background-color: $white;
}
.x-window .x-window-bbar .x-toolbar,
.x-window .x-window-bbar-noborder .x-toolbar {
  background-color: #f7f8fa;
  background: #d5dade;
  background: -moz-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: -o-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eff0f4), color-stop(100%, #d5dade));
  background: -webkit-linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  background: linear-gradient(center bottom, #d5dade 0%, #eff0f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff0f4,endColorstr=#d5dade,GradientType=0);
  border-radius: 0 0 3px 3px;
  border-bottom: 0 none;
  border-top: 1px solid #d4d9df;
  padding: 8px;
}
.x-window .x-dlg-mask {
  background-color: $silver;
}
.x-window-maximized .x-window-tc {
  padding-left: 0;
  padding-right: 0;
}*/
