@charset "UTF-8";
@import "colors-and-vars";

html {
  color: #111;
  /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
  /* IE ignores this and renders Arial better */
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  font-size: 100.01%;
  height: 100%;
  /* avoids obscure font-size bug */
  line-height: 1.5;
  width: 100%;
}

body {
  background: #eeeeee url($imgPath + 'restyle/manager-loginscreen-bg.png') center -90px repeat-x;
  font-size: 75%;
  /* 12px 62.5% for 10px*/
  height: 100%;
  width: 100%;
}

.warning {
  color: #821517;
  font-weight: bold;
}

.success {
  color: #090;
  font-weight: bold;
}

#container {
  margin: 70px auto 0;
  width: 460px;
}

#modx-login-logo {
  margin-bottom: 3px;
  img {
    width: 180px;
  }
}

#modx-panel-login-div {
  border: 1px solid #e0e0e0;
}

img.loginCaptcha {
  border: 1px solid #039;
  height: 60px;
  width: 148px;
}

.loginLicense {
  color: #555;
  font-size: 90%;
  margin: 0 auto;
  padding-left: 20px;
  width: 460px;
}

#modx-login-form-panel {
  border: 1px solid #ddd;
}

.x-panel-tl, .x-panel-tl .x-panel-header {
  border: 0;
  font-size: 14px;
  padding: 3px 5px;
}

.x-panel-ml, .x-panel-mr, .x-panel-mc {
  background-color: transparent;
  border: 0;
}

.login-form-bwrap {
  background-color: white;
  border-radius: 10px;
  color: #eee;
  padding: 5px;
}

.login-form-bwrap-padding {
  background: black url($imgPath + 'restyle/manager-loginscreen-form-bg.png') bottom left no-repeat;
  border-radius: 5px;
  padding-bottom: 10px;
}

h2 {
  color: #eee;
}

.x-panel-ml {
  border-top: 1px solid #e4e4e4;
  padding: 10px 20px 22px;
}

/* Fix styles because buttons are generated by extjs */
.x-btn {
  button {
    font-size: 12px;
    height: 28px !important;
    padding: 3px 10px 0 !important;
  }

  &:hover {
    background: #dfdfdf;
    background: -moz-linear-gradient(center bottom, #dfdfdf 0%, white 100%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
    background: -o-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(center bottom, #dfdfdf 0%, white 100%);
    background: linear-gradient(center bottom, #dfdfdf 0%, white 100%);
    border: 1px solid #9caf78;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#dfdfdf,GradientType=0);

    button {
      color: #636F4C;
      text-shadow: 0 1px 0 #ffffff;
    }
  }

  &:active {
    -moz-box-shadow: 0 0 3px #aaaaaa inset;
    -o-box-shadow: 0 0 3px #aaaaaa inset;
    -webkit-box-shadow: 0 0 3px #aaaaaa inset;
    background-color: #ffffff;
    background-image: none;
    border-color: #CFCFCF #C0C0C0 #AAAAAA;
    box-shadow: 0 0 3px #aaaaaa inset;
    margin: 0 1px;
  }
}

.modx-forgot-login {
  float: left;
  padding-top: 4px;
}

a {
  color: #bbb;
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

#modx-login-email {
  width: 200px;
}

#modx-panel-login-div {
  background-color: white;
  border-radius: $borderRadius;
}

label {
  cursor: pointer;
}

.login-form-item {
  float: left;
  margin: 0;
}

.login-form-item-first {
  margin-right: 8px;
}

.login-form-element {
  padding: 0;

  .x-form-text {
    padding: 8px;
    width: 181px;
    background: #fff;
  }
}

.login-cb-row {
  padding: 9px 0 10px 0;
}

.x-form-check-wrap .x-form-cb-label {
  color: #bbb;
}

.login-cb-col {
  float: left;
  width: 50%;
}

.modx-login-fl-link {
  cursor: pointer;
  height: auto !important;
  line-height: 18px;
  margin: 2px 0 0 2px;
  white-space: nowrap;
}

.modx-login-rm-cb {}









.login-form-btn {
  background: #eee;
  background: -moz-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -o-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: linear-gradient(center bottom, gainsboro 0%, #fcfcfc 100%);
  background: url($imgPath + 'modx-theme/form/button-bg.png') repeat-x scroll 0 bottom gainsboro;
  border-radius: $borderRadius;
  border: 2px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  color: #555;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
  font: bold 13px arial, tahoma, helvetica, sans-serif;
  padding: 8px 18px;
}
#modx-login-btn {
  float: right;

  &:hover {
    background: #ddd;
  }
}
#modx-fl-btn {
  margin-left: 0;
}
.x-panel-mr {
  padding-right: 0;
}
.x-panel-mc {
  padding: 10px 0;
}
#modx-login-language-select-div {
  bottom: 0;
  color: #888;
  left: 0;
  padding: 4px;
  position: absolute;
}
#modx-login-language-select {
  background: #eee;
  border: 1px solid #aaa;
  position: relative;
}
