body {
   behavior: url("csshover3.htc");
}

#modx-frame-ct {
    height: 500px !important;
}

.modx-accordion .x-accordion-hd {
    /* cannot make the dang right corner work in IE7 */
    /* the star in front of properties targets IE7-only */
    *margin-right: 0;
    overflow: visible;
}

#rightlogin {
    text-align: right;
    *width: 200px;
}

#rightlogin a.modx-logout {
    display: block;
    float: right;
    margin-left: 0;
}

/*.ext-ie #modx-navbar {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#777777');
}*/