/*
Error: File to import not found or unreadable: bourbon/bourbon.
       Load path: C:/Projecten/localhost/MODX/_build/templates/default
        on line 1 of sass/index.scss

1: @import "bourbon/bourbon";
2: $border-box-sizing:false;
3: @import "neat/neat";
4: $fa-css-prefix:       icon;
5: @import "font-awesome/font-awesome";
6: .#{$fa-css-prefix}-large { @extend .#{$fa-css-prefix}-lg; }

Backtrace:
sass/index.scss:1
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:66:in `rescue in import'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:45:in `import'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
C:/Programma's/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
C:/Programma's/Ruby200-x64/bin/sass:23:in `load'
C:/Programma's/Ruby200-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bourbon/bourbon.\A        Load path: C:/Projecten/localhost/MODX/_build/templates/default\A         on line 1 of sass/index.scss\A \A 1: @import \"bourbon/bourbon\";\A 2: $border-box-sizing:false;\A 3: @import \"neat/neat\";\A 4: $fa-css-prefix:       icon;\A 5: @import \"font-awesome/font-awesome\";\A 6: .#{$fa-css-prefix}-large { @extend .#{$fa-css-prefix}-lg; }"; }
