/* Main colors */
/* needs much more adaption, should be used as text color for elements with $colorSplash background */
/* a blueish dark gray */
/* generate the black from the $colorSplash */
/* default theme $colorSplash */
/* Status Message */
/* Brand colors */
/* Backgrounds */
/* Borders */
/* Shadows */
/* Grids */
/* Form field colors */
/* Buttons */
/* Context menus */
/* ComboBox dropdown menus */
/* Tree menus */
/* locked is already signaled with lock-icon, no need to use other semantic style here
   as italic is used for "unpublished" */
/* Top navigation colors */
/* Tabs */
/* Windows */
/* Font stacks */
/* Responsive breakpoints */
/* Path for background-images */
@-ms-viewport {
  width: device-width; }

/**
 * CSS Reset
 */
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: 0; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #343434; }

strong {
  font-weight: 600; }

body {
  background: #E4E4E4; }

/**
 * Layout styles
 */
.l-background {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: calc(100% - 30rem);
  background: #E4E4E4 no-repeat center center;
  background-size: cover;
  opacity: .8; }

.l-main {
  margin: 0.5rem 0 2rem; }

.l-content {
  position: relative;
  background: #FFF;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 1.5625rem; }

.l-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

html[dir="rtl"] .l-content {
  margin-right: 0;
  margin-left: auto; }

html[dir="rtl"] .l-background {
  left: 0;
  right: auto; }

@media screen and (min-width: 25em) {
  .l-content {
    padding: 0 3.125rem; } }

@media screen and (min-width: 48em) {
  .l-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 30rem; }
  .l-background {
    display: block; } }

/**
 * Basic Typography
 */
h1 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem; }

h2 {
  margin: 1.5rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: bold; }

p {
  margin: 0 0 1rem;
  line-height: 1.4; }

a {
  color: #3697CD;
  text-decoration: none; }
  a:hover {
    opacity: .8; }

.lead {
  font-size: 1rem;
  margin-bottom: 2rem; }

input {
  display: inline-block;
  width: 100%;
  background: #FBFBFB;
  border-radius: 3px;
  outline-color: #6CB24A;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: none;
  border: 1px solid #E4E4E4; }

input[type="checkbox"] {
  width: auto;
  margin: 0 0.5rem 0 0;
  position: relative;
  top: 0; }

input:focus {
  border: 1px solid #3697CD; }

label {
  display: block;
  margin: 1.25rem 0;
  cursor: pointer;
  font-weight: 500; }
  label a {
    font-weight: 400; }

label#rememberme-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: left;
      justify-content: left;
  -ms-flex-align: center;
      align-items: center; }

label > input {
  margin-top: 0.25rem; }

/**
 * Components
 */
.c-logo {
  display: block;
  max-width: 100%;
  width: 12rem;
  margin: 1.5625rem 0 1rem; }

@media screen and (min-width: 48em) {
  .c-logo {
    margin: 3.125rem 0 1rem; } }

.c-form {
  padding: 0 1rem;
  margin: 0 -1rem; }

.c-button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background: #6CB24A;
  border: 1px solid #568e3b;
  border-radius: 3px;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  cursor: pointer; }

#modx-login-btn,
#modx-fl-btn {
  border: 1px solid transparent; }
  #modx-login-btn:hover, #modx-login-btn:focus,
  #modx-fl-btn:hover,
  #modx-fl-btn:focus {
    background: #528738;
    color: #FFF;
    transition: background-color .2s ease-out; }
  #modx-login-btn:hover,
  #modx-fl-btn:hover {
    box-shadow: none; }

#modx-login-username,
#modx-login-username-reset {
  margin-top: 10px; }

.c-password-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
  width: 100%; }

.c-helplink {
  margin-left: 2rem;
  color: #53595F; }

.c-help {
  display: none;
  margin: 3rem 0;
  border: 0.125rem solid #6CB24A;
  padding: 0 1rem;
  border-radius: 3px; }
  .c-help.is-visible {
    display: block; }

.l-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-bottom: 1rem;
  background: #FFF; }

.c-languageselect {
  position: relative; }

.c-languageselect__select {
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
  direction: rtl;
  padding-right: 1.2rem;
  color: #53595F; }

.c-languageselect__arrow {
  z-index: 1;
  display: block;
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem 0.375rem 0 0.375rem;
  border-color: #53595F transparent transparent transparent; }

.c-button--ghost {
  color: #3697CD;
  background: transparent;
  border: none; }
  .c-button--ghost:hover {
    opacity: .8; }
  .c-button--ghost .c-arrow {
    stroke: #3697CD; }
  :hover > .c-button--ghost {
    left: -0.5rem;
    right: 0; }

.c-arrow {
  stroke: #343434;
  vertical-align: middle;
  position: relative;
  top: -2px;
  transition: left .4s ease-in-out, right .4s ease-in-out;
  right: 0; }
  .c-button:hover > .c-arrow {
    right: -0.5rem; }
  .c-arrow.c-arrow--left {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    left: 0; }
    .c-button:hover > .c-arrow.c-arrow--left {
      left: -0.5rem;
      right: 0; }

/**
 * States
 */
.can-toggle {
  max-height: 50rem;
  overflow: hidden;
  transition: max-height .4s ease-in-out; }

.is-hidden {
  max-height: 0;
  visibility: hidden;
  transition: max-height .4s ease-in-out, 0s visibility .7s; }

.is-error {
  color: #CF1124;
  border-left: 0.2rem solid #CF1124;
  padding: 1rem 1.2rem;
  border-radius: 3px;
  background-color: #FFEEEE; }

.is-success {
  color: #528738;
  border-left: 0.2rem solid #6CB24A;
  padding: 1rem 1.2rem;
  border-radius: 3px;
  background-color: #EFFCF6; }

@media screen and (max-width: 40em) {
  h1 {
    margin: 1rem 0 .5rem;
    font-size: 1.3rem; }
  .l-main {
    margin: .5rem 0 .5rem; }
  .c-logo {
    width: 10rem; }
  label {
    font-size: 1em; }
  .is-error,
  .is-success {
    font-size: 1em; } }
