/* Main colors */
/* unused */
/* unused */
/* needs much more adaption, should be used as text color for elements with $colorSplash background */
/* a blueish dark gray */
/* generate the black from the $colorSplash */
/* default theme $colorSplash */
/* Brand colors */
/* Backgrounds */
/* Borders */
/* Shadows */
/* Grids */
/* Form field colors */
/* Buttons */
/* Context menus */
/* ComboBox dropdown menus */
/* Tree menus */
/* locked is already signaled with lock-icon, no need to use other semantic style here
   as italic is used for "unpublished" */
/* Top navigation colors */
/* unused */
/* unused */
/* unused */
/* Tabs */
/* Windows */
/* Font stacks */
/* unused */
/* unused */
/* Responsive breakpoints */
/* Path for background-images */
@-ms-viewport {
  width: device-width; }

/**
 * CSS Reset
 */
html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit;
  outline: 0; }

*:focus {
  box-shadow: 0 0 0 0.125rem #3697cd !important; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul, form {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #081922; }

body {
  background: #E4E4E4; }

/**
 * Layout styles
 */
.l-background {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 100%;
  width: calc(100% - 30rem);
  background: #E4E4E4 no-repeat center center;
  background-size: cover;
  opacity: 0.8; }

.l-main {
  margin: 2rem 0 3rem; }

.l-content {
  position: relative;
  background: #FFF;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 1.5625rem; }

html[dir="rtl"] .l-content {
  margin-right: 0;
  margin-left: auto; }

html[dir="rtl"] .l-background {
  left: 0;
  right: auto; }

@media screen and (min-width: 25em) {
  .l-content {
    padding: 0 3.125rem; } }

@media screen and (min-width: 48em) {
  .l-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 30rem; }
  .l-background {
    display: block; } }

/**
 * Basic Typography
 */
h1 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem; }

h2 {
  margin: 1.5rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: bold; }

p {
  margin: 0 0 1rem;
  line-height: 1.4; }

a {
  color: #3697cd;
  text-decoration: none; }

.lead {
  font-size: 1.1rem;
  margin-bottom: 3rem; }

input {
  font-size: 1rem;
  padding: 1rem;
  box-shadow: none;
  border: 1px solid #E4E4E4; }

label {
  display: block;
  margin: 1.5rem 0;
  color: #53595F;
  cursor: pointer; }

input {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  outline-color: #32AB9A; }

label > input {
  margin-top: 0.25rem; }

input[type="checkbox"] {
  width: auto;
  margin: 0 0.5rem 0 0;
  position: relative;
  top: -0.125rem; }

/**
 * Components
 */
.c-logo {
  display: block;
  max-width: 100%;
  width: 10rem;
  margin: 1.5625rem 0 1rem; }

@media screen and (min-width: 48em) {
  .c-logo {
    margin: 3.125rem 0 1rem; } }

.c-form {
  padding: 0 1rem;
  margin: 0 -1rem; }

.c-button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background: #32AB9A;
  box-shadow: none;
  border: 1px solid #268476;
  border-radius: 3px;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  cursor: pointer; }

.c-button--ghost {
  color: #3697cd;
  background: transparent;
  border: none; }
  .c-button--ghost .c-arrow {
    stroke: #3697cd; }

.c-password-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%; }

.c-helplink {
  margin-left: 2rem;
  color: #53595F; }

.c-help {
  display: none;
  margin: 3rem 0;
  border: 0.125rem solid #32AB9A;
  padding: 0 1rem;
  border-radius: 3px; }
  .c-help.is-visible {
    display: block; }

.l-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  background: #FFF; }

.c-languageselect {
  position: relative; }

.c-languageselect__select {
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
  direction: rtl;
  padding-right: 1.2rem;
  color: #53595F; }

.c-languageselect__arrow {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem 0.375rem 0 0.375rem;
  border-color: #53595F transparent transparent transparent; }

.c-arrow {
  stroke: #081922;
  vertical-align: middle;
  position: relative;
  top: -2px;
  transition: left 0.4s ease-in-out, right 0.4s ease-in-out;
  right: 0; }
  a:hover > .c-arrow {
    right: -0.5rem; }
  .c-arrow.c-arrow--left {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    left: 0; }
    a:hover > .c-arrow.c-arrow--left {
      left: -0.5rem;
      right: 0; }

/**
 * States
 */
.can-toggle {
  max-height: 50rem;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out; }

.is-hidden {
  max-height: 0;
  visibility: hidden;
  transition: max-height 0.4s ease-in-out, 0s visibility 0.7s; }

.is-error {
  color: #BE0000;
  border: 0.125rem solid #BE0000;
  padding: 1rem;
  border-radius: 3px; }
