/* Neutralize styles, fonts and viewport:
---------------------------------------------------------------- */
html, body, form, fieldset {
    margin: 0;
    padding: 0;
    }
html {
    font-size: 100.01%; /* avoids obscure font-size bug */
    line-height: 1.5; /* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/ */
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important; /* IE ignores this and renders Arial better */
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    height: 100%;
    color: #111;
    }
body {
    font-size: 75%; /* 12px 62.5% for 10px*/
    height: 100%;
    margin-bottom: 1px; /* avoid jumping scrollbars */
    background-color: #f7f7f7;
}
#mx_loginbox img, #mx_loginbox a img {
    border: 0 !important;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
    margin: 0 0 .5em; /* Reset vertical margins on selected elements */
    padding: 0;
}
#mx_loginbox li, #mx_loginbox dd, #mx_loginbox blockquote {
    margin-left: 1em; /* Left margin only where needed */
}

/* Headers and Paragraphs:
---------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 218%; }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h5 { font-size: 100%; font-weight: bold; }
h6 { font-size: 86%; font-weight: bold; }

p.caption, p.comment { font-size: 86%; color: #888; }
.warning { color: #821517; font-weight: bold; }
.success { color: #090; font-weight: bold; }
#mx_loginbox {
    width: 460px;
    margin: 70px auto 0;
}
img.loginCaptcha {
    border: 1px solid #039;
    width: 148px;
    height: 60px;
}
.loginLicense {
    width: 460px;
    color: #555;
    margin: 0 auto;
    font-size: 90%;
    padding-left: 20px;
}

#modx-login-form-panel { border: 1px solid #ddd; }
.x-panel-tl, .x-panel-tl .x-panel-header { background: #efefef; } 

.x-panel-ml { padding: 10px 20px 20px; }

.modx-forgot-login {
	float: left;
	padding-top: 4px;
}
a {
	text-decoration: none;
	color: #526924;
}
a:hover {
	text-decoration: underline;
}

#modx-login-email { width: 200px; }

#modx-panel-login-div {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
}