body{
    border: 0;
    margin: 0;
    padding: 3px;
    height: 98%;
    cursor: text;
    
    font-family: none !important;
    font-size: 1em !important;
}

img {
	border: 1px solid gray !important;
	}