html, body, form, fieldset {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100.01%; /* avoids obscure font-size bug */
    line-height: 1.7em; 
    /*font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
    font: normal 1.1em Verdana,Arial,Tahoma;
    height: 100%;
    color: #111;
}
body {
    font-size: 62.5%; /* 10px */
    font-size: 75%; /* 12px */
    font-size: 68.75%; /* 11px */
    height: 100%;
    margin-bottom: 1px; /* avoid jumping scrollbars */
    background-color: #ffffff;
}

img, a img {
    border: 0 !important;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

hr {
    color: #a1b7c4;
    background-color: #a1b7c4;
    height: 1px;
    border: 0;
    margin: 2em;
}

.padding {
    padding: 1em;
    background-color: #fff;
}

div.phpeditor {
    border: 1px solid #c1dad7;
}
div.phpeditor .header {
    color: #535d6c;
    background-color: #d9e3f2;
}

div.phpeditor .header h3 {
    font: bold 1em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: .5em .5em .5em 1em;
}
div.phpeditor .header .wrap {
    float: right;
}

div.phpeditor textarea {
    margin: 1em;
}
