#modx_container p {
    margin-bottom: 13px;
}


h2 {
    margin: 0 0 10px;
    font: normal 21px Helvetica, Tahoma, Arial, Helvetica, sans-serif;
    padding-bottom: 4px;
    border-bottom: 1px solid #acacac;
}

h3 {
    margin: 0 0 18px;
    font: bold 1.3em Helvetica, Tahoma, Arial, Helvetica, sans-serif;
}

.dashed {
    border-bottom: 1px #90b1b9 dashed;
}

.news_article {
    padding-bottom: 30px;
}
.news_article a {
    color: #535d6c;
    text-decoration: none;
}
.news_article a:hover {
    color: #90b1b9;
}
.news_article .date_stamp {
    float: right;
    font-style: italic;
}


.modx-console .debug { color: gray; }
.modx-console .success { color: green; }
.modx-console .warn { color: blue; }
.modx-console .error { color: red; }