
div.workspace-dtl {
    padding: 10px;
}
.workspace-dtl strong {
    font-weight: bold;
}
.workspace-dtl h1 {
    font-size: 218%; 
}
.workspace-dtl h2 {
    font-size: 164%; 
}
.workspace-dtl h3 {
    font-size: 132%; 
}