
# ignore all .htaccess
.htaccess

# ignore all IIS files
web.config

# ignore all config.core.php
config.core.php

# ignore concatenated js
modext.js

# ignore common root paths for docs and assets
/docs/
/assets/

# ignore various IDE project files and folders
.idea/
.buildpath
.project
.coverage/
.settings/
nbproject/

# ignore php and txt files beginning with test in root directory
/test*.php
/test*.txt

# ignore mac files
.DS_Store

# ignore setup config files
setup/config.xml
setup/config.new.xml
setup/config.upgrade.xml
setup/config.upgrade-advanced.xml

# ignore grunt files
bower_components
node_modules
.sass-cache
_build/templates/default/sass/bourbon
_build/templates/default/sass/neat
_build/templates/default/sass/font-awesome
*.css.map
*.js.map

# ignore composer files
composer.phar
composer.lock

# ignore composer vendor dir
/vendor
manager/assets/modext/widgets/element/_b1_modx.panel.tv.js
core/model/modx/processors/element/tv/configs/mgr/inputproperties/email_cols.php
manager/assets/modext/widgets/core/_b1_modx.panel.js
