language: php

php:
  #- 7.1
  #- 7.0
  - 5.6
  #- nightly
  #- hhvm

matrix:
  allow_failures:
    - php: nightly
    - php: hhvm

mysql:
  database: revo_test
  username: root
  encoding: utf8

install:
  - composer install --no-interaction
  - cp _build/test/properties.sample.inc.php _build/test/properties.inc.php
  - cp _build/build.config.sample.php _build/build.config.php
  - cp _build/build.properties.sample.php _build/build.properties.php
  - php _build/transport.core.php
  - cp _build/test/install.sample.xml setup/config.xml
  - sed -i "s?{directory}?$(echo $PWD)?g" setup/config.xml
  - cat setup/config.xml
  - php setup/index.php --installmode=new --config=config.xml

script:
  - composer test
