%primary-button {
  @include background-image(linear-gradient(left top, $buttonPrimaryBg1,$buttonPrimaryBg2));
  background-color: $buttonPrimaryBg1;
  color: $buttonColorPrimary;
  &.x-item-disabled {
    opacity:1;
    background: $desaturatedSplash;
  }
  & button {
    color: $buttonColorPrimary;
  }
  &.x-item-disabled * {
    color: $buttonColorDisabled !important;
  }
  &.x-btn-over {
    background: lighten($primaryAction,12%);
  }
}
