%primary-button {
  @include background-image(linear-gradient(left top, $buttonPrimaryBg1,$buttonPrimaryBg2));
  background-color: $buttonPrimaryBg1;
  box-shadow: none;
  color: $buttonColorPrimary;

  & button {
    color: $buttonColorPrimary;
  }

  &.x-btn-over,
  &:hover {
    @include background-image(linear-gradient(left top, $buttonPrimaryBg1Hover, $buttonPrimaryBg2Hover));
    box-shadow: none;
  }

  &.x-btn-focus,
  &.x-btn-click,
  &:active {
    @include background-image(linear-gradient(left top, $buttonPrimaryBg1Active, $buttonPrimaryBg2Active));
    box-shadow: none;
  }

  &.x-item-disabled,
  &.x-item-disabled:hover,
  &.x-item-disabled:active {
    /*background: $desaturatedSplash;*/
    @include background-image(linear-gradient(left top, $buttonPrimaryBg1,$buttonPrimaryBg2));
    background-color: $buttonPrimaryBg1;
    box-shadow: none;
    color: $buttonColorPrimary;
    opacity: 0.6
  }
}
