%primary-button {
  @include linear-gradient(lighten($primaryAction,10%), $primaryAction);
  border-color:darken($primaryAction,6%);
  color:white;
  &.x-item-disabled {
    opacity:1;
    @include linear-gradient($desaturatedSplash, darken($desaturatedSplash,10%));
    border-color:darken($gainsboro,40%);
  }
  & button,
  &.x-item-disabled * {
    color: white !important;
  }
  &.x-btn-over {
    @include linear-gradient(lighten($primaryAction,10%), darken($primaryAction,6%));
    border-color:darken($primaryAction,12%);
}
}