%secondary-button {
  background: $white;
  border: 0;
  border-radius: $borderRadius;
  box-shadow: $shadowBorder;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  line-height: 1;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  zoom: 1;
  & button {
    font-size: 13px;
    color: $regularButtonColor;
    cursor: pointer;
    height: 16px;
    min-width: 100%;
    vertical-align: middle;
  }
  .x-btn-split,
  .x-btn-arrow {
    display: block;
    padding-right: 20px;
    position:relative;
    &:before {
      @extend %pseudo-font;
      color: inherit;
      content: $fa-var-caret-down;
      font-size: 14px;
      position: absolute;
      top: 1px;
      right: 0;
    }
    & button {
      border-right-color: inherit;
      border-right-style: solid;
      border-right-width: 1px;
      padding-right: 10px;
    }
  }
  &.x-btn-over,
  &:hover {
    background-color: $colorSplash;
    box-shadow: $shadowBorderHover;
    color: $white;

    button {
      color: inherit;
    }
  }
  &.x-btn-focus,
  &.x-btn-click,
  &:active {
    background: darken($colorSplash, 6%);
    box-shadow: $shadowBorderActive;
    color: $white;

    button {
      color: inherit;
    }
  }
  &.x-btn-menu-active {
    .x-btn-split:before {
      content: $fa-var-caret-up;
    }
  }
  &.x-item-disabled,
  &.x-item-disabled:hover,
  &.x-item-disabled:active {
    background: $white;
    box-shadow: $shadowBorder;
    color: $regularButtonColor;
    opacity: 0.6; /* extjs default theme is also 0.6 */
  }
  &.primary-button {
    @extend %primary-button;
  }
}