$navbarBg:rgb(255,255,255);

$borderColor:rgb(222,222,222);
$borderShadow:lighten($borderColor,50%);

$uberBlue:#3875ae;

$softGrey:rgb(220,220,220);
$bg:rgb(240,240,240);
$almostWhite:rgb(250,250,250);
$dropdownBg:$almostWhite; /* why set to value of another var?, incase we want to change it later */
