/* Hightlight Color:
   use this for tab top borders, etc. … anywhere some personality is needed */
$colorSplash:	#3875ae

/* Tree menus */
$treeText:		#333333
$iconColor:		$treeText
$unpublished:	lighten($treeText, 30%) !important
$unpubText:		normal
$hidden:		$unpublished


/* Top navigation colors */
$navbarBg:		rgb(255,255,255)
$navbarHover:	rgb(247,247,247)
$navbarDrop:	$navbarBg
$navbarText:	#222


$borderColor:	rgb(222,222,222)
$borderShadow:	rgba(0,0,0,0.025)

$softGrey:		rgb(220,220,220)
$almostWhite:	rgb(250,250,250)
$dropdownBg:	$almostWhite 

$mainBg:			rgb(234,234,234)
$tabBg:				#fff
$tabInactiveBg:		$navbarHover
$tabHoverBg:		$navbarHover
$tabText:			#333
$tabInactiveText:	$tabText
$tabHoverText:		darken($colorSplash,20%)

$navbarRadius:	2px
$shadower:		0 1px 0 $borderShadow,-1px 0 0 $borderShadow,1px 0 0 $borderShadow