/* Thanks to Christian Seele for these! http://chsmedien.com/blog/2013/02/customize-your-modx-dashboard */
#managerbuttons {
    width:100%;
    overflow:hidden;
    margin-bottom: 1em;
}
#managerbuttons ul:before,
#managerbuttons ul:after {
    content: " ";
    display: table;
}
#managerbuttons ul:after {
    clear: both;
}
#managerbuttons ul {
    width: 102%;
    margin: -1% 0 0 -1%;
    /* clearfix */
    *zoom: 1;
}
#managerbuttons ul li {
    display: table;
    position: relative;
    float: left;
    width: 24.82%;
    margin: 0;
    padding: 1% 0 0 1%;
}
#managerbuttons ul li a {
    display: table-cell;
    position: relative;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    /* MODX 2.x.x Manager Button Styles */
    font: bold 11px tahoma, verdana, helvetica, sans-serif;
    @include border-radius (3px);
    @include linear-gradient(top, #ffffff, #f5f5f5);
    @include box-shadow(0 1px 0 $borderShadow);
    border: 1px solid $borderColor;
    color: #53595f;
}
#managerbuttons ul li a span {
    display: block;
    line-height: 1.4;
}
#managerbuttons ul li a span.headline {
    font-size: 12px;
}
#managerbuttons ul li a span.subline {
    font-weight: normal;
}
#managerbuttons ul li a span.icon {
    display: block;
    wdith: auto;
    margin: 0 auto;
    padding: 0 0 10px;
}
#managerbuttons ul li a:hover span.icon {
	color: $colorSplash;
}

#helpBanner,
#contactus {
    background: #fff;
    padding: 18px;
    margin: 0.75em 0 1.75em;
    width: 100%;
    @include box-shadow(0 1px 0 $borderShadow);
    border: 1px solid $borderColor;
    @include box-sizing;

    h3 {
        margin: 0 0 1em;
    }
}
#helpBanner {
    min-height: 112px;
    margin-top: 1.5em;

    #helpLogo {
        float: right;
        width: 200px;
        height: 76px;
        margin-right: 1em;
    }
}

#contactus {
    width: 60%;
    float: left;
    @include box-sizing;


    form {
    display: inline;
    }

    input[type=email] {
	    font-size: 1.1em;
	    padding: 0.4em;
	    margin-right: 4px;
	    width: 70%;
	    @include box-sizing;
    }

    p {
        margin: 1em 0;
        color: lighten($mainText,20%)
    }

    form + p {
    	margin: 2em 0 0;
    }
}

#contactus a {
    text-decoration: none;
    color: $mainText;

    &:hover {
        text-decoration: underline;

        i {
        	text-decoration: none;
        }
    }

    i {
    	margin: 0 8px -6px 0;
    }
}

#adblock {
    float: left;
    margin: 1em 0 0 2%;
    width: 38%;
    padding: 1em;
    background: $softGrey;
    @include box-sizing;
    min-height: 300px;
}
#aboutMODX {
    clear:both;
    padding: 3em;
    p {
        margin: 0 0 1em;
        line-height: 1.6
    }
    a {
        color: $colorSplash;
        padding: 2px 4px;
        margin: -2px -4px;
        &:hover {
            color: #fff;
            background-color: $colorSplash;
            text-decoration: none;
        }
    }
}
