
/* vertical tabs */
.vertical-tabs-panel{
	background: url("../images/style/vtabs-bg.png") repeat-y scroll left 0 transparent !important;
}
.vertical-tabs-panel.wrapped{
	border: 1px solid #e0e0e0;
}
.vertical-tabs-header{
	width: 150px !important;
	padding: 13px 0 !important;
    margin-left: 0;
	float: left;
    background-color: transparent !important;
}
.vertical-tabs-header ul{
	border-top: 1px solid #E0E0E0;
	width: auto;
}
.vertical-tabs-header li{
    float: none !important;
    overflow: hidden;
    white-space: nowrap;
	background: none repeat scroll 0 0 transparent !important;
	margin: 0 !important;
	border-radius: 0 !important;
	border-width: 1px 1px 1px 0 !important;
	border-color: transparent transparent #E0E0E0 transparent !important;
	border-style: none none solid none !important;
	padding: 5px !important;
}
.vertical-tabs-header li:first-child{
	border-top: 0 none !important;
}
.vertical-tabs-header li {
	color: #555;
    line-height: 1.3;
    text-shadow: 0 1px 0 #fff;
    white-space: normal;
}
.vertical-tabs-header ul.x-tab-strip-top li.x-tab-strip-active {
	background: none repeat scroll 0 0 #fff !important;
    border-width: 0 0 1px;
	color: #555;
	padding-bottom: 5px !important;
	text-shadow: none;
}
.vertical-tabs-header .x-tab-edge {
	height: 0;
}
.vertical-tabs-header .x-tab-strip-spacer{
	display: none;
}
.vertical-tabs-body{
	padding: 20px 30px 20px 25px;
}
.vertical-tabs-bwrap{}


/*#modx-resource-vtabs-header-title {
    margin-left: 15px;
    font-size: 14px;
    color: #777;
    padding: 0 0 10px;
}*/

.x-tab-panel-header, .x-tab-panel-footer {
    border-color: #C0C0C0;
}

ul.x-tab-strip-top {
	border-bottom-color: transparent;
}
ul.x-tab-strip li {
	/*-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-khtml-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;*/
	border: 1px solid transparent;
	border-width: 1px 1px 0;
	margin: 1px 0 1px 2px;
	padding: 0;
    font-size: 12px;
    line-height: 2.2;
    cursor: pointer;
    color: #777;
    padding: 0 15px;

}
ul.x-tab-strip li.x-tab-strip-active {
    background-color: #fff;
    border: 1px solid #E2E3DE;
    border-width: 0 1px;
    margin: 3px 0 0 2px;
    cursor: default;
    /*box-shadow: 0 -2px 0 rgb(200,200,200);*/
}
/*ul.x-tab-strip-top li.x-tab-strip-active {
    box-shadow: 0 1px 0 #fff, 3px 1px 0 rgba(0,0,0,.1);
}*/

.x-tab-strip-wrap,
.x-tab-panel-header,
.x-tab-panel {
    overflow: visible;
}

.x-tab-strip-closable{ padding-right: 15px !important; }
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	right: 8px;
	top: 11px;
}
ul.x-tab-strip-top li:first-child { 
    margin-left:0; 
}
ul.x-tab-strip li:hover,
ul.x-tab-strip li.x-tab-strip-active {
    color: #444;
}

ul.x-tab-strip-bottom {
	background-color:#f4f4f4;
	border-top-color:#dfdfdf;
}
.x-tab-panel-header-plain {
/*    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; 
    margin-left: 15px;*/
    background-color: #f7f8f3;
}
.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {
    margin-top: -2px;
    background-color: #fff;
    height: 3px;
    border: 1px solid #E2E3DE;
    border-width: 1px 0 0 !important;
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close { 
        background-image:url(../images/modx-theme/tabs/tab-close.gif); 
    }
.x-tab-strip-disabled .x-tabs-text { color:#aaa; }
.x-tab-strip-bottom .x-tab-right { background-image:url(../images/modx-theme/tabs/tab-btm-inactive-right-bg.gif); }
.x-tab-strip-bottom .x-tab-left { background-image:url(../images/modx-theme/tabs/tab-btm-inactive-left-bg.gif); }
.x-tab-strip-bottom .x-tab-strip-active .x-tab-right { background-image:url(../images/modx-theme/tabs/tab-btm-right-bg.gif); }
.x-tab-strip-bottom .x-tab-strip-active .x-tab-left { background-image:url(../images/modx-theme/tabs/tab-btm-left-bg.gif); }
.x-tab-panel-body {
	border: 1px solid #999;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
	background-color:#ffffff;
}
.x-tab-panel-body-top { border-top:0 none; }
.x-tab-panel-body-bottom { border-bottom:0 none; }
.x-tab-scroller-left {
	background-image:url(../images/modx-theme/tabs/scroll-left.gif);
	border-bottom-color:#dfdfdf;
}
.x-tab-scroller-left-over { background-position:0 0; }
.x-tab-scroller-left-disabled {
	background-position:-18px 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
	cursor:default;
}
.x-tab-scroller-right {
	background-image:url(../images/modx-theme/tabs/scroll-right.gif);
	border-bottom-color:#dfdfdf;
}
.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar { border-color:#dfdfdf; }

.x-tab-panel-body-noborder .x-panel-body-noheader:first-child{
	border-top: 0 none;
}

.x-tab-panel-bbar-noborder .x-toolbar {
    border-top-color:transparent;
}

.x-tab-panel-tbar-noborder .x-toolbar {
    border-bottom-color:transparent;
}