/* MODX MANAGER SEARCH */
#modx-navbar #modx-manager-search {
    padding: 5px 8px 5px 10px;
}
#modx-navbar #modx-manager-search:hover {
    background: none;
    border-color: transparent
}
#modx-manager-search .x-form-trigger {
    background: none;
    padding: 7px 4px 7px 6px;
    width: 16px;
    height: 16px;
    left: 0;
    color: #555;
    cursor: default;
}
#modx-manager-search .x-form-field-wrap {
    background: $dropdownBg;
    outline: none !important;
    font-size: 12px;
    color: #565353;
    @include border-radius(0);
}
#modx-manager-search .x-form-field-trigger-wrap {
    border-width: 0;
    height: auto;
}

#modx-manager-search .x-form-field-wrap:hover,
#modx-manager-search .x-trigger-wrap-focus {
    background: $almostWhite;
    @include transition(background-color,360ms,ease-in);
    @include transition-delay(0);
}
#modx-awesomebar {
    margin-left: 20px;
} 
#modx-manager-search .x-form-empty-field {
    color: #bbb; 
    text-shadow: none;
    font-weight: normal;
}
.modx-manager-search-results {
    position: relative;
    width: 450px !important;
    height: auto !important;
    margin: 2px 0 0 0;
    background: rgba(240,240,240,.95);
    border: $borderColor;
    @include box-shadow($shadower);
    @include box-sizing();
    @include border-radius(0 0 2px 2px);
}
.modx-manager-search-results .x-combo-list-inner {
    width: 100% !important;
}
.modx-manager-search-results .section {
    position: relative;
    border-left: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    margin-left: 116px;
    font-size: 13px;
}
.modx-manager-search-results .x-combo-selected h3 {
    left: 0;
}
.modx-manager-search-results h3,
.modx-manager-search-results p {
    padding: 4px 8px;
    line-height: 17px;
    margin: 0;
}
.modx-manager-search-results h3 {
    font-weight: normal;
    color: #aaa;
    font-size: .85em;
    position: absolute;
    left: -116px;
    top: 0;
    width: 95px;
    text-align: right;
}
.modx-manager-search-results a {
    display: inline-block;
    cursor: pointer;
    padding-left: 18px;
    position: relative;
}
.modx-manager-search-results i {
    color: $colorSplash;
    position: absolute;
    top: 2px;
    left: 0;
}
.modx-manager-search-results em {
    font-style: normal;
    opacity: 0.5;
}
.modx-manager-search-results .x-combo-selected h3,
.modx-manager-search-results .x-combo-selected p,
.modx-manager-search-results .x-combo-selected i {
    color: #fff;
}
.modx-manager-search-results .x-combo-selected p {
    border-left-color: transparent;
}
.modx-manager-search-results .x-combo-selected {
    color: #fff !important;
    background-color: $colorSplash !important;
    border: none;
    padding-left: 117px;
    margin-left: 0;
}
.modx-manager-search-results .icon-user {
    background-image: none !important;
}
.modx-manager-search-results .x-combo-selected {
    color: #fff !important;
    background-color: $colorSplash !important;
    box-shadow: inset 0 -1px 1px darken($colorSplash,10%), inset 0 1px 1px lighten($colorSplash,10%);
    z-index: 10;
}