<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="MODxTestHarness.php"
         strict="true">
    <testsuites>
        <testsuite name="Setup">
            <file>Tests/modXSetupTest.php</file>
        </testsuite>
        <testsuite name="Model">
            <file>Tests/Model/modXTest.php</file>
            <!--<directory>Tests/Model/Error</directory>-->
        </testsuite>
        <testsuite name="Processors">
            <!--<directory>Tests/Processors/Browser</directory>-->
            <directory>Tests/Processors/Context</directory>
            <directory>Tests/Processors/Element</directory>
            <directory>Tests/Processors/System</directory>
        </testsuite>
        <testsuite name="Teardown">
            <file>Tests/modXTeardownTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>