<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
         bootstrap="MODxTestHarness.php"
         strict="true">
  <!-- ... -->
    <testsuites>
      <testsuite name="Core">
          <file>Tests/Core/SystemRequirementsTest.php</file>
      </testsuite>
      <testsuite name="Processors">
        <file>Tests/Processors/Browser/DirectoryTest.php</file>
        <file>Tests/Processors/Browser/FileTest.php</file>
        <file>Tests/Processors/Context/ContextTest.php</file>
        <file>Tests/Processors/Context/ContextSettingTest.php</file>
        <file>Tests/Processors/Element/CategoryTest.php</file>
      </testsuite>
    </testsuites>
</phpunit>