.cls {
    font-size: 1px;
    height: 1px;
    clear: both;
    margin-top: -1px;
}

.modx-accordion {
    width: 23%;
    float: left;
    height: 100%;
    /*height:600px;*/
    background: #d4d4d4 url(../../images/restyle/i/bg-tree.png) repeat-x;
    /*background-color: #d4d4d4;
    background-image: none;*/
    position: relative;
    overflow: visible;
    z-index: 0;
    padding: .5%;
    clear: left;
    margin: 1% 0 1% 1%;
}

.modx-accordion .tl,.modx-accordion .tr,.modx-accordion .bl,.modx-accordion .br {
    background: transparent url(../../images/restyle/i/corner-tree-20.png) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.modx-accordion .tl {
    top: -10px;
    left: -10px;
}

.modx-accordion .tr {
    top: -10px;
    right: -10px;
}

.modx-accordion .br {
    bottom: -10px;
    right: -10px;
}

.modx-accordion .bl {
    bottom: -10px;
    left: -10px;
}

.modx-accordion .x-accordion-hd {
    height: 25px;
    line-height: 25px;
    color: #f7f7f7;
    background: transparent url(../../images/restyle/i/bg-x-accordion-hd.png) left top;
    margin-right: 0;
    font-size: 1.3em;
    padding-left: 36px;
    overflow: visible;
    position: relative;
    border: 0;
}

.modx-accordion .x-tool-toggle {
    width: 24px;
    height: 24px;
    float: right;
    z-index: 5;
    display: none;
}
.x-panel-collapsed .x-accordion-hd .x-tool-toggle-over {
    background-position: 0 0;
}

/* other stuff */
.modx-tree .x-toolbar {
    background: #eee;
    /*border: 1px solid #fff;*/
    border: 0;
}

.modx-accordion .x-panel-body {
    background: transparent;
}

.modx-accordion form.x-panel-body {
    background-color: #eee !important;
}

.modx-accordion .x-tree-root-ct {
    background-color: #eee;
    padding: .4em;
}



.modx-accordion .x-accordion-hd {
	margin-right: 10px;
	overflow: visible;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 36px;
	background: transparent url(../../images/restyle/i/bg-x-accordion-hd2.png) 0 0;
}
.modx-accordion .x-panel-header-text,
.modx-accordion .x-panel-animated .x-panel-header-text {
	margin-right: -10px !important;
    background: transparent url(../../images/restyle/i/bg-x-accordion-hd2.png) 100% 0 !important;
	display: block;
	line-height: 32px;
}
.modx-accordion .x-panel .x-panel-animated div.x-panel-header {
	overflow: visible !important;
}
#modx-resource-tree-panel .x-accordion-hd {
    background-position: 0 0;
}
#modx-element-tree-panel .x-accordion-hd {
    background-position: 0 -32px;
}
#modx-file-tree-panel .x-accordion-hd {
	    background-position: 0 -64px;
	}
#modx-static-page-settings .x-accordion-hd {
    background-position: 0 -96px;
}
#modx-element-tree-panel,
#modx-file-tree-panel {
    margin-top: 7px;
}