@import url(./navbar.css);
@import url(./accordion.css);

html {height: 100%;}

body, html {
    margin: 0;
    padding: 0;
    background-color: #ececec;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 1px;
}

#modx-container {
    height: 100%;
    width: 100%;
    padding: 0;
}


/* top bar */
#modx-topbar {
    height: 3em;
    /*border: 1px solid red;*/
    background-color: #222;
    color: white;
    vertical-align: middle;
    border-bottom: 1px solid #94bf4c;
    background-image:url(../../images/restyle/header_background.jpg);
    background-repeat:repeat-x;
    }
    
#modx-site-name {
    padding: .3em 0 0 1em;
    }
.modx-version {
    display: block;
    clear: left;
    color: #888;
    font-size: .8em;
    font-style: italic;
}

#modx-logo {
    float: right;
    margin: .4em 1em 0 0;
    }
#modx-logo img {   
    width: 94px;
    height: 25px;
    vertical-align: middle;
}


/* 2nd row, navbar */
#modx-navbar {
    background-color: #555;
    height: 31px;
		position: relative;
    /*background-image:url(../../images/restyle/header_sub.jpg);
    background-repeat:repeat-x;*/
    
}

#rightlogin {
    line-height: 25px;
		padding-top: 6px;
    float: right;
    text-align: right;
    vertical-align: middle;
    z-index: 600;
		color: #aaa;
}

#modx-login-user {
	font-weight: bold;
	color: #eee;
}

#rightlogin span {
    vertical-align: middle;
    margin-right: 1.3em;
    }
#rightlogin a.modx-logout {
    color: #ddd;
		background: #333;
    text-decoration: none;
    padding: 6px 12px 4px;
    }
#rightlogin a.modx-logout:hover {
    background: #D2150B;
		color: #fff;
}

/* content div */
#modx-content {
    width: 74%;
    padding: .5%;
    float: left;
}

h2 {
    color: #626162;
}


/* modAB */

#modAB {
    position: fixed;
    /*width: 16em;*/
    top: 8em;
    right: 2em;
    text-align: right;
    z-index: 400;
    border-width: 1px;
    border-style: solid;
    border-color: #c9c8c9;
    }
#modAB .x-toolbar {
    background: #fff;
    border: 1px solid #fff;
    }
    
/* panel stylings */
.modx-page-header, .modx-page-header div {
    background: transparent !important;
}
#modx-content form.x-panel-body {
    background: transparent !important;
}
    
.modx-page-header h2 {
    border-bottom: 0;
    margin: 0 .5em;
}
.modx-form p {
    padding-bottom: 1em;
}