@import url(./navbar.css);
@import url(./leftbar.css);

html {height: 100%;}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 1px;
}

#modx-container {
    height: 100%;
    width: 100%;
    padding: 0;
}


/* top bar */
#modx-topbar {
    height: 3em;
    /*border: 1px solid red;*/
    background-color: #222;
    color: white;
    vertical-align: middle;
    border-bottom: 1px solid #94bf4c;
    background-image:url(../../images/restyle/header_background.jpg);
    background-repeat:repeat-x;
    }
    
#modx-site-name {
    padding: .3em 0 0 1em;
    }
    
.modx-version {
    display: block;
    clear: left;
    color: #888;
    font-size: .8em;
    font-style: italic;
}

#modx-logo {
    float: right;
    margin: .4em 1em 0 0;
    }
#modx-logo img {   
    width: 94px;
    height: 25px;
    vertical-align: middle;
}


/* 2nd row, navbar */
#modx-navbar {
    background-color: #4E4E4E;
	border-top: 1px solid #1E1E1E;
	border-bottom: 1px solid #1E1E1E;
    height: 45px;
    /*background-image:url(../../images/restyle/header_sub.jpg);*/
    background-repeat:repeat-x;
	position: relative;
	text-shadow:1px -1px 0 #1f1f1f;
}
#modx-login-user {
	font-weight: bold;
	color: #eee;
}
#rightlogin {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px solid #4E4E4E;
	bottom:10px;
	color:#AAAAAA;
	height:26px;
	line-height:26px;
	position:absolute;
	right:12px;
	z-index:1;
}
#rightlogin span {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#363636;
	border:1px solid #1F1F1F;
	float:left;
	height:26px;
	padding:0 0 0 12px;
}
#rightlogin a.modx-logout {
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	background-color:#3e3e3e;
	border:1px solid #4e4e4e;
    color:#DDDDDD;
	display:block;
	float:right;
	height:24px;
	margin:0 0 1px 7px;
	padding:0 12px;
	text-decoration:none;
	text-shadow:1px -1px 0 #5e5e5e;
}
#rightlogin a.modx-logout:hover {
    background-color: #6e9b38;
	border-color: #88BF47;
	color: #fff;
}

/* content div */

#modx-content {
    width: 74%;
    padding: .5%;
    float: left;
}

h2 {
    color: #626162;
}


/* modAB */

#modAB {
    position: fixed;
    /*width: 16em;*/
    top: 8em;
    right: 2em;
    text-align: right;
    z-index: 12;
    /*
    border-width: 1px;
    border-style: solid;
    border-color: #c9c8c9;
    */
    }
#modAB .x-toolbar {
    /*
    background: #fff;
    border: 1px solid #fff;
    */
    }
#modx-action-buttons {
    background: transparent !important;
}
    
/* panel stylings */
.modx-page-header, .modx-page-header div {
    background: transparent !important;
}
#modx-content form.x-panel-body {
    background: transparent !important;
}
    
.modx-page-header h2 {
    border-bottom: 0;
    margin: .3em .5em 0;
}
.modx-form p {
    padding-bottom: 1em;
}

#modx-mainpanel{
	border-top: 1px solid #ffffff;
}