#modx-home-icon:hover {
    opacity: 1;
}

#modx-home-icon a {
    width: 100%;
    height: 100%;
    display: block;
}

#modx-topnav-div {
    background: transparent;
    margin-left: 1em;
    position: relative;
    width: 78%;
    z-index: 13;
}

#modx-topnav {
    width: 100%;
}

ul#modx-topnav {
	float:left;
	font-size:1em;
	font-weight:bold;
	height:45px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	text-shadow:-1px 1px 0 #1F1F1F;
	border-bottom: 1px solid #1E1E1E;
}
ul#modx-topnav li {
	float: left;
	margin: 0;    
	padding:5px 20px;
	position: relative;
	background:transparent url(../../images/style/separator/menu_sep.png) no-repeat scroll right 0;
}
ul#modx-topnav li a{
	padding:12px 5px 13px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul#modx-topnav li ul.modx-subnav {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	list-style: none;
	position: absolute; /*--Important - Keeps modx-subnav from affecting main navigation flow--*/
	left: 0; 
	top: 46px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 225px;
	opacity:0.97;
	border: 1px solid #111;
}
ul#modx-topnav li:hover ul.modx-subnav {
	display:block;
}

ul#modx-topnav li ul.modx-subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 100%;
}
ul#modx-topnav li ul.modx-subnav li a span {
	color:#AFAFAF;
	display:block;
	float:none;
	font-size:0.9em;
	font-weight:normal;
	margin-top:5px;
	width:100%;
}
ul#modx-topnav li.active a {
	background:transparent url(../../images/style/separator/menu_current.png) no-repeat scroll center bottom;
}

ul#modx-topnav li.active:hover a {
	background-image:none;
}

html ul#modx-topnav li ul.modx-subnav li a {
	float: left;
	width: 205px;
	background-color: #333;
	padding:12px 10px 14px;
}
html ul#modx-topnav li ul.modx-subnav li a:hover { /*--Hover effect for modx-subnav links--*/
	background-color: #222;
	text-shadow:-1px 1px 0 #4F4F4F;
}
html ul#modx-topnav li ul.modx-subnav li a:hover{
	background-color:#5C7F17;
}
ul#modx-topnav li ul.modx-subnav li a:hover span {
	color:#ffffff;
}

ul#modx-topnav li ul.modx-subnav li ul {
	display:none;
	-moz-border-radius: 5px;
	position: absolute;
	left:220px;
	top:30%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	border: 1px solid #252525;
	padding-left:0;
	z-index: 100000;
}

ul#modx-topnav li ul.modx-subnav li ul li a {
	background-color:#3F3F3F;
}

ul#modx-topnav li ul.modx-subnav li ul li {
	border-bottom: 1px solid #4f4f4f;
}

ul#modx-topnav li ul.modx-subnav li ul li:first-child, ul#modx-topnav li ul.modx-subnav li ul li:first-child a {
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
}

ul#modx-topnav li ul.modx-subnav li ul li:last-child, ul#modx-topnav li ul.modx-subnav li ul li:last-child a {
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

ul#modx-topnav li ul.modx-subnav li:hover ul  {
	display:block;
}
