table.classy {
    border-spacing: 0;
}

table.classy tbody span {
    display: block;
    font-size: 1em;
}
table.classy th, table.classy td {
    line-height: 1.4em;
    padding: .5em .5em .5em 1em;
}

table.classy th {
    font-weight: bold;
    color: #535d6c;
    background-color: #d9e3f2;
    letter-spacing: .1em;
    border-bottom: 1px dashed #d0d0d0;
    border-bottom-style: dotted;
}

table.classy td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    color: #597b84;
}

table.classy tbody th {
    text-align: right;
    vertical-align: top;
    background-color: #f8f8f8;
    border-right: 1px solid #c1dad7;
}
table.classy thead th {
    font-size: 1.3em;
    padding: .2em .4em;
    letter-spacing: .1em;
    background: url(../../../../assets/ext2/resources/images/default/panel/white-top-bottom.gif) repeat-x;
}


table.classy tr.odd td {
    background: #e8eff8;
    color: #7c735c;
}

