/* Ext.ux.FileTreePanel css file
 *
 * vim:sw=2:ts=2:fdc=4 
 * $Id: filetree.css 84 2008-03-22 09:13:18Z jozo $ 
 */

/*
.ux-ff-wrap {
	position:relative;
	left:-30px;
}
.ux-ff-input {
	position:absolute;

	opacity:.0;
	-moz-opacity: 0.0;
	filter: alpha(opacity=00);
	cursor:pointer ! important;
}
.ux-ff-mask {
	background-color:transparent;
	width:30px;
	position:absolute;
	left:0;
	top:0;
}
.ux-ff-add-btn-ct {
	position:absolute;
	left:30px;
	top:0;
}
.ux-ff-removeall-btn-ct {
	position:absolute;
	right:-30px;
	top:0;
}
.ux-ff-upload-btn-ct {
	position:absolute;
	right:-2px;
	top:0;
}
*/
.ux-up-item {
	line-height:17px;
	height:17px;
	cursor:default;
/*	border: 1px solid transparent; */
	margin-bottom:1px;
	position:relative;
	background-color:#f0f0f0;
	background-image:url(../img/white_bg.png);
	background-repeat:no-repeat
}
.ux-up-icon-file {
	width:16px;
	height:16px;
	vertical-align:-3px;
	margin-right:4px;
	float:left;
}
.ux-up-item-selected {
	/*
	border-color:#c0c0c0;
	background-color:#f0f0f0;
	*/
}
.ux-up-indicator {
	background-color:yellow;
	height:17px;
	width:40px;
	position:absolute;
	opacity:0.4;
}
.ux-up-icon-state {
	width:16px;
	float:right;
	margin-right:2px;
	cursor:pointer;
	z-index:-1;
}
.ux-up-icon-queued {
	background-image:url(../img/silk/icons/page_white_get.png);
}
.ux-up-icon-uploading {
    background-image:url(../../../../ext2/resources/images/default/grid/wait.gif);
}
.ux-up-icon-done {
	background-image:url(../img/silk/icons/accept.png);
}
.ux-up-icon-failed {
	background-image:url(../img/silk/icons/error.png);
}
.ux-up-icon-stopped {
	background-image:url(../img/silk/icons/stop.png);
}
.ux-up-text {
	float:left;
}
.ux-ftm-nodename {
	color:black;
	font-weight:bold;
	cursor:default ! important;
}
/* {{{ 
// IconCombo */
.ux-icon-combo-icon {
	background-repeat:no-repeat;
	background-position:0 50%;
	width:18px;
	height:14px;
}
.ux-icon-combo-input {
	padding-left:25px;
}
.x-form-field-wrap .ux-icon-combo-icon {
	top:3px;
	left:5px;
}
.ux-icon-combo-item {
	background-repeat:no-repeat ! important;
	background-position:3px 50% ! important;
	padding-left:24px ! important;
}
/* }}} IconCombo end */
/* eof */
