/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* Main colors */
/* unused */
/* needs much more adaption, should be used as text color for elements with $colorSplash background */
/* a blueish dark gray */
/* generate the black from the $colorSplash */
/* default theme $colorSplash */
/* Status Message */
/* Brand colors */
/* Backgrounds */
/* Borders */
/* Shadows */
/* Grids */
/* Form field colors */
/* Buttons */
/* Context menus */
/* ComboBox dropdown menus */
/* Tree menus */
/* locked is already signaled with lock-icon, no need to use other semantic style here
   as italic is used for "unpublished" */
/* Top navigation colors */
/* unused */
/* unused */
/* unused */
/* Tabs */
/* Windows */
/* Font stacks */
/* unused */
/* unused */
/* Responsive breakpoints */
/* Path for background-images */
*,
::after,
::before {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  color: #333333;
  font: normal 13px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f1f2f7; }
  body a {
    color: #234368; }
    body a:hover {
      color: #162a42; }

a {
  transition: all .2s ease-in; }
  a:hover {
    opacity: .7; }

.button {
  display: inline-block;
  flex: 0 0 auto;
  padding: 13px 25px;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  line-height: 18px;
  font-weight: 500;
  font-size: 18px; }

#modx-next {
  background-color: #6CB24A;
  color: #FFF;
  border: 1px solid transparent; }
  #modx-next:hover {
    box-shadow: 0 0 15px 5px rgba(35, 209, 139, 0.2);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.135, 2.284); }

#modx-back {
  background: #FFF;
  color: #515151;
  border: 1px solid #515151; }
  #modx-back:hover {
    box-shadow: 0 0 15px 5px rgba(154, 158, 156, 0.2);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.135, 2.284); }

.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px; }

header {
  margin-top: 50px;
  margin-bottom: 20px; }
  header .wrapper_logo .logo {
    background: url("../images/modx-logo-color.svg") no-repeat center transparent;
    width: 220px;
    height: 85px;
    background-size: contain;
    display: block;
    position: relative;
    text-indent: -9999px;
    margin: 0 auto; }
  header .wrapper_version {
    display: flex;
    align-items: center;
    justify-content: center; }

#content .content-inside {
  padding: 20px; }
  #content .content-inside .wrapper {
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
    max-width: 890px;
    height: auto;
    min-height: 540px; }
    #content .content-inside .wrapper .content_header {
      display: flex;
      flex-wrap: wrap; }
      #content .content-inside .wrapper .content_header_title {
        width: 100%;
        font: bold 25px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        color: #1D1E20;
        border-bottom: 2px solid #E4E4E4;
        padding-bottom: 15px; }
    #content .content-inside .wrapper form {
      margin-top: 15px;
      display: block; }
      #content .content-inside .wrapper form .content-wrap {
        min-height: calc(430px - 80px); }
        #content .content-inside .wrapper form .content-wrap h2 {
          font-weight: 700;
          font-size: 22px; }
        #content .content-inside .wrapper form .content-wrap p {
          font-size: 16px; }
        #content .content-inside .wrapper form .content-wrap .title {
          font-weight: 500; }
    #content .content-inside .wrapper .setup_navbar {
      width: 100%;
      display: inline-block;
      border-top: 2px solid #E4E4E4;
      padding-top: 15px;
      margin-top: 15px; }
      #content .content-inside .wrapper .setup_navbar #modx-back {
        float: left; }
      #content .content-inside .wrapper .setup_navbar #modx-next {
        float: right; }
    #content .content-inside .wrapper .content_footer {
      padding-top: 25px;
      padding-bottom: 30px; }

footer {
  background: #FFF;
  padding: 15px 0; }

#install .content-wrap {
  padding: 100px; }
