/* structure */
.clear { clear: both; }
.title {
	font-size: 1.4em;
	color: #707070;
	font-weight: bold;
}

/* forms */
div.labelHolder {
    clear: both;
}

div.labelHolder input {
    width: 200px;
}

label, input[type=button] {
	cursor: pointer;
}
label {
    width: 20em;
    float: left;
    display: block;
}


/* tables */
table.options {
	width: 100%;
	font-size: .9em;
}
table.options tbody th {
	font-weight: normal;
	text-align: left;
	width: 40%;
}
table.options th img {
	text-align: left;
	margin: 0 .5em;
	float: left;
}
table.options label {
    width: auto;
}
table.options td,table.options th {
	padding-top: 1em;
}
table.options td {
	vertical-align: top;
}

/* misc styles */
.smalltext {
	font-size: .7em;
	color: #99CD00;
	background-color: #000;
}
.right { float: right; }
.left { float: left; }

.center { text-align: center; }
.center img { margin: 0 auto; }


/* error */
#modx_error {
    display: none;
	position: fixed; bottom: 0; right: 0;
	z-index: 999;
	opacity: 0;
	filter: alpha(opacity=0);
}

#modx_error a {
    color: black;
	text-decoration: none;
}

#modx_error a:hover {
	text-decoration: underline;
}

#modx_error .close {
	float: right;
    color: black;
	font-size: 10px;
	vertical-align: middle;
	height: 100%;
}

#modx_error .content {
    padding: 0 2em;
	clear: both;
	float: left;
	margin: 0 auto;
}
#modx_error br.clear {
    clear: both;
}

.field_error {
    font-size:0.8em;
    color: red;
}
.ok, .notok { 
	color: green;
	font-weight: bold;
}	
.notok { color: red; }

.error {
    color: red;
}
.success {
    color: green;
}
.warning {
    color: #c77c3b;
}
.finalsuccess { border: 0 !important; }
.right { float: right; }

/* other stuff */
.cleanup {
    float:left;
    cursor:pointer;
    color: #444;
    margin-top: 10px;
}
.cleanup label {
    display:inline;
    float:none;
}
.cleanup input {
    margin-top: 3px !important;
}

/* setup navbar */
.setup_navbar {
	border-top: 1px solid #e0e0e0;
    padding: 2em;
}
.setup_navbar button, .setup_navbar input {
    float:right;
    width:140px;
    cursor: pointer;
    margin: 0 1em 0 0;
    padding:3px;
    line-height: 1.2em;
    vertical-align:middle;
}

.note {
    background: #fffdbb;
    padding: 20px;
    border:2px solid #CBD499;
}
.note p {
    margin: 0;
}
.note hr {
    border: 1px solid #CBD499;
    border-width: 1px 0 0 0;
    margin: 10px 20px;
}
html {
    overflow-y: scroll;
    background: transparent;
}
.post_body {
    height: 20px;
    opacity: 1;
    background: #BCCACD;
    background: -moz-linear-gradient(top, #BCCACD 0%, #F2F2F2 69%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCCACD), color-stop(69%,#F2F2F2));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BCCACD', endColorstr='#F2F2F2',GradientType=0 );
}

#content {
    padding: 20px 20px 20px 20px;
    border: 1px solid #e1e1e1;
    background: white;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
html {
    background: url(../images/bg-pattern.png) top left repeat;
}

input, button, select {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 13px arial, tahoma, helvetica, sans-serif;
    vertical-align: middle;
}
input:active, input:hover {
    border: 1px solid green;
}
button {
    height: 33px;
}
input[type=submit], input[type=button], button {
    font-weight: bold;
    padding: 8px;
}