build.config.php
build.distrib.config.php
build.number
build.properties
build.properties.php
image/
distrib/
test/properties.inc.php
docs/build/
docs/log/

# ignore grunt files
bower_components
node_modules