@import url(./extensions.css);
@import url(./style.css);

textarea.x-form-field {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
}

.x-menu a {
    text-decoration: none !important;
}
.unpublished { font-style: italic; }
.bold { font-weight: bold; }
.deleted {
    font-style: italic;
    color: red !important;
}
.deleted a span {
    color: #CC3333 !important;
    text-decoration: line-through !important;
}
.hidemenu a span { color: gray !important; }

.error { color: red !important; }

.folder .x-tree-node-icon {
    background-image:url(../../../../assets/ext2/resources/images/default/tree/folder.gif) !important; 
}
.weblink .x-tree-node-icon {
    background-image:url(../../images/restyle/icons/weblink.gif) !important;   
}

.tree ul, .tree ul li { 
    list-style: none;
}

/* fixes masking issues */
.x-combo-list, .x-combo-list-item { z-index: 30000 !important; }
/* fixes combo bluescreen issue */
.x-combo-list-inner {  position:static; }