

/* fix safari triggerfield */
.ext-safari input,.ext-safari textarea{outline:none;}
.ext-strict .ext-safari .x-small-editor .x-form-text { height: 18px !important; }
.ext-safari .x-form-field-wrap .x-form-trigger{
    height: 21px;
    position:static;
    top:auto;
    vertical-align:top;
}