/* grid: make cells bigger */
.x-grid3-cell-inner, .x-grid3-hd-inner{
    padding:5px 5px 5px 7px;
}
.x-grid3-cell-text, .x-grid3-hd-text {
    padding: 5px 7px 5px 7px;
}
.x-grid3-row-expander { 
    height: 23px;
}
.x-grid3-row-collapsed .x-grid3-row-expander {
    background-position: 4px;
}
.x-grid3-row-expanded .x-grid3-row-expander {
    background-position:-21px 4px;
}

/* form : checkboxes : cursor point */
.x-form-check:hover {
    cursor: pointer;
}

/* context menus */
.x-menu a.x-menu-item {
    font-size: 12px;
    padding: 4px 21px 4px 3px;
	}

/* tabs */
.x-tab-strip span.x-tab-strip-text {
	font-size: 12px;
    }

/* form fields */
.modx-form .x-form-text, .modx-form .x-form-textarea {
    font-size: 14px;
	}
.modx-form .x-form-text {
    height: 22px;
    vertical-align: middle;
    }
.modx-form .x-form-item label {
    font-size: 14px;
    }
.ext-gecko .modx-form .x-form-text {
	padding-top: 4px;
	} 
	
.modx-form .x-form-field-wrap .x-form-trigger {
    height: 28px;
    }

/* grids */
.modx-grid {}
.modx-grid .x-grid3-row {
}
.modx-grid .x-grid3-row-alt{
    background-color:#f5f5f5;
}
.modx-form .x-form-field-wrap .x-form-trigger {
    height: 28px;
    }
    
    

.x-small-editor .x-form-field {
    padding: 5px 0 1px !important;
    font-size: 1em !important;
    height: 18px !important;
}
.x-small-editor .x-form-field-wrap .x-form-trigger {
    height: 23px;
}
